[2020-12-13 19:16] SabrinaDanielle commented on #295
Hello, I think my issue may be slightly unrealtated; however, when following the example in the quickstart, instead of getting a boolean value I get "{NO_ID_FIELD: undefined}".

[2020-12-13 19:17] SabrinaDanielle commented on #295
``javascript
import React from "react";
import { useFirestoreDocData, useFirestore, SuspenseWithPerf } from "reactfire";

const Products = () => {
  const burritoRef = useFirestore().collection("tryreactfire").doc("burrito");
  // subscribe to a document for realtime updates. just one line!
  const burrito = useFirestoreDocData(burritoRef);

  if (burrito.status === "loading") {
    return <p>Fetc

[2020-12-14 23:39] jhuleatt commented on #312
Hey @stevenkaspar, looks like you're referencing an older version of the sample. The current version calls it correctly: https://github.com/FirebaseExtended/reactfire/blob/8d36acdbfa69afbdf38c529abe7ac96bc9a83715/example/withSuspense/App.tsx#L26-L31

Was there a spot in the docs that linked you to the old version? If so, please let us know so we can clean that up

[2020-12-15 03:34] ljrodriguez1 opened #313 "Query complete collection."
Hello i was trying to do this.
`
const todosRef = useFirestore().collection('todoList').get()
`
`
const todos = useFirestoreDocData(todosRef);
`
But i was not able. i think it would be a nice feature to have the option to query an entire collection and watch for changes on it.

Then i realise that maybe the correct intention of Firestore usage is to have a document with a list.

Can the first idea

[2020-12-15 17:24] jhuleatt commented on #313
Hey @ljrodriguez1, glad to hear you figured it out. Here's an example from the demo app in this repo of using `useFirestoreCollectionData`:

https://github.com/FirebaseExtended/reactfire/blob/8d36acdbfa69afbdf38c529abe7ac96bc9a83715/example/withoutSuspense/Firestore.tsx#L37-L43

`useFirestoreCollectionData` uses `onSnapshot` under the hood, so it will have the same streaming behavior as the [norma

[2020-12-15 17:24] #313 closed

[2020-12-15 17:25] #312 closed

[2020-12-28 09:29] hubgit opened #315 "Add an option to use local Firebase emulators"
After creating an app with react-scripts, initialising Firebase and installing ReactFire, there are still quite a few steps needed to be able to develop the app using the local Firebase emulators:

1. Run `firebase emulators:start` to start the emulators.
2. Add `"proxy": "http://localhost:5000"` to package.json so that requests for `/__/firebase/init.json` are proxied to the hosting emulator.
3.

[2020-12-30 09:19] Torres7707 opened #316 "can not get the isYummy value from database, it is undefined"
### Version info

**React:*"^17.0.1"*

**Firebase:*"^8.2.1"*

**ReactFire:*"^3.0.0-rc.0"*

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

##### Index.js
[code]

#### App.js
[code]

### Steps to reproduce

I think you can use this example code to reproduce!

### Expected behavior

the value of 'yummy' I set in firebase is 'good', so it should show 'The Burrito is

[2020-12-30 09:28] Torres7707 commented on #316
I found the yummy is in the 'data' attribute of the 'burrito' object, my fault, sorry...

[2020-12-30 13:18] prilutskiy commented on #295
@jhuleatt Jeff, in that case, how do we get the id of a created document, when it's generated by Firebase?
I believe it makes sense to still have something like `_uid` attached to docs.

[2020-12-30 16:10] prilutskiy commented on #249
I faced the same issue yesterday. My guess is that the problem is in how the return value of the `useUser` hook is calculated. Usually, things like auth, currentUser, theme, etc. are passed through context, so when something changes react tree reacts appropriately, rebuilding stuff from top to bottom.

In this case, user value doesn't come from the context, so when it changes, it's then just being

[2020-12-31 01:05] davideast commented on #316
Glad you found it and that it was yummy 😂

[2020-12-31 01:05] #316 closed

[2021-01-02 08:25] guytepper commented on #312
Hey @jhuleatt, I got to the old version from https://github.com/FirebaseExtended/reactfire/issues/235#issuecomment-602695851.
It'd be nice to have the reference updated over there :]

[2021-01-02 20:26] ljrodriguez1 commented on #237
Hello i am not able to preload firestore, i am trying to enable persistance as follows
` preloadFirestore({
    setup: firestore => firestore().enablePersistence()
  });
`
I would like some help to enable this option.

[2021-01-02 22:45] Mattinton opened #319 "Cannot use jest.spyOn to mock a hook e.g. useAuth"
### Version info

**React:** 17.0.1

**Firebase:** 8.2.1

**ReactFire:** 3.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):**
Create React App v4

### Test case

`
import * as reactfire from 'reactfire';
jest.spyOn(reactfire, 'useAuth').mockImplementation(() => ({} as any));
`

### Steps to reproduce

Run a jest test that mocks a reactfire hook such as useAuth

### Expecte

[2021-01-03 00:49] gpsanant opened #320 "useFirestoreDocData never loading data"
### Version info

**React:** ^17.0.1

**Firebase:** ^8.2.1

**ReactFire:** ^3.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):** Chrome

### Issue

Followed the tutorial within an express app. Set up react views and served the following file:
[code]

I expect the correct data to eventually load. The check function logs `{yummy: true}` like it should but when I continually

[2021-01-04 11:41] Bullfrog1234 commented on #315
I agree with @hubgit suggestion, this would make the development experience better for all firebase products when using reactfire.

This would also align with the push in Firebase Summit 2020 #AskFirebase session which was pushing the emulators for use during dev.

Can you please add this to the backlog for someone to pickup and implement.

Cheers
Bullfrog1234

[2021-01-04 23:52] elliotcw commented on #237
This is my working code. You likely need to pass in` firebaseApp`.

[code]

[2021-01-06 19:37] jhuleatt commented on #320
Hey @gpsanant, it looks like the quickstart is out of date. Sorry about that. I just made some fixes to the readme that provides a working StackBlitz link and complete Firestore sample code. I'd recommend using that as a starting point as we work to make the quickstart better. [Here's a link](https://stackblitz.com/fork/reactfire-sample) to create a fork that you can edit.

[2021-01-06 19:40] #297 closed

[2021-01-06 20:06] jhuleatt opened #321 "Update quickstart to 3.x api"
The [quickstart](https://github.com/FirebaseExtended/reactfire/blob/master/docs/quickstart.md) doesn't use the latest 3.x apis. We need to update it to support them. At the same time, we should consider making sure it works without concurrent mode.

[2021-01-06 20:36] jhuleatt commented on #295
@SabrinaDanielle it looks like the quickstart code is outdated, apologies for that. I filed #321 to fix the quickstart.

[2021-01-07 01:03] asinbow opened #322 "SuspenseWithPerf is not compatible with jsdom"
SuspenseWithPerf is not compatible with jsdom, making itself not friendly to writing tests.
### Version info

**React:** 17.0.1

**Firebase:** 8.2.1

**ReactFire:** 3.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):** testing with jsdom

### Test case

### Steps to reproduce

* Use the standard react template
* Follow https://github.com/FirebaseExtended/reactfire/blob/mast

[2021-01-07 23:23] gpsanant commented on #320
Hey @jhuleatt, thanks for the reply. I put that code in my file but I unfortunately get the same result. The only difference between my code and the StackBlitz code is that you use react-dom to render the React component while I export the app component and render it using res.render in my Express app.js. Could this be messing something up?

[2021-01-11 02:39] thomasmburke opened #325 "ClaimsCheck throwing TypeError: Cannot read property 'claims' of undefined"
### Version info

**React:** ^16.14.0

**Firebase:** 8.2.1

**ReactFire:** 3.0.0-rc.0

### Steps to reproduce

Seems to happen with any `AuthCheck` that uses the `requiredClaims` param or by calling `ClaimsCheck` directly
[code]

### Expected behavior

Users with custom claims should pass the `AuthCheck` or `ClaimsCheck` and fallback to the fallback argument

### Actual behavior

Receiving error:

[2021-01-14 18:41] #319 closed

[2021-01-18 07:48] mmmulani opened #327 "useFirestoreDocData returns status: "success" for wrong document"
### Version info

**React:** react-16.14.0

**Firebase:** firebase-7.21.0

**ReactFire:** reactfire-3.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

[code]

### Steps to reproduce

Include the `TestBug` component somewhere in your view hierarchy and change the `DOCUMENT_IDS` and `"images"` to actual documents in your instance. Check the console log for

[2021-01-20 10:42] catrawalkar opened #328 "Unable to run SuspenseWithPerf"
### Version info

**React:**

**Firebase:**

**ReactFire:**

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

I tried to follow all the exact code in Example. When I use SuspenseWithPerf, I get following error:

[code]

What am I possibly doing wrong? Can someone help me?

### Expected behavior

### Actual behavior

[2021-01-20 10:43] catrawalkar commented on #328
![Screenshot 2021-01-20 161259](https://user-images.githubusercontent.com/15074162/105163834-683d2300-5b3a-11eb-9b1a-d6b1c9849762.png)

[2021-01-20 12:02] catrawalkar commented on #328
P.S I am using Next JS. Is there any setting that I have to do explicitly?

[2021-01-22 07:24] Ljugoboss commented on #325
I'm running into the same issue.

The problem seems to occur due to `latest` always ending up defaulting to `config.initialData` in `useObservable` the first time it returns a value, but no config is sent in from `CheckClaims`;
![image](https://user-images.githubusercontent.com/4201301/105459552-b7926900-5c8a-11eb-9a94-3ae3180acc29.png)
![image](https://user-images.githubusercontent.com/4201301/10

[2021-01-25 09:17] AbrarShahriar commented on #320
@jhuleatt  Your code actually worked for me...but the quickstart is just...*sighs
Please, update the instructions. That quickstart took 2 hours from my life😓

[2021-02-01 11:28] dennemark opened #330 "Preload functions to set region"
Hi,

I am trying to preload functions to set their region.

### Version info

**React:** 17.0

**Firebase:** 8.2.4

**ReactFire:** 3.0.0

### Steps to reproduce

In my index file, I am preloading firebase components as stated in the guides, but trying to preload functions, too. When I try to use functions in another component, the set region defaults to us-central1 instead of using the custom regi

[2021-02-02 06:07] subhendukundu commented on #315
I love the idea. But there would be one concern.
Sometimes, `firebase emulators:start` throws errors on ports. So ideal would be to have ana ability to change the port too.

[2021-02-06 04:01] ngocdaothanh opened #331 "Please add guide about idField to doc"
The current doc:
https://github.com/FirebaseExtended/reactfire/blob/main/docs/quickstart.md
https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md

doesn't mention how to use `idField` and about `NO_ID_FIELD`.

I'm a new user of Firestore, and I even thought `NO_ID_FIELD` was set by Firestore server side service.

I luckily figured it out when reading the source code.

So please add g

[2021-02-06 04:10] ngocdaothanh opened #332 "Please add guide about setting suspense={true} in FirebaseAppProvider, or specify suspense option when calling hooks"
The current doc:
https://github.com/FirebaseExtended/reactfire/blob/main/docs/quickstart.md
https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md

mentions about using Suspense, but it doesn't mention how to enable it (because it's disabled by default)!

I'm a new Firestore user.
I started using reactfire a few days ago, and I've been thinking there's bug in reactfire!

It's because

[2021-02-06 17:24] hewseph opened #333 "Firebase storage"
How do you get and create with firebase storage?

[2021-02-08 00:55] ngocdaothanh opened #334 "Please clarify in README about the relationship of this project with React Native Firebase"
React Native Firebase:
https://rnfirebase.io/

I have some questions that I think they should be mentioned in README:

* On smartphones with React Native, I should use React Native Firebase (over ReactFire)?
* If ReactFire is also usable on smartphones, how does it perform differently compared to React Native Firebase?
* The hooks of ReactFire are very cool. React Native Firebase doesn't have hook

[2021-02-10 12:48] priyarithadia opened #335 "TypeError: firebase__WEBPACK_IMPORTED_MODULE_5__.default.firestore.FieldValue.serverTimeStamp is not a function"
db.collection("posts").doc(postId).collection("comments").add({
       text: comment,
       username: user.displayName,
       timestamp: firebase.firestore.FieldValue.serverTimeStamp()
        });
    setComment('');
   }

[2021-02-12 23:11] arthurnn commented on #334
FWIW, i was able to install using:
[code]

[2021-02-13 01:26] ngocdaothanh commented on #334
In that case, you can follow this instruction to enable suspense (and you need to put your components inside `<Suspense>` component):
https://github.com/FirebaseExtended/reactfire/issues/332

[2021-02-18 18:54] #321 closed

[2021-02-24 00:18] webbertakken opened #337 "Suggested signature cleanup in example; side effect vs. hook"
Hi there, and thanks for this great project!
I especially like how it keeps the signature for small projects very tidy.

On topic; I was looking through the code and some of the examples and spotted this [todo](https://github.com/FirebaseExtended/reactfire/blob/252b60781086d657e4d43fa12237e0a068e395f1/src/auth.tsx#L9) and another [todo](https://github.com/FirebaseExtended/reactfire/blob/252b607810

[2021-03-02 01:07] ljrodriguez1 opened #340 "React Native"
Simple question does this work on React Native

[2021-03-03 15:47] #322 closed

[2021-03-03 19:25] mnlfischer opened #342 "Observable hasEmitted with useUser Hook never gets true"
**React:** 17.0.1

**Firebase:**8.2.9

**ReactFire:**3.0.0rc.0

### Test case

https://codesandbox.io/s/musing-sky-dt1zi?file=/src/App.js

### Steps to reproduce

Use useUser in a component and load the page for first time. Try to use a loading state with
`if (status === "loading" || hasEmitted === false)` and see that hasEmitted never gets true, so the loading state never disappears.

Note: When

[2021-03-05 23:38] frankh commented on #342
I got this to work by passing initial data of {}. Feels like there should be a better way as you have to pass undefined as the auth param (or useAuth()) to pass the initial data in

`const { status, data: user, hasEmitted } = useUser(undefined, {initialData: {}});`

[2021-03-06 14:37] Mattinton opened #344 "Firestore incompatible with Create React App / Jest / JSDOM"
### Version info

**React: 17**

**Firebase: 8.2.10**

**ReactFire: 3.0.0-rc.0**

### Test case

[code]

### Steps to reproduce

1. Use a standard create-react-app template
2. Setup a test similar to the one above
3. Run it

### Expected behavior

Test should pass

### Actual behavior

[code]

I've also raised issues elsewhere. I believe the problem is that Jest is loading Node dependencies and no

[2021-03-08 15:49] devth commented on #295
Agree, why not default it to `_id` or something? Alternatively, let users set a global default so we don't have to keep passing `{ idField: "id" }` on all `useFirestoreCollectionData` calls.

[2021-03-08 18:32] caleb-harrelson opened #346 "Disabling queries via ReactFireOptions"
I've read the discussion in #178 and am yet another person that has run into the wall of "can't use the hooks with a not-yet-defined id". I understand and agree with your desire to keep undefined/null ids as errors. But we still run into situations where the use of react-fire hooks constrains our design decisions and requires us to make several small components that issue the same query when one q

[2021-03-09 13:45] ElinOlundForsling commented on #325
Is there a workaround to this that doesn't involve changing the node_modules files if an update is upcoming? Suspense, preload user?

[2021-03-12 09:38] amiregelz commented on #342
I also ran into this today. Thanks for updating with your workaround.
What's the meaning of `hasEmitted`?

[2021-03-12 11:18] alexmcmanus commented on #344
I ran into a series of issues trying to get CRA/Jests tests working with `reactfire` and the emulators, and ultimately gave up. I couldn't even get the Firestore tests copied out of `reactfire` working in my project. It would be really helpful if the documentation could provide guidance (or even better, a working example) of how to get a CRA/Jest/Emulator test setup working for components and hook

[2021-03-12 11:40] Mattinton commented on #344
I've raised a bunch of issues and come to the conclusion that at the moment it's not really possible/simple at the moment unfortunately. I'm currently in the process of coming up with add decent mocking solution.

[2021-03-19 22:12] Virgil1880 opened #350 "FirebaseAuth"

[2021-03-21 10:33] dahmc commented on #344
I'm running tests with the above configuration without issues. Here's what i do

package.json: (ignore craco, that's just for less support, you can use react-scripts here)
[code]

Then, the customTestEnvironment.js
[code]

[2021-03-21 10:42] dahmc commented on #295
I agree with this. I'm even fine with keeping the current behaviour, as long as we have a way of omitting the id field completely.

We don't always need it. If I target a specific document only, I already know the Id, otherwise I can't target it. So having that field in there makes me have to filter it out every time i want to use the data.

[2021-03-21 15:02] JoFont opened #351 "Indexed Collection Group Query produces infinite loop"
Hello, good afternoon.

I don't know if I'm missing something but subscribing to an indexed collectionGroup returns an infinite loop. It also doesn't trigger the usual Firestore error to index this query when one does not exist. I had to manually trigger a .get() using the firebase js API in order to get the url to create the index.

After successful indexing, I can use this query with the JS API

[2021-03-25 20:04] jongmoseo commented on #332
Same thing here, thank you @ngocdaothanh for the information.

[2021-03-29 20:48] RushfordBaptist opened #352 "Problem using SuspenseWithPerf"
### Version info

**React: 0.0.0-experimental-7d06b80af**
**Firebase: ^8.2.6**
**ReactFire: ^3.0.0-rc.0**

### Test case
I'm not sure how to make a reproducible example without showing private information.

### Steps to reproduce
Here is my current index.js file.
[code]

When I run the program, I get the following error:
[code]
If I replace SuspenseWithPerf with just Suspense (importing from React

[2021-04-01 01:46] MorenoMdz opened #354 "AuthCheck loads Login page briefly on page refresh"
https://user-images.githubusercontent.com/29472480/113232276-38fe0d00-9273-11eb-80c0-472cffeb3798.mov

### Version info

**React:** 16.13.1

**Firebase:** 8.3.1

**ReactFire:** 3.0.0-rc.0

We are moving our project from an old redux setup to Reactfire and maybe React Context if needed. I was able to move all the screens to reactfire hooks without major issues. The issue we are having is that on re

[2021-04-01 06:32] dlarroder commented on #354
You can try adding `suspense` on

[code]

[2021-04-01 12:58] MorenoMdz commented on #354
Thanks for the suggestion, with the suspense prop I get the suspense error:
`Error: App suspended while rendering, but no fallback UI was specified.`

What structure you are using in the index and app files?

[2021-04-02 08:54] longuniquename opened #355 "Typings problem: Can't pass record type to `useFirestoreCollection`"
When I use `useFirestoreCollection` I always have to use it as `useFirestoreCollection<unknown>` in TypeScript.

Can you please change:
[code]
here:
https://github.com/FirebaseExtended/reactfire/blob/9d96d92d212fbd616506848180e02e84d4866409/src/firestore.tsx#L110-L118

[2021-04-02 20:50] #354 closed

[2021-04-05 16:11] kishaningithub commented on #350
@Virgil1880 Please describe the issue

[2021-04-06 12:20] olawalejuwonm opened #356 "No Configuration Found"
### Version info

**React: latest**

**Firebase: latest**

**ReactFire: latest version**

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case
followed this https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md#combine-auth-firestore-and-cloud-storage-to-show-a-user-profile-card and still getting No Configuration Found Error

### Steps to reproduce

### Ex

[2021-04-07 16:14] jhuleatt commented on #352
Hey @RushfordBaptist thanks for the thorough issue! One quick thing to double check is just that you've configured ReactFire with the most up-to-date [Firebase config object](https://support.google.com/firebase/answer/7015592), and to update to the latest version of the `firebase` npm package.

I believe Firebase Performance may use Remote Config to set some configuration values internally in the

[2021-04-07 16:24] jhuleatt commented on #352
Looks like this may be an issue for older Firebase projects that are missing an API that is auto-enabled in newer projects (more detail in [this Stack Overflow answer](https://stackoverflow.com/a/54603795/4816918)).

Try enabling the Remote Config API for your project by visiting  https://console.cloud.google.com/apis/api/firebaseremoteconfig.googleapis.com/overview, selecting your project in the

[2021-04-07 16:26] jhuleatt commented on #350
Closing this due to lack of information

[2021-04-07 16:26] #350 closed

[2021-04-07 17:23] jhuleatt commented on #344
Hi @Mattinton, now that firebase/firebase-js-sdk#4552 is fixed, is this still an issue?

[2021-04-07 17:30] jhuleatt commented on #342
Thanks @mnlfischer for the repro! @jamesdaniels would you be able to look into this? `hasEmitted` is set here:

https://github.com/FirebaseExtended/reactfire/blob/9d96d92d212fbd616506848180e02e84d4866409/src/useObservable.ts#L82

[2021-04-07 17:31] jhuleatt commented on #340
@ljrodriguez1 please check out [react-native-firebase](https://rnfirebase.io/) for React Native support.

[2021-04-07 17:31] #340 closed

[2021-04-07 17:33] jhuleatt commented on #333
Hi @hewseph, check out the `example` directory to see how to use Storage with ReactFire.

get:

https://github.com/FirebaseExtended/reactfire/blob/9d96d92d212fbd616506848180e02e84d4866409/example/withoutSuspense/Storage.tsx#L51-L60

upload:

https://github.com/FirebaseExtended/reactfire/blob/9d96d92d212fbd616506848180e02e84d4866409/example/withoutSuspense/Storage.tsx#L23-L49

[2021-04-07 17:33] #333 closed

[2021-04-07 18:15] RushfordBaptist commented on #352
Thanks for the replies.

I updated to the most recent version of Firebase, 8.3.2

My understanding is that these lines from my index.js file are automatically loading the most up-to-date Firebase config object.
`fetch('/__/firebase/init.json').then(async (response) => {
  const firebaseConfig = await response.json()
  const firebaseApp = firebase.initializeApp(firebaseConfig)`

I also enabled the

[2021-04-07 18:26] RushfordBaptist commented on #352
Actually, that doesn't seem to be the issue either because it's happening on the deployed version as well.

[2021-04-07 20:04] #352 closed

[2021-04-07 21:14] jhuleatt commented on #356
@olawalejuwonm can you please include the full error message you're getting? It will make it easier for me to help.

[2021-04-07 23:51] #356 closed

[2021-04-08 08:02] olawalejuwonm commented on #340
Does it work on expo?

[2021-04-10 12:55] pbarringer3 opened #361 "API reference 404 error"
The link to the API reference is broken. I'm getting a 404 error when I follow it.

[2021-04-12 02:09] DerKO9 commented on #361
I am getting the 404 also

[2021-04-12 15:16] jhuleatt commented on #361
Apologies! Fixing that now

[2021-04-12 15:22] #361 closed

[2021-04-12 18:46] DerKO9 commented on #361
Thanks! I'm excited to try reactfire out!

[2021-04-12 20:27] ItayElgazar commented on #354
@MorenoMdz Really? does this work for you? It works for me, but then I get "Loading" spinner everywhere for every action that requires firebase

[2021-04-12 21:41] MorenoMdz commented on #354
The spinner you get is from suspense or from fetching something? That structure is at my index.js

[2021-04-12 21:43] ItayElgazar commented on #354
Yeah when I think about it it makes sense, it’s when I fetch something. But
you just have some global spinner when you fetch something then?

On Tue, 13 Apr 2021 at 00:41, MorenoMdz ***@***.***> wrote:

[2021-04-12 22:13] MorenoMdz commented on #354
You can handle that in many different ways, having global stored isLoading state for example. In this application, we have a locally set loading state for each individual screen/page.

[2021-04-13 16:08] Mattinton commented on #344
Hey @jhuleatt, things are working now with the fix from @dahmc. Maybe this should be documented somewhere or raised as a new issue as it seems to  come and go.. Either way I think you can probably close this?

[2021-04-19 19:53] joelclimbsthings opened #363 "Unable to execute a firestore().where() query, using Suspense"
I apologize for the usage question, but I've been pouring over all of the provided documentation and can't seem to find an example of executing a simple firestore query. My attempts at using the provide API functions is so far failing pretty spectacularly:

[code]

![image](https://user-images.githubusercontent.com/444632/115294529-8ef50080-a10d-11eb-93e3-57ef725419b4.png)

I've tried several vari

[2021-04-19 20:55] joelclimbsthings commented on #363
Nevermind that, I was making it slight harder than I needed to with the `useCollection()` hook.

This works:
[code]

[2021-04-19 20:55] #363 closed

[2021-04-21 12:55] #335 closed

[2021-04-23 18:28] facinick opened #364 "How to use ReactFire for Phone auth using invisible recapcha?"

[2021-04-23 18:32] #364 closed

[2021-04-25 13:45] w90 opened #365 "Typo in auth example files?"
https://github.com/FirebaseExtended/reactfire/blob/b4f22bc0a84729245db87861d5190a0483b19348/example/withSuspense/Auth.tsx#L36

Hello, shouldn't that be ```useAuth()``` there?

[2021-04-27 14:33] jhuleatt commented on #325
Some context on our slow response here:

`ClaimsCheck` was originally written when reactfire was Suspense/Concurrent mode-only, before the big [optional Suspense change](https://github.com/FirebaseExtended/reactfire/pull/255). In the old version of ReactFire, `data` would never be `undefined` because the component wouldn't get to that line until the data fetch completed (thanks to Suspense).

We u

[2021-04-27 14:41] jhuleatt commented on #365
Hey @w90, good question! Even though it looks like it should have parens, `useAuth` uses a [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) under the hood.

The reason for this is explained by @jamesdaniels  in https://github.com/FirebaseExtended/reactfire/pull/215#issue-376922716:

[2021-04-27 14:41] #365 closed

[2021-04-27 19:28] jhuleatt commented on #237
sample has been updated: https://github.com/FirebaseExtended/reactfire/blob/ecb499677f419882b6d3e49da4c1ba85d0a07ae5/example/withSuspense/App.tsx#L26-L31

[2021-04-27 19:28] #237 closed

[2021-04-29 16:32] jhuleatt commented on #355
FYI @jamesdaniels

Hi @longuniquename, thanks for the feature request. This makes sense to me, and I'm working on an update in #366

[2021-04-29 16:36] jhuleatt commented on #344
Thanks for confirming it is working now. Hopefully it won't pop up again now that the root issue, https://github.com/grpc/grpc-node/issues/1708, is now resolved.

[2021-04-29 16:36] #344 closed

[2021-04-29 16:48] jhuleatt commented on #328
`SuspenseWithPerf` relies on the browser's built-in `Performance` interface as part of the [User Timing API](https://developer.mozilla.org/en-US/docs/Web/API/User_Timing_API), so I don't think it will work with Next.JS's server-renderer right now.

[2021-04-29 18:30] jhuleatt commented on #337
Hi @webbertakken, thanks for the thoughtful issue. We'd definitely be open to a PR with these changes if you're still willing.

- `preloadUser`: I agree with this one wholeheartedly
- `AuthCheck` and `useAuth`: Short answer: I agree with your conclusion. Long answer: We had originally left the `auth` argument in to allow someone to potentially check someone's signed-in status across multiple Fireb

[2021-04-30 18:08] #337 closed

[2021-04-30 18:09] #355 closed

[2021-04-30 18:29] webbertakken commented on #337
Wow that was fast @jhuleatt! I didn't even get a chance 😄

Thanks a lot!

[2021-04-30 18:39] jhuleatt commented on #325
Update: I'm working on the proposed hooks in #368, please leave feedback there

[2021-05-02 11:58] aalises commented on #342
Also ran into this issue. I need it specially so I can discern the `loading` state (auth not resolved) vs. the user is signed out.

The workaround from @frankh solves this but it has the issue that does not set the `currentUser` correctly (I use it for setting it some auth token and it's `{}` with the workaround.

[2021-05-06 17:23] #342 closed

[2021-05-07 21:27] longuniquename commented on #355
thank you a lot!

[2021-05-11 23:24] olawalejuwonm commented on #226
@alxhotel does the library work on expo?

[2021-05-14 16:00] #325 closed

[2021-05-20 21:32] jhuleatt commented on #320
Fixed in #326

[2021-05-20 21:32] #320 closed

[2021-05-23 11:21] prilutskiy opened #374 "Infinite request loop in useFirestoreCollection"
Hello,

the following code results in an infinite loop when user isn't authenticated aka `user.data` is `undefined`. Is this expected?

[code]

When something random and non-existent is passed to `doc(myId)`, it throws `Missing or insufficient permissions`, when `null` is passed it throws `Function CollectionReference.doc() cannot be called with an empty path`, however when `undefined` is passed t

[2021-05-24 09:02] alenakazarina opened #375 "'useSigninCheck' is not exported from 'reactfire'"
### Version info

**React:** 17.0.2

**Firebase:** 8.6.1

**ReactFire:** 3.0.0-rc.0

**Node:** 14.0.0

### Steps to reproduce

import {useSigninCheck} from 'reactfire';

### Expected behavior

useSigninCheck hook is imported

### Actual behavior

Attempted import error: 'useSigninCheck' is not exported from 'reactfire'.

[2021-05-24 21:44] ColeSquared commented on #375
I am able to reproduce this. Any way to fix it?

[2021-05-24 22:30] jhuleatt commented on #375
We haven't released a new RC that includes `useSigninCheck` - for now, please do `npm i reactfire@canary` to get a version that has `useSigninCheck`.

[2021-05-24 22:41] ColeSquared commented on #375
Looks like the latest canary release is from 5 months ago and this also doesn't include `useSigninCheck`. Is there another way to install that does include this hook?

[2021-05-28 09:11] #375 closed

[2021-05-30 09:36] armandabric opened #379 "Unable to use provider to trigger signInWithPopup"
Hey there ! I'm trying to sign-in with GitHub on one of my project but I didn't success to use the `auth.signInWithPopup()`

I'm using this basic component to sign-in:

[code]

### Actual behavior

When I trigger the button I got an error: the GitHub provider looks like a valid instance but it's rejected.

![image](https://user-images.githubusercontent.com/95120/120099268-dfaf3e80-c13a-11eb-901c-c

[2021-05-31 07:38] armandabric commented on #379
I found the issue after a good night of sleep.

The good way to init the provider is:
[code]

[2021-05-31 07:38] #379 closed

[2021-05-31 15:59] dennemark opened #380 "useIdTokenResult forceRefresh not working?"
### Version info

**React:** 17 experimental with suspense

**Firebase:** 8.6.2

**ReactFire:** 3.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

I am using nextjs and reactfire. I am setting auth claims on one page and using the normal query, I get new claims. Afterwards I switch the page.
[code]

Now on the new page, I can get the new claims via the ab

[2021-06-04 06:07] Haqverdi commented on #380
Same issue

[2021-06-04 17:25] NanoCode012 opened #382 "[BUG] 'FetchXmlHttpFactory' is not exported from '@firebase/webchannel-wrapper'"
### Version info

**React:** 17.0.2

**Firebase:** 8.6.4

**ReactFire:** 3.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

Cannot reproduce on codesandbox

### Steps to reproduce on Windows

1. Create new react app via `create-react-app`
2. `npm install --save firebase reactfire`
3. Add `import { FirebaseAppProvider } from 'reactfire';` in index.js
4. Er

[2021-06-04 17:31] NanoCode012 commented on #382
Extra info: I just found out that the wrapper had an update 1 hour ago relating to this exact `FetchXmlHttpFactory`.

https://github.com/firebase/firebase-js-sdk/commit/10fb5b87faecf3aa79e15545b21de99af3e51a71

[2021-06-05 06:38] NanoCode012 commented on #382
Related
https://github.com/firebase/firebase-js-sdk/issues/4977
https://github.com/firebase/firebase-js-sdk/issues/4984

Removing package lock and `npm install` fixed it.

[2021-06-05 06:38] #382 closed

[2021-06-06 11:20] Zombiefruit opened #383 "Feature request: enforce generic types when passed to `ReactFireOptions`"
### Enforce generic types when passed to `ReactFireOptions`, update various types

Hey guys, will try to keep this short. Right now `ReactFireOptions` is generic on `T` but the type of `initialData`, which should be _only_ of_ type `T` is of type `T | any`.

[code]

The result of this is that the generic parameter is useless, as we don't get any type enforcement on `initialData`. For example, this

[2021-06-10 14:36] devth opened #388 "Support for modular firebase v9 SDK"
Feature request for supporting the [modular firebase v9](https://firebase.google.com/docs/web/learn-more#modular-version). Might be early but wanted to get an issue open to start tracking it.

[Docs on upgrading](https://firebase.google.com/docs/web/modular-upgrade) and some of the benefits you get.

[2021-06-10 15:48] jhuleatt commented on #388
Hey @devth, thanks for the request. We're working on this in https://github.com/FirebaseExtended/reactfire/pull/369

[2021-06-10 15:49] devth commented on #388
Awesome!

[2021-06-23 02:57] mdanics opened #391 "GeoPoint support?"
**React:** 17.02

**Firebase:** 8.6.8

**ReactFire:** 3.0-canary

### Expected behavior
https://firebase.google.com/docs/reference/js/firebase.firestore.GeoPoint there is support for a GeoPoint in the actual sdk. I would expect to be able to

[code]
and then be able to get to the geopoint constructor by `new firestore.GeoPoint()` but it doesn't exist.

[2021-06-25 07:11] mdanics commented on #391
It's possible by importing firebase like so:

[code]

[2021-06-25 07:11] #391 closed

[2021-06-30 18:19] tarscher opened #395 "Crash when using Cloud Storage StorageImage"
### Version info

**React:**
17.0.2
**Firebase:**
^8.6.8
**ReactFire:**
3.0.0-rc.0
**Other (e.g. Node, browser, operating system) (if applicable):**
"nextjs": "^11.0.1",
Node: 14
### Test case

[code]

### Actual behavior
C:\box2\app\node_modules\@firebase\storage\dist\index.cjs.js:510
        this.xhr_ = new XMLHttpRequest();
                        ^

ReferenceError: XMLHttpRequest is not define

[2021-07-01 18:41] jhuleatt commented on #395
Hi @tarscher, The Firebase Storage SDK (which StorageImage is using under the hood) is meant to be run in the browser, where `XMLHttpRequest` is built-in. You'll have to either [polyfill](https://github.com/vercel/next.js/discussions/17404#discussioncomment-86126) or make sure that this component only renders client-side

[2021-07-03 13:22] hcyildirim commented on #374
Hi, did you solve your problem? If yes, could you help me?

[2021-07-03 22:44] epodol opened #397 "lastValueFrom not available in rxjs 6.6.3"
### Version info

**React:** `17.0.2`

**Firebase:** `8.6.8`

**ReactFire:** `3.0.0-rc.1`

**Other (e.g. Node, browser, operating system) (if applicable):** Windows using WSL 2 / Ubuntu

### Test case

### Steps to reproduce

1. Update reactfire from `v3.0.0-rc.0` to `v3.0.0-rc.1`

![image](https://user-images.githubusercontent.com/34190213/124368196-82178180-dc13-11eb-9ac2-1cc711429f79.png)
![ima

[2021-07-03 23:19] epodol opened #399 "CONTRIBUTING.md Outdated"
The `.github/CONTRIBUTING.md` file is out of date.

https://github.com/FirebaseExtended/reactfire/blob/4d1206d615eeaefc790d99b2c5f07cd44219a455/.github/CONTRIBUTING.md#L18
Results in GitHub 404

https://github.com/FirebaseExtended/reactfire/blob/4d1206d615eeaefc790d99b2c5f07cd44219a455/.github/CONTRIBUTING.md#need-to-get-set-up-locally
This section seems to reference directories that no longer exi

[2021-07-03 23:54] epodol commented on #397
I've opened #398 to fix this by disallowing `rxjs` `v6.6.3`. Feel free to use that or close it if there is a better solution. Thank you!

[2021-07-07 15:36] epodol commented on #330
Hi @dennemark, I also had the same issue and came to the same conclusion. I had created an issue in https://github.com/firebase/firebase-tools (https://github.com/firebase/firebase-tools/issues/3537) and this was the main takeaway:

_Originally posted by @samtstern in https://github.com/firebase/firebase-tools/issues/3537#issuecomment-871285637_

I solved this the same way you did:
https://github.

[2021-07-07 18:19] #397 closed

[2021-07-09 00:18] seanaguinaga opened #401 "SyntaxError: Cannot use import statement outside a module"
[code]

on rc2

any ideas?

[2021-07-09 15:30] aalises commented on #401
Running into the same problem.

[2021-07-09 15:32] epodol commented on #401
Can you give a code sample? I would be happy to look into it.

[2021-07-09 15:59] galvarez421 commented on #401
I believe this may be due to https://github.com/FirebaseExtended/rxfire/issues/17.

[2021-07-09 16:29] seanaguinaga commented on #401
Same issue

You’re right 

On July 9, 2021, "dependabot[bot]" ***@***.***> wrote:

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/FirebaseExtended/reactfire/issues/401#issuecomment-
877288436>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/ADUMGRHG2F7LNAVSLBQTZ33TW4MGFANCNFSM5ABXMHFA>.

[2021-07-14 13:19] fabn commented on #401
Is this solved in v3.0.0-rc.2? Any workaround for this?

[2021-07-14 16:23] epodol commented on #401
I believe this is a problem with FirebaseExtended/rxfire#17. `rxfire` was updated to `5.0.0-rc.1` in reactfire `3.0.0-rc.1` (#372), so reverting to reactfire `3.0.0-rc.0` is probably the best workaround until FirebaseExtended/rxfire#17 is resolved.

[2021-07-14 16:25] fabn commented on #401
So no chance to use the new `useSigninCheck` until that is fixed.

[2021-07-14 16:30] epodol commented on #401
Not that I know of. I am looking into this today, so if I find a solution or workaround, I will be sure to post it here.
Are you using Next.JS? What version of Node are you using?

[2021-07-14 16:31] fabn commented on #401
Using a brand new next.js app with `next@11.0.1`

[code]

[2021-07-14 16:36] epodol commented on #401
Ok, thank you. I'll try to reproduce it with set up.

[2021-07-14 16:46] jhuleatt commented on #401
Thanks for the reports! Two workarounds that should work while we investigate FirebaseExtended/rxfire#17. You can either:

1. Downgrade to `reactfire@v3.0.0-rc.0`, as @epodol recommended

or

2. Upgrade to Node 16, which supports ESM

[2021-07-14 18:13] #395 closed

[2021-07-14 18:15] jhuleatt commented on #388
I've started a new discussion (https://github.com/FirebaseExtended/reactfire/discussions/402) with more information about API changes that will go along with supporting v9. Please leave comments and questions in there!

[2021-07-14 18:27] devth commented on #388
Thanks @jhuleatt and nice work! Looking forward to trying it out.

[2021-07-14 18:27] #388 closed

[2021-07-15 15:17] steurt commented on #351
I seem to have a similar problem. Using reactfire 3.0.0-rc.2 my app seems to get in an infinite loop of requests. Although in my case it is _not_ related to using the `collectionGroup`.

The UI of my app is in a continuous Suspended state, so I keep seeing my fallback component. When I inspect my network traffic, I see multiple requests with the same signature. One following the other. A request t

[2021-07-15 16:02] fabn commented on #401
Thanks for this, but I'm currently deploying on Vercel that does not support Node 16 yet.

I'll wait for a resolution.

[2021-07-16 23:33] tigbeans opened #404 "Failed to compile error when running dev react server"
Hello,

I am receiving the following error when i run `npm run start` in my react project.

`
Failed to compile.
./node_modules/reactfire/node_modules/rxfire/database/index.esm.js
Attempted import error: '__spreadArray' is not exported from 'tslib'.
`

Here is my package.json dependencies
`
"dependencies": {
        "@testing-library/jest-dom": "^5.11.9",
        "@testing-library/react": "^11.2.5

[2021-07-17 00:46] epodol commented on #404
What is the output of `npm ls reactfire`?

[2021-07-17 00:48] epodol commented on #404
You can try deleting your node_modules folder and package-lock.json, then run `npm i`.

[2021-07-17 04:45] tandalesc commented on #404
The same exact thing is happening to me. I've tried three different `node` versions and `reactfire` back to rc.0, and it's still failing to compile after deleting node_modules and running `npm i`. I'm not really sure what I'm doing wrong -- I basically followed the quickstart guide.

[2021-07-17 05:13] epodol commented on #404
Did you also delete the `package-lock.json` at the same time before doing `npm i`? That's what fixed it for me. (I'm running 3.0.0-rc.2 with Node 14)

[2021-07-17 14:24] tandalesc commented on #404
@epodol Thanks! This actually fixed my problem :-)

[2021-07-17 16:05] tigbeans commented on #404
@epodol the combination of deleting the node_modules folder and the package-lock.json seemed to do the trick. I had tried just deleting node_modules before but I guess the trick was deleting the package-lock.json too. Thanks :)

[2021-07-17 16:05] #404 closed

[2021-07-17 19:48] epodol commented on #404
Glad to hear it @tandalesc and @tigbeans!

[2021-07-19 16:23] Zeyuzhao opened #405 "Using useSigninCheck with React Router suspends indefinitely"
I would like to create a protected route with `reactfire` and `react-router-dom`. To achieve this, I created a `PrivateRoute` component as follows:

[code]

I enabled `suspense` mode for `reactfire`.
Oddly, when staying on a single page for around ~1min, navigating to another page would cause the component to suspend indefinitely. Reloading the page, however, does momentarily unsuspend the page (b

[2021-07-20 20:25] jacomarcon commented on #405
Having the same issue of strange random suspense.

[2021-07-21 14:16] jhuleatt commented on #405
Thanks for the detailed repro, @Zeyuzhao. Does the same issue still occur if you use a version of React that supports concurrent mode ([`react@experimental` and `react-dom@experimental`](https://reactjs.org/docs/concurrent-mode-adoption.html#installation))? React 17 doesn't officially support Suspense outside of the [codesplitting use case](https://reactjs.org/docs/code-splitting.html#reactlazy).

[2021-07-21 21:13] Zeyuzhao commented on #405
Yeah, I create a new fork that used `React 18` (with the new `ReactDOM.createRoot(rootNode).render(<App />);` that supports concurrent mode), and the problem still persists.

Example:
https://codesandbox.io/s/reactfire-suspend-q5wll

I tried other hooks, such as `useFirestore()`, and this infinite suspends also appears (wait for a minute, click on the link twice).

Looking at the source, it seems

[2021-07-22 12:06] steurt commented on #405
@Zeyuzhao I've had indefinite suspending issues as well with v3.0.0-rc.*. To me it still isn't very clear where my issues originated, however I did find a way to get it working for me. I don't know if you're running in to the same issue as me, but you could give it a try.

If in my `App` component I preload every Firebase SDK I use, the indefinite loading issues are resolved. I preload the SDK's i

[2021-07-22 12:20] steurt commented on #374
@prilutskiy I've had indefinite loop/suspending issues as well with v3.0.0-rc.*. They manifested at different times at different places in my app. I managed to get it working, not sure what the root cause is though. Maybe give my workaround a try and see if it solves your issues as well. For more details, see: https://github.com/FirebaseExtended/reactfire/issues/405#issuecomment-884860980.

[2021-07-22 12:20] steurt commented on #351
@JoFont I've had indefinite loop/suspending issues as well with v3.0.0-rc.*. They manifested at different times at different places in my app. I managed to get it working, not sure what the root cause is though. Maybe give my workaround a try and see if it solves your issues as well. For more details, see: https://github.com/FirebaseExtended/reactfire/issues/405#issuecomment-884860980.

[2021-07-22 12:31] steurt commented on #405
@Zeyuzhao I just tried it quickly in your CodeSandbox repro, and it seems to solve the issue in the repro as well! No more indefinite suspending.

At the top of `App.tsx` add:
[code]

At the top of the `App` component in `App.tsx` add:
[code]

@jhuleatt loading the SDKs using the regular hooks without preloading them seems to cause the indefinite suspending.

[2021-07-22 12:37] MaciejCaputa opened #406 "useAppCheck and/or preloadAppCheck"
Hi, I think it would be a good idea to add `useAppCheck` and/or `preloadAppCheck` to provide functionality form https://firebase.google.com/docs/app-check

### Version info

**React: ^17.0.2**

**Firebase: ^8.7.1**

**ReactFire: ^3.0.0-rc.2**

### Steps to reproduce

1. Add `import 'firebase/app-check'`;
2. Add `useFirebaseApp().appCheck().activate('YOUR KEY')`

### Expected behavior
I have an app

[2021-07-22 14:47] epodol commented on #406
I'd be happy to try my hand at adding support for App Check, but I am not sure if @jhuleatt wants to wait until #369 is completed.

If your looking for a temporary solution, here is how I am using it:

[code]
https://github.com/epodol/bsclibrary/blob/2a5d1cd3494d42859a21436c783daa1db649da1d/react/src/App.tsx#L114

[2021-07-22 16:26] jhuleatt commented on #406
Thanks @MaciejCaputa for the feature request, and thank you @epodol for your temporary solution!

This is definitely an important feature to add to ReactFire. Let's discuss a potential API. I wonder if we should have another Provider for AppCheck. It seems important to be able to be confident that AppCheck is activated before any calls are made that could be denied by AppCheck.

For example, it co

[2021-07-22 16:30] jhuleatt commented on #405
Very interesting, thank you for investigating this, @steurt!

[2021-07-22 16:36] jhuleatt commented on #406
If we don't want the component props to match `activate`'s api, maybe it could be a single callback prop instead:

[code]

[2021-07-22 16:46] epodol commented on #406
A provider for App Check would probably be ideal. In my opinion, an `activateCallback` would be better because it would allow for more customization for individual use cases, and reduce any breaking api changes in the future if firebase changes the activate arguments.

[2021-07-22 16:55] epodol commented on #282
This issue can be either closed or updated for `useSigninCheck`, seeing that `AuthCheck` and `ClaimsCheck` is now deprecated.
`useSigninCheck` could use a little more documentation about the custom `validateCustomClaims` callback, but it is fairly self explanatory after looking at the comments for `useSigninCheck`. Thanks!

[2021-07-23 14:14] MaciejCaputa commented on #406
I think it's a good idea. :)

[2021-07-23 15:21] jhuleatt commented on #401
I just published `reactfire@3.0.0-canary.804b3e5`, which pulls in [`rxfire@5.0.0-rc.3`](https://github.com/FirebaseExtended/rxfire/releases/tag/5.0.0-rc.3), which contains conditional exports for Node.

If anyone has a minute to try out `reactfire@3.0.0-canary.804b3e5` and see if it resolves the Node imports issue, can you please? If it works, I'll cut a new release candidate for ReactFire.

[2021-07-23 15:24] fabn commented on #401
Just tried, seems to work with these packages:

[code]

[2021-07-24 01:56] dylangarcia opened #407 "useFirestore still suspends when using preloadFirestore"
### Version info

**React:** ^17.0.2

**Firebase:** ^8.8.0

**ReactFire:** ^3.0.0-rc.2

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

Working on making a codesandbox repro but everything keeps freezing on me, but it's essentially:

[code]

`Dashboard` has a Switch in it that renders two routes:

- /items
- /profile

The `/items` route is a list of items from `us

[2021-07-24 05:32] epodol commented on #407
From what I understand about preloading the Firestore SDKs, when preloading Firestore, all you are doing is preemptively importing Firestore once, higher in the component tree, and suspending the application until that has completed. By preloading Firestore you are not begining any fetches of data from the Firestore database. The preload Firestore function does not have the ability to know which c

[2021-07-24 15:14] dylangarcia commented on #407
@epodol thanks for the response; that makes a lot of sense! I noticed that the flash went away if I fetched the document on the home screen, but I would ideally like to avoid those reads if they don't navigate to the page that needs it 🤔

My Suspense-fu isn't up to date, but for some reason I thought that you could nest <Suspense /> elements and it would just go up to the closest one. If that was

[2021-07-24 20:03] epodol commented on #407
Glad that helped @dylangarcia! Here are two more things you can try to make it work a bit better (similar to what you just mentioned):

- Add another `<Suspense>` directly wrapping the other component that needs it. This _should_ prevent the entire page from showing a loading fallback, and only block out the loading component. This would preserve any nav bars or footers while the data is still bri

[2021-07-24 21:12] dylangarcia commented on #407
Ah I had the lower layer `<Suspense>` in the wrong location - I put it above the nested route the skeleton of the app is still all good, thanks!

Next step is to figure out the best way to not make it flash when trying to load the login page 😄.

I appreciate the help!

[2021-07-26 13:23] jhuleatt commented on #401
Thanks for trying it out @fabn!  I've cut a new release candidate [`v3.0.0-rc.3`](https://github.com/FirebaseExtended/reactfire/releases/tag/v3.0.0-rc.3) that contains this fix.

---

SIDE NOTE: One upside of this bug is that it collected a bunch of Next.js developers 😅. We'd like to better understand how people are using ReactFire with Next.js. If anyone here has a minute to leave your feedback i

[2021-07-31 13:23] frankiesardo opened #414 "Reactfire Concurrent Mode breaks Hot Reload"
### Version info

**React:**

18.0.0-alpha-6f3fcbd6f-20210730

**Firebase:**

8.8.1

**ReactFire:**

3.0.0-rc.3

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

https://codesandbox.io/s/empty-sky-2flps?file=/src/App.js

### Steps to reproduce

Load the page, check the Suspense is triggered as rectfire is loading the userId

Once loaded, check the UI displays a gre

[2021-07-31 18:46] forresthopkinsa opened #415 "Document emulator usage"
There's a big push to use the local emulator suite when developing apps for Firebase, but there is no mention of the emulators in the documentation for this project. Right now the only pointer for using emulators with ReactFire is in #315, but I'm hoping there's a more straightforward way to initialize the Firebase app with emulators.

Either way, please document the recommended approach; lack of

[2021-08-03 02:27] conrado commented on #415
Also please test hardening `firestore.rules` on the firestore emulator with something akin to:

[code]

Rules work in production but not in emulators

[2021-08-16 09:59] Nachwahl commented on #414
I've the same issue here. Additionally, I have the problem that the suspense fallback is shown when a re-render of the component occurs, and the app idled for a moment before.
Has someone an idea to solve this?

[2021-08-16 17:46] payapula commented on #401
I got the same error when deploying the application in vercel and  [`v3.0.0-rc.3`](https://github.com/FirebaseExtended/reactfire/releases/tag/v3.0.0-rc.3) fixed it. Thank you! ❤️

[2021-08-18 13:55] JohnMarsden24 commented on #415
I ran into the same issue when wanting to use my cloud functions. I solved it by putting all cloud functions into their own hook, `useCloudFunctions`:

[code]

And my `FirebaseProvider.js`:

[code]

[2021-08-18 19:03] jhuleatt opened #420 "Add more Performance Monitoring features"
The next version of RxFire [has performance monitoring features built-in](https://github.com/FirebaseExtended/rxfire/pull/1/files#diff-db2762320421cc326faf453022441ee5cd74381f3f59dfec59cdf6bfb0a7699e). Investigate what functionality we can add to ReactFire

[2021-08-18 19:06] jhuleatt opened #421 "Support `firestore/lite`"
Add support for [`firestore/lite`](https://firebase.googleblog.com/2021/07/introducing-the-new-firebase-js-sdk.html#:~:text=Introducing%20Firestore%20Lite)

[2021-08-18 19:28] jhuleatt commented on #401
I'm glad it worked, @payapula! Given that it seems like `v3.0.0-rc.3` has resolved the problem, I'm going to close this issue.

[2021-08-18 19:28] #401 closed

[2021-08-20 15:36] dennemark opened #423 "Usage of useUser with useFirestoreDocData not very compatible within custom hooks"
### Version info

**React:** 18 experimental

**Firebase:** 9

**ReactFire:** 4

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

[code]

### Behavior

Since useUser is returning the type `User | null` , we need to check, if the user is available. But in the case when the user is null, useFirestoreDocData cannot be called, since the ref woul

[2021-08-25 06:10] santuy-co opened #425 "Error when installing reactfire@exp"
I get error below then running `npm install --save reactfire@exp firebase@exp`:

[code]

<hr>

My `package.json` file:

[code]

<hr>

I have tried to remove `node_modules` & `package-lock.json`, but the error still occurs. How i can do to fix it?

[2021-08-25 13:17] epodol commented on #425
Try running this command to install firebase first:

    `npm i firebase@9.0.0-2021720181311`

Then install reactfire:

`npm i reactfire@exp`

Once a release candidate or another beta version is released, reactfire will probably update to be more flexible about firebase versions.

[2021-08-25 16:32] #425 closed

[2021-08-26 12:32] jhuleatt opened #429 "`useAnalytics` missing in ReactFire v4"
---

Temporary workaround: to make your own `useAnalytics` hook, use Firebase's `getAnalytics` with ReactFire's `useFirebaseApp`:

[code]

[2021-08-26 18:46] mikeover opened #433 "error in prod build for initing firestore"
### Issue

Works fine in dev but when building for production, I get a blank screen and this error in the console:

<img width="607" alt="Screen Shot 2021-08-26 at 2 40 19 PM" src="https://user-images.githubusercontent.com/5045642/131018137-7b8295bc-0d62-41c4-a02e-17aade41a36a.png">

#### Steps to reproduce:

This runs fine with `yarn start` but fails after building for production with `yarn start

[2021-08-29 15:40] jhuleatt opened #439 "update CONTRIBUTING.md"
Add instructions to run:

[code]

before committing

[2021-08-29 18:35] epodol commented on #433
I am also having this issue. I am working on transitioning to firebase v9 and reactfire v4 and the preview channel is failing. Here is the code that is failing https://github.com/epodol/bsclibrary/pull/349. (You can see a preview channel link there too)

[2021-08-29 19:04] epodol commented on #433
After updating to `reactfire@exp`, the issue was resolved. Thanks!

[2021-08-30 20:10] jhuleatt opened #440 "usesFirestoreDocData stuck in `status: "loading"` if data does not exist"
_Originally posted by @namiwang in https://github.com/FirebaseExtended/reactfire/discussions/438#discussioncomment-1251839_

### Expected behavior

[code]

### Actual behavior

[code]

[2021-08-31 14:06] epodol commented on #433
@jhuleatt Do you think you could release a new version with these changes? Thanks!

[2021-09-01 01:09] sujishpatel commented on #439
Might want to clarify that forked repos typically require the following to be added to the typedoc args `--gitRemote upstream`

so in full it would be
```typedoc --options typedoc.json --gitRemote upstream && markdown-toc -i docs/use.md```

[2021-09-01 04:07] boyangzhang opened #442 "React Fire intermittently not loading the Firebase SDK with Cannot read property 'app' of undefined"
I am intermittently hitting an issue when I try to load my react app with the FireStoreAppProvider.  This is the error that appears in my browser console explorer

[code]

All I am doing is trying to load my app

I'm very noob with both firebase and this framework, but it feels like to me my firebase server is rejecting my connection?  I can't find anything on the console that indicates rejection

[2021-09-01 19:13] jhuleatt commented on #433
Thanks for confirming that it fixed the issue @epodol. Version  [`4.0.1`](https://github.com/FirebaseExtended/reactfire/releases/tag/v4.0.1) has been published to npm.

[2021-09-01 19:13] #433 closed

[2021-09-01 19:20] jhuleatt commented on #442
Hey @boyangzhang, can you please update to the just-published ReactFire `4.0.1` (`npm install reactfire@latest`) and see if you still get the error?

If you do still get the error, can you please share the rest of your code (especially the part that uses `FirestoreProvider`)? That will help me look into this more.

In case it helps, here's a working sample of the quickstart: https://stackblitz.com

[2021-09-01 21:11] #406 closed

[2021-09-01 21:48] jhuleatt commented on #406
App Check is available in ReactFire [`4.1.0`](https://github.com/FirebaseExtended/reactfire/releases/tag/v4.1.0)!

Take a look at the [Using ReactFire guide](https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md#set-up-app-check) for a code sample.

[2021-09-01 22:11] jhuleatt commented on #439
Great point, I've [added a new `yarn docs:fork`](https://github.com/FirebaseExtended/reactfire/commit/8c7539aba27f5a4493ab024e92076e68e04ff3f0) command and added it to the [Before submitting a PR instructions](https://github.com/FirebaseExtended/reactfire/blob/main/.github/CONTRIBUTING.md#before-submitting-a-pr).

[2021-09-01 22:11] #439 closed

[2021-09-02 09:02] constantin-ungureanu-github opened #443 "Firestore data offline access not working"
Following the guides for using reactfire, I have tried enable offline access to data https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md#access-data-offline .

However, this is not working, and I get next exception:

Unhandled Rejection (FirebaseError): Firestore has already been started and persistence can no longer be enabled. You can only enable persistence before calling any ot

[2021-09-02 14:20] epodol commented on #443
This is probably also related.

[code]

![Screenshot from 2021-09-02 07-17-42](https://user-images.githubusercontent.com/34190213/131860606-6843a7f0-9514-41e4-8154-4ed1c248ab02.png)

[2021-09-02 14:32] epodol commented on #443
It looks like the code is being run after every other useInit... completes.

[2021-09-02 14:41] jhuleatt commented on #443
@epodol I believe your issue may be different. `getFirestore` [initializes Firestore with defaults](https://firebase.google.com/docs/reference/js/firestore_.md#getfirestore). Do you see that behavior if you use `initializeFirestore` instead?

[2021-09-02 15:17] epodol commented on #443
Yes, this still occurs with `initializeFirestore`. With a console.log inside the callback, it gets called once for each of the init callbacks defined.

[2021-09-05 16:14] epodol commented on #443
Correction, my prior problem has been resolved by adding `{ suspense: false }` to each of the useInit calls.

However, when enabling offline persistence, I get a similar effect to the one described, except for me, the page load loads forever:

[code]

[2021-09-06 11:25] louis030195 opened #445 "Support withConverter"
### Version info

**React:** 17.0.2

**Firebase:** 8.3.1

**ReactFire:** 3.0.0

### Expected behavior

[code]

### Actual behavior

[code]

[2021-09-07 13:35] jhuleatt commented on #443
Interesting, thanks for the follow up @epodol. Having to add `{ suspense: false }` to each call sounds like a bug (the `useInit` hooks should pick that up from Context).

I'll look into both of these this week.

[2021-09-07 14:33] epodol commented on #443
@jhuleatt Sorry, to clarify, I am using suspense globally, but I must not have been using it correctly with the `useInit` hooks.

[2021-09-08 05:10] sujishpatel opened #447 "Feature Request/Proposal: Expanding Functions"
A few thoughts on expanding the Functions API.

I was thinking if it would be worthwhile to expand the functions API a bit, mainly in regard to handling loading and error states.
And potentially expose some helpful options.  (I haven't fully thought through the various options, but wanted to start a discussion on them)

[code]

## ReactFireHttpsCallableOptions Breakdown
* warmup: I know cold boot

[2021-09-08 15:41] jhuleatt commented on #447
Hey @sujishpatel, cool ideas!

Agreed, but we actually have good news on this front! Check out the new [**`minInstances`**](https://firebase.google.com/docs/functions/manage-functions#reduce_the_number_of_cold_starts) runtime option for information on how to reduce cold starts. While a `warmup` built into ReactFire is an interesting idea, now that cold starts are better solved at the platform leve

[2021-09-08 15:48] jhuleatt commented on #445
Thanks for reporting this, @louis030195. I think this will be an easy fix in ReactFire once https://github.com/FirebaseExtended/rxfire/pull/33 goes through

[2021-09-08 15:53] #440 closed

[2021-09-08 15:54] jhuleatt commented on #429
fixed in [4.0.1](https://github.com/FirebaseExtended/reactfire/releases/tag/v4.0.1)

[2021-09-08 15:54] #429 closed

[2021-09-08 16:09] jhuleatt commented on #315
Thanks @hubgit, @Bullfrog1234, and @subhendukundu for your feedback!

For ReactFire v4, setting up emulators is a bit different than @hubgit's code sample above. It is documented in the [Using ReactFire guide](https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md#connect-to-the-firebase-local-emulator-suite). Given the api change and documentation, are convenience functions to connec

[2021-09-08 21:18] #330 closed

[2021-09-08 22:40] Bullfrog1234 commented on #315
Thanks for asking @jhuleatt

My preference is that using emulators during dev is invisible and during production it automatically switches to live services.

How I have been doing this in projects without reactfire is automatically getting ports from the `firebase.json` file and looking at `process.env.NODE_ENV` to see if it is `'production'`, `'test'` or `'development'`.

In reactfire I would con

[2021-09-09 13:07] proegssilb commented on #315
Why can't the hosting emulator set up all the settings needed for the rest of the emulators to work without me having to add code in my app? Especially code that, at best, does nothing in prod? What is reactfire doing that is so special that it needs to break what should be a simple pattern?

[2021-09-11 00:49] Bullfrog1234 commented on #315
ReactFire is not in control of the emulators it just uses them. I would post that suggestion in the [firebase-tools](https://github.com/firebase/firebase-tools) repository as a feature request. In reality I am not sure if they would want to do that as it does reduce some flexibility in how some people develop, and would impact more then just react developers it would impact all developers.

I beli

[2021-09-14 18:54] #447 closed

[2021-09-15 19:16] jhuleatt commented on #442
Just following up on this @boyangzhang. Does updating to the latest version of ReactFire help, or were you able to resolve this another way?

[2021-09-16 17:50] jhuleatt commented on #443
I'm investigating this is #451. I wrote a test that confirms that each `useInitSdk` hook is called, but it's passing at the moment, so not too helpful. Will continue trying to reproduce the issue with @constantin-ungureanu-github's samples.

[2021-09-21 14:50] bk973 opened #455 "Error: SDK not found. useSdk must be called from within a provider"
When I add useAuth(), my app crushes with Error: SDK not found. useSdk must be called from within a provider
Sorry, am new to this library and I followed the DOCS while setting up auth stuff but I don't understand that error. I followed everything in the DOCS carefully

[2021-09-22 13:36] jhuleatt opened #459 "Can't connect to emulators when following docs"
I've set up a new react app in a Nx monorepo. The test generated by the scaffolding script worked perfectly, until I added reactfire. The app works as expected when being run and built, but fails testing. The first test passes, then the second test fails with the error:

Here is my test-spec:

[code]

`FirebaseProvider` is just a wrapper around `FirebaseAppProvider` and `FirestoreProvider`:

[code

[2021-09-22 13:50] #455 closed

[2021-09-22 14:09] bk973 commented on #455
Thank you so much @jhuleatt Your suggestion has been helpful

[2021-09-22 16:13] bk973 opened #462 "TypeError: Cannot read properties of undefined (reading 'signedIn')"
I created a component that wraps around my routes to provide authentication. But instead of navigating the signed in User to Dashboard Route, I get the above mentioned error.

Am using useSignInCheck hook

I need some help please. am new to this Library. Thanks

[2021-09-23 23:33] ky28059 opened #463 "Allow `useFirestoreDoc` `DocumentReference` arguments to be nullable"
`react-firebase-hooks` allows [the document reference to `useDocument` to be nullable](https://github.com/CSFrequency/react-firebase-hooks/tree/master/firestore#usedocument) and just returns undefined if it is. This was useful for paths relying on nullable info, like `auth.currentUser.uid`:
[code]
where if the user were not signed in there wouldn't be an error thrown since `useDocument` would just

[2021-09-24 16:54] jhuleatt commented on #462
@bk973 can you please share some [minimal](https://stackoverflow.com/help/minimal-reproducible-example) code that reproduces this issue?

My guess is that you may not be checking the loading state ([the docs show this](https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md#only-render-a-component-if-a-user-is-signed-in)) and therefore trying to check the value of `signedIn` before it

[2021-09-25 17:31] Gladkov-Art commented on #443
Hi 👋

I'm having the same issue in my tiny per project. Hope my gist could help to reproduce: https://gist.github.com/Gladkov-Art/74e3e2073f0fc0db5e772c9ef02c22e2

[code]

[2021-09-27 08:16] bk973 commented on #462
Thanks so much @jhuleatt

I realised am that the problem could be coming from google cloudshell. Am using google cloudshell and when I use their development server to test the app, I get the above mentioned error. The browser console shows something about CORS.

In my custom written authentication wrapper,  this is how I destructured...
`
import React from 'react';
import { Route, Redirect } from

[2021-09-27 14:38] jhuleatt commented on #462
I believe the issue is actually on line 14 in that error message:

[code]

While `status` is `loading`, `data` is `undefined`. So trying to access `data.signedIn` in your destructuring assignment will fail.

Try this instead:

[code]

[2021-09-27 14:45] epodol commented on #463
@jhuleatt If you would like, you can assign this to me. I would be happy to implement this. I was thinking this could be an option like: `allowNullReference`. This would prevent breaking anyone using this feature to their advantage, and also allow people to enable this functionality.

Thank you!

[2021-09-28 08:18] bk973 commented on #462
Thank you so much @jhuleatt for your help.

I followed your advice and it worked for me( Issue #462 is gone
![Capturefdfdf](https://user-images.githubusercontent.com/34472816/135050217-c7460a57-233b-42e3-bbd9-b3df54e900ae.PNG)
). But the only problem is that Firebase seems to be blocking requests from Google cloud shell due to CORS. Do you have any ideas on how I can fix this issue.

[2021-09-29 15:08] jhuleatt commented on #463
Hey @ky28059 and @epodol, this request has come up a couple of times (https://github.com/FirebaseExtended/reactfire/issues/178#issuecomment-550503600, https://github.com/FirebaseExtended/reactfire/issues/166#issuecomment-544642338).

My opinion is that this would create an opportunity for subtle bugs, and is better handled by breaking things out into separate components (render one component if so

[2021-09-29 15:40] jhuleatt commented on #462
My guess would be that you need to add the domain for your cloud shell-hosted app to the list of Authorized Domains in the Firebase console:

<img width="781" alt="Screen Shot 2021-09-29 at 11 34 26 AM" src="https://user-images.githubusercontent.com/3759507/135302032-685b195e-3968-4319-8f3e-912a8333a80a.png">

Since this isn't a ReactFire-specific problem, I'm going to close out this issue. I'd su

[2021-09-29 15:40] #462 closed

[2021-09-30 04:52] epodol commented on #463
This actually makes a lot of sense, and I agree with you now. Thank you for your explanation!

[2021-09-30 11:14] hubiwan commented on #463
Hi there - thanks for the very helpful lib @jhuleatt.

Just jumping in as there is actually a use-case where breaking into small components might not be convenient. This happens whenever you want to feed a component with remote default values if they exist, I think it is actually a quite common use-case.

Just to illustrate simply this use-case, say we have a public contact form page.
- If the use

[2021-10-01 20:43] Temez1 opened #466 "App Check typing errors (incorrect implementations of interface)"
## This is a copy of the issue in firebase/firebase-js-sdk#5569

to get your input to the discussion, [see](https://github.com/firebase/firebase-js-sdk/issues/5569#issuecomment-932465551) the question. I don't know if reactfire has something to do with this.

### Environment

  * Firebase SDK version: 9.1.1
  * Reactfire version: 4.2.0

### Problem

I'm trying to compile my project & it throws 2 e

[2021-10-02 15:19] bk973 commented on #462
Thank you so much @jhuleatt that was so helpful

[2021-10-03 20:37] jamesjara commented on #334
Hello team can you provide some responses to the original question, we have the same doubts , thx

[2021-10-05 11:20] JurgenPalsma opened #467 "Cannot use any provider except FirebaseAppProvider"
Any provider import except FirebaseAppProvider gives me an error:
**Attempted import error: 'FunctionsProvider' is not exported from 'reactfire'.**

### Version info

"@firebase/functions": "^0.7.2",
  "@firebase/storage": "^0.8.2",
  "@salesforce/design-system-react": "^0.10.35",
  "@testing-library/jest-dom": "^5.11.4",
  "@testing-library/react": "^11.1.0",
  "@testing-library/user-event": "^12

[2021-10-05 14:25] #466 closed

[2021-10-05 15:08] jhuleatt commented on #466
A fix for the typing problems has been merged, https://github.com/firebase/firebase-js-sdk/issues/5569 and will be out in the next JS SDK release.

[2021-10-05 15:10] epodol commented on #467
FunctionsProvider is only needed/available for for firebase v9 (modular). You only have v8.8.1 (not modular) installed. So unless you update firebase to the latest version as well, you do not need to update reactfire.

If you update to the latest `firebase` version, you will need to update to the latest reactfire version. Try manually running `npm i reactfire@4.2.0`.

Also, you are installing `@fi

[2021-10-05 15:11] jhuleatt commented on #467
Thanks @epodol, that's correct. @JurgenPalsma, please take a look at the [upgrade guide](https://github.com/FirebaseExtended/reactfire/blob/main/docs/upgrade-guide.md) for more tips on moving to ReactFire v4.

[2021-10-05 15:14] #467 closed

[2021-10-05 17:00] JurgenPalsma commented on #467
thank you all for the clarifications

[2021-10-06 16:10] jhuleatt opened #470 "Document and test error handling"
Add tests to make sure ReactFire's error handling is behaving as expected, and docs to show how to handle errors when using ReactFire

[2021-10-11 21:07] PritamSangani opened #473 "Possible to add a hook to get collection one-time only."
Hi!

Do you have any plans on adding a hook to read collection data once, like there is for doc data?

Something like:

`useCollectionDataOnce` and `useCollectionOnce`

[2021-10-14 20:45] KaiSpencer opened #477 "Could not resolve "@firebase/app""
Im having issue setting this up with Vite and Yarn 3

### Version info

**React:** 17.0.0

**Firebase:** 9.1.2

**ReactFire:** 4.2.0

**Other (e.g. Node, browser, operating system) (if applicable):**
vite: 2.6.4
vitejs/plugin-react: 1.0.0
yarn: 3.0.2

### Steps to reproduce

Scaffold Vite React app, follow quickstart, `yarn dev`

### Expected behavior

Add FirebaseAppProvider to App with no build

[2021-10-14 21:00] PritamSangani commented on #443
@jhuleatt - any luck in finding a solution for this issue? I am not able to get offline persistence working and I am getting the same exception as OP

[2021-10-15 13:10] mankinchi opened #478 "React-firebaseui: Cannot read properties of undefined (reading 'initializeApp')"
### Version info

**React:** 17.0.2

**Firebase:** 9.1.3

**ReactFire:** 4.2.0

**react-firebaseui**: 5.0.2

### Test case
Main component
![image](https://user-images.githubusercontent.com/8164063/137491720-13401da5-e640-40fd-9b59-3536e3213cbd.png)

Layout component
![image](https://user-images.githubusercontent.com/8164063/137491743-e3716a5e-463f-4691-81af-83b0aa4af2e5.png)

You can see that the

[2021-10-19 19:18] abeaclark opened #480 "Enable direct ad-hoc imports"
`Can't find variable: IDBIndex` when setting up on Expo

I used the same hierarchy I had working on the web. I am not using performance or analytics, so I think all of the underlying components should work.

But, I believe that since there isn't a way (that I can tell) to import only specific components, I end up with an error as if I were importing performance package.

[code]

### Version info
"

[2021-10-29 14:56] maxprilutskiy opened #484 "useFirestoreCollection triggers a double render"
Hi,

Seems like `useFirestoreCollection` always triggers unnecessary render when fetching data (suspense is **on**). Similar behavior is also the case for `useUser`.
There's a chance I'm simply using the API wrong, so please advise if so :)

### Version info

**React:** 17.0.2

**Firebase:** 9.1.3

**ReactFire:** 4.2.0

### Test case

[code]

### Expected behavior

`console.log` is called once.

#

[2021-11-09 00:31] bmcbarron opened #485 "Permission error when accessing a cached firestore collection after logout/login"
### Version info

**React:** 17.0.2

**Firebase:** 9.4.0

**ReactFire:** 4.2.0

**Other (e.g. Node, browser, operating system) (if applicable):** Chrome, Windows 10

### Test case

Test cases seem challenging to produce since a firebase instance is involved.

### Steps to reproduce

1. Sign In (I used `GoogleAuthProvider`), or be already signed-in.
2. Read from a collection.
3. Sign Out
4. Sign In

[2021-11-17 17:58] jhuleatt commented on #484
Hi @maxprilutskiy, my first thought is that this might be Firestore first returning locally cached data, and then later returning data from the server. Does `queryResults.data.metadata.fromCache` ([docs](https://firebase.google.com/docs/reference/js/firestore_.snapshotmetadata#snapshotmetadatafromcache)) flip from false to true between the first and second renders?

Also, just to check, does anyth

[2021-11-18 18:30] Mattinton opened #488 "Reactfire preventing lazy loading of firebase modules"
When using ReactFire I want to lazy load Firestore to reduce build initial build size and improve load times. When using ReactFire lazy loading firestore does not happen even while using `import('firebase/firestore')`.

I have included a version that does not use ReactFire with working lazy loading as shown by the initialisation time.
I have also included a version that does use ReactFire where I

[2021-11-19 17:39] jhuleatt commented on #488
Hi @Mattinton, this is really interesting, thanks for the repros.

My first thought was that we were accidentally only exporting the .cjs build of ReactFire, but we do have the `module` field in our package.json, so I don't think that's it. Will keep investigating.

[2021-11-19 18:07] jhuleatt commented on #488
I wonder if it's because our package.json is missing the `exports` field. react-scripts, which is bundling your examples, uses Webpack, and it looks like webpack expects the `exports` field ([docs](https://webpack.js.org/guides/package-exports/)). I'm not sure if it looks at the `module` field.

Related tsdx issue (ReactFire uses TSDX for the build): https://github.com/jaredpalmer/tsdx/issues/298#

[2021-11-19 19:49] jhuleatt commented on #488
Progress!

It seems that just using `FirebaseAppProvider` (without any call at all to import Firestore) is enough to pull Firestore and Storage into the bundle 😬 🤯

I'm not sure why, because FirebaseAppProvider doesn't import either of those. It only imports the following:

https://github.com/FirebaseExtended/reactfire/blob/f768f4d3c3be4ab5a3611143b8ceda19ede1dc95/src/firebaseApp.tsx#L1-L2

When I

[2021-11-19 21:50] Mattinton commented on #488
I did fork the repo and play around with it myself and also had no luck. I did notice that importing performance lazily didn't add to the overall package size and worked as expected. What are the differences between performance and firestore/storage?

[2021-11-20 17:17] Mattinton commented on #484
I think I'm also seeing a double render for useUser as well 🙂

[2021-11-23 23:06] MaciejCaputa opened #489 "@firebase/database included in the final build while I only use firestore"
In my app I only provide firestore and I don't use a real-time database but I see it increasing my bundle size. Any advice? (I don't have it imported anywhere).

<img width="832" alt="Screenshot 2021-11-23 at 23 58 47" src="https://user-images.githubusercontent.com/12127589/143142145-faccd6e1-efb6-4e6f-bab3-3ec672054818.png">

[2021-11-24 15:10] jhuleatt commented on #489
Hi @MaciejCaputa, I think this might be related to https://github.com/FirebaseExtended/reactfire/issues/488#issuecomment-974375449. Can you please confirm that you have tree-shaking enabled in your build?

[2021-11-24 15:17] jhuleatt commented on #478
Hi @mankinchi and @nbangba, v6 of react-firebaseui only works with the compat imports of Firebase v9, described here: https://github.com/firebase/firebaseui-web-react/pull/158#issuecomment-964269348

There's also a discussion about this here: https://github.com/FirebaseExtended/reactfire/discussions/474. I'll try to post an example of how to use FirebaseUI react-firebaseui v6 alongside ReactFire v

[2021-11-24 15:19] #442 closed

[2021-11-26 05:11] Imprasna commented on #478
![Screenshot 2021-11-26 104045](https://user-images.githubusercontent.com/31104095/143530159-f0651a6a-cffc-4323-aa6e-d46e32e7bc09.png)
 I want to fix this, but I don't know what am I supposed to do. Can anyone help me fix this issue please.

[2021-11-29 01:24] sarelp commented on #463
Hi @jhuleatt , I have read your comments in #178. I do however believe that there is still a necessity for this.

Specifically, in our codebase, we have a number of documents referencing each other i.e.

[code]

Rendering requires getting a number of documents which is not easily broken down into subcomponents. In our case it would require nesting a number of levels deep.

Having a nullable or und

[2021-11-29 15:22] CuriosBasant opened #490 "Cannot connect to the emulators, (FirebaseError: Expected type 'Firestore$1', but it was: a custom Firestore object)"
### Version info

**React:**
17.0.2

**Firebase:**
9.5.0

**ReactFire:**
4.2.1

**Other (e.g. Node, browser, operating system) (if applicable):**
Node16, Chrome, MacOS

### Steps to reproduce

I'm using nextjs, in the `pages/_app.tsx` paste the following code
[code]

### Expected behavior

I should be able to connect to the emulator, without any error

### Actual behavior

Right now it is giving m

[2021-11-29 15:58] jhuleatt commented on #490
@CuriosBasant does this error still happen if you import from `firebase/firestore` and `firebase/auth` instead of the `@firebase` versions? From the [`@firebase/firestore` npm page](https://www.npmjs.com/package/@firebase/firestore):

If it's still an issue with the main packages, please let us know.

[2021-12-01 06:30] CuriosBasant commented on #490
This error is still there, when I first start the application. After few refreshes than it gets automatically resolved (randomly). :(

[2021-12-01 16:43] maxmarchionda opened #491 "NextJS compatibility issues with doc(useFirestore(), 'tryreactfire', 'burrito')"
I was attempting to just follow the demo but there seems to be some odd behavior when using reactfire paired with any version of Firebase later than 9.1.3 and any version of NextJS v12.
Specifically the line:
` const burritoRef = doc(useFirestore(), 'tryreactfire', 'burrito'); `
throws
` FirebaseError: [code=invalid-argument]: Expected first argument to collection() to be a CollectionReference, a

[2021-12-01 17:11] Gbuomprisco commented on #491
Can you try adding

[code]

to your next.config.js?

I spent hours debugging this. I *think* the issue is in `rxfire` somehow picking up the CJS version which ends up with the SDK mismatching

[2021-12-01 17:59] maxmarchionda commented on #491
You seem to be on to something here. I can confirm on my end that adding
[code]
does fix the issue. I have firebase@9.5.0, next@12.0.4, and reactfire@4.2.1 and just by adding that to the next.config.js the error does not show up anymore.

[2021-12-02 15:24] jhuleatt commented on #478
I posted a workaround here: https://github.com/FirebaseExtended/reactfire/discussions/474#discussioncomment-1737817

Please give it a try and comment in that discussion if it isn't working :)

[2021-12-02 18:16] #478 closed

[2021-12-02 18:18] jhuleatt commented on #491
Interesting, I wonder if this is related to some other bundling issues we're investigating, like #488 or #489

[2021-12-02 20:58] jhuleatt commented on #477
Hi @KaiSpencer, I just tried to reproduce this with:

- React: `17.0.0`
- Firebase: `9.5.0`
- ReactFire: `4.2.1`
- vite: `2.6.4`
- vitejs/plugin-react: `1.0.0`

And didn't get that error. Do you still get the error with the latest version of these libraries?

[2021-12-06 02:11] angelroma commented on #490
@CuriosBasant This is what I did to avoid this error message:
[code]

[2021-12-06 20:05] jhuleatt commented on #491
Chatted with bundling guru @jamesdaniels about this. Conclusion:

The root cause is likely that Firestore is pulling its `.proto` files from disk, and the Nextjs bundler isn't including them. There are a few solutions:

1. `esmExternals: false` will work as long as you manually include the `@firebase/firestore` package yourself on the server.
2. Manually copy over the Firestore protos (`node_modul

[2021-12-13 13:51] SeverinAlexB commented on #459
Same problem here

[2021-12-13 17:50] Mattinton commented on #488
Hey @jhuleatt did you ever make any progress on this? Cheers

[2021-12-14 20:09] maxmarchionda commented on #491
Thanks a bunch for digging into it. Does this sound like an issue worth raising to either the Firebase or Nextjs team?

[2021-12-19 02:42] BowTiedAztec commented on #480
I'm having this issue as well.

[2021-12-21 20:50] kerrmarin commented on #485
I've also encountered this issue, thanks for pointing me in the right direction for a workaround @bmcbarron !

[2021-12-23 23:59] jackcohen5 opened #493 "`validateCustomClaims` is not re-run when the user claims changes"
### Version info

**React:** 17.0.2

**Firebase:** 9.6.1

**ReactFire:** 4.2.1

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

[code]

### Steps to reproduce

Add the above call to a React component and login a user with custom claims that match the condition. Trigger a re-render on the above component.

### Expected behavior

Value of `hasRequiredClaims` changes

[2021-12-24 11:16] jerryeechan commented on #443
Connect to emulator before enable Persistence works
`const { status, data: firestore } = useInitFirestore(async (firebaseApp) => {
    const db = initializeFirestore(firebaseApp, {});
    connectFirestoreEmulator(db, "localhost", 8080);
    await enableIndexedDbPersistence(db);
    return db;
  });`

[2021-12-29 02:58] ralrom opened #495 "useUser() status is "success" on first render despite the value being undefined"
### Version info

**Next:** 12.0.7
**React:** 17.0.2
**Firebase:** ^9.6.1
**ReactFire:** ^4.2.1
**Suspense mode**: off

### Test case

[code]

[code]

### Expected Output

[code]

I expect status === "loading" for the first render

### Actual behavior

[code]

I get status === "success" for the first render despite the value still being undefined at that point

[2021-12-31 10:35] shalomsam commented on #490
@angelroma - is there a working example of how you got this to work? I get the same error.

[2022-01-05 06:08] aageorge commented on #490
Also ran into the same issue trying to connect an emulator

[code]

[2022-01-05 06:28] aageorge commented on #490
It may be a limitation in how connectFirestoreEmulator is working, and/or Im not super in depth with each of the application lifecycles. I was able to resolve my issue @shalomsam by wrapping the setup in use effect to await for component init on app

[code]

  I believe this is more an issue with firebase than reactfire

[2022-01-07 00:08] webbertakken commented on #485
I stumbled upon that issue too, also thanks from my side!

Here's what it looks like in reactfire 4.2.1

[code]

[2022-01-07 11:25] maxprilutskiy commented on #484
@jhuleatt Checked - nothings seems to be different.

[2022-01-07 13:24] CuriosBasant commented on #490
@aageorge @shalomsam @angelroma This is how I'm currently doing to get rid of this issue.

[code]

And in "../firebase/client.ts"
[code]

[2022-01-16 06:36] schmidty1913 commented on #485
Thanks that fixed the problem for me as well.

[2022-01-17 22:26] CubitSpeed commented on #491
Option 1 doesn't seem to work for me. I tried setting the option `experimental.esmExternals = false` in `next.config.js` and adding a `pnpm i @firebase/firestore` to the build command. Did not work.

Option 3 also didn't work. I tried adding this to `next.config.js`:
[code]

Maybe Option 2 will work? But it sounds like a huge pain... happy if someone can tell me what I might be doing wrong

[2022-01-17 22:50] CubitSpeed commented on #491
Update: this fixed the issue for me: https://github.com/firebase/firebase-js-sdk/issues/5823

[2022-01-26 09:55] akarabach commented on #477
the same error for me

[2022-01-27 19:49] jhuleatt commented on #477
@akarabach are you using the latest version of these libraries?

[2022-02-03 03:47] jbaldassari commented on #485
I think this is the same issue as described in this discussion: https://github.com/FirebaseExtended/reactfire/discussions/228 .  Another workaround, as mentioned [here](https://github.com/FirebaseExtended/reactfire/discussions/228#discussioncomment-182830), is to clear the preloaded observables cache.  I'm kind of leaning toward that workaround, although none of them seems particularly good.

FWIW

[2022-02-07 12:09] ralrom commented on #484
You're getting multiple renders because Reactfire updates the status, it goes from `status='loading'` to `status='success'` or `status='error'`

The way I handle this is by checking the status:

[code]

[2022-02-11 16:46] TatiSur commented on #495
have the same :(
any solutions?

[2022-02-13 16:23] dahmc opened #506 "data fetching hook breaks component"
### Version info

**React:** 17.0.2

**Firebase:** 9.6.6

**ReactFire:** 4.2.1

**Other (e.g. Node, browser, operating system) (if applicable):** macOS, Firefox latest,  Chrome latest

### Test case

https://codesandbox.io/s/spectrum-93izg?file=/src/App.js

### Steps to reproduce

Page one has no react-fire wired up, Page two does.

The first render or route render is all the same. But switching r

[2022-02-14 12:47] dahmc commented on #506
Looks like this is a strict mode issue from react-spectrum.

[2022-02-14 12:47] #506 closed

[2022-02-19 22:58] MatthewFallon commented on #495
Found one possible fix to apply for this. The useUser method is creating the observable with useObservable and passing it a initialData value of `null`, I assume with the expectation that that is equivalent to not passing an initial data value... BUT in useObservable the method is using Object.hasOwnProperty to check for the existence of the initialData prop and hasOwnProperty doesn't check for th

[2022-03-13 23:39] usuarez commented on #490
make sure that u're using firebase/firestore or firebase/firestore/lite in all your firebase imports, is u' can't get data from db using both libs, for example if you:

import { getFirestore } from "firebase/firestore";
the need the correct imports
import {  deleteDoc,  doc,  getDoc,  getDocs,  onSnapshot,  updateDoc } from "firebase/firestore";
but if you
import  {  deleteDoc,  doc,  getDoc,  get

[2022-03-16 17:32] CuriosBasant commented on #490
@usuarez Yes I'm totally aware of that. And I can confirm that is not the case.
To solve it, I had to create a separate file, initialise all the sdk's there, and then importing and passing them to the SDK Providers.
*As you can see in my above comment*

[2022-04-03 14:56] daryazata commented on #490
@usuarez hei thanks for pointing to this issue, this was the mistake for me... Why in the world autoimport works in first place for `firebase/../lite` folder but not for the main folder ... thanks I was already giving up on this---

[2022-04-04 10:46] louis030195 opened #511 "[FEATURE] Using a remote config value with a generic type"
When using JSON in remote config parameter, we have to parse by ourselves the JSON, could be cleaner with generic type?

## Current usage
[code]

## Desired usage
[code]

[2022-04-05 08:56] Jordan6794 commented on #490
@usuarez Thanks! I had this issue because of that too

[2022-04-07 11:09] Gnadhi commented on #463
Any updates on this issue as Im currently facing a similar problem

[2022-04-08 13:38] Gnadhi commented on #423
Any updates on this beacuse Im having the same issue ?

[2022-04-08 14:09] dennemark commented on #423
Since the discussion is already a few months old, I don´t remember if I forgot to reply.
I went back to firebase v8 and reactfire v3.
Does the proposed solution of @jhuleatt work for you?

It seems like it is ok to wrap a hook within
[code]
maybe this is a way of dealing with errors, if there are any.

[2022-04-28 17:38] Manokii opened #512 "Add an option to only enable the query when `enabled` option is set"
### Description
Add an option to only do the queries if `enabled` is set and has truthy value. This behavior is similar to `react-query`'s [`QueryOptions.enabled`](https://react-query.tanstack.com/guides/migrating-to-react-query-3#if-set-the-queryoptionsenabled-option-must-be-a-boolean-truefalse=)

### Why?
Sometimes a query might depend on another query

[2022-05-01 20:22] tsdexter opened #514 "`validateCustomClaims` only runs once and then returns the same result for every other attempted call even when checking different claims (security flaw?)"
### Version info

**React:** 17.0.1

**Firebase:** 9.6.1

**ReactFire:** 4.2.1

### Steps to reproduce

use `useSigninCheck` with `validateCustomClaims` at some point in the component tree and then try to use it again later on with different custom claims

### Expected behavior

I should be able to pass different custom claims during different calls to show/hide different parts of the UI. `validat

[2022-05-01 20:43] tsdexter commented on #493
I think this may be related to a bug I just filed where `validateCustomClaims` is only called once in the component tree and subsequent calls return the same result https://github.com/FirebaseExtended/reactfire/issues/514

[2022-05-11 02:26] monodop opened #515 "[realtime database] concurrent references to the same path doesn't work"
Whenever I have multiple react components that reference the same path (.e.g `/users`), the library seems to get the results mixed up. In my project, I had a navbar element that displayed an "Admin" button if the user is an admin, and a table that shows all of the users, with some cursor-based pagination. Between those components, only the last query would yield any results. Switching to the secon

[2022-05-13 15:56] jhuleatt commented on #515
Thanks for the detailed report and repro @monodop! Seems like something is up with the code that differentiates Realtime DB queries: https://github.com/FirebaseExtended/reactfire/blob/823eaa2e66098a9c68909aa6676932e3422dc6bf/src/database.tsx#L13-L19

[2022-05-13 15:59] jhuleatt commented on #495
Hey all, I was able to repro this today. Here's my theory:

`useUser` tries to be clever and skip loading states if the `auth.currentUser` object has something: https://github.com/FirebaseExtended/reactfire/blob/823eaa2e66098a9c68909aa6676932e3422dc6bf/src/auth.tsx#L28-L35

I thought this was ok, because `auth.currentUser` was `undefined` if it hadn't loaded, meaning `initialData` was undefined. B

[2022-05-13 18:04] #495 closed

[2022-05-13 18:17] jhuleatt commented on #495
The fix for this is available in a canary build: `npm install reactfire@4.0.0-exp.eb1428b`

Since today is Friday, I'm going to wait to publish it as `4.2.2` until Monday

[2022-05-13 18:17] MatthewFallon commented on #495
Yes @jhuleatt  as I mentioned in my comment and pull request I dropped earlier, this is definitely what was occurring. Fixing it directly inside the useUser will definitely work as a quick fix.

I did just want to double check if you know if there is any specific reason to use hasOwnProperty instead of simply evaluating by the falsy value of the result as would generally be expected? This might ca

[2022-05-13 18:20] jhuleatt commented on #495
@MatthewFallon sorry I missed your PR 😞 I'll respond in there

[2022-06-01 16:48] HughOMahony opened #523 "Sample code error"
Not a bug with the platform, just noticed an issue where the stackblitz sample isn't working. Instead it gives the error:
[code]

[2022-06-03 18:51] jasonlav commented on #463
Also facing this same issue. In my situation, the user id is required to make the query. Breaking apart things into components for the sake of this current limitation would be incredibly inefficient.

[2022-06-16 03:28] mohitsud opened #526 "Can we fetch firebase config by api?"
I have a multi tenant application where each tenant has its own unique firebase instance.

I would like to retrieve the firebase config data via an api call. I will be able to secure this as my api will receive a separate Auth token.

Could anyone provide guidance on how I can make the API call before initializing firebase?

[2022-07-02 22:31] Manokii opened #528 "`useFirestoreDoc` and `useFirestoreDocData` does not accept `DocumentReference`"
### Version info

**React:** 17.0.2

**Firebase:** 9.8.4

**ReactFire:** 4.2.1

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

1. https://codesandbox.io/s/peaceful-kate-7rcucl
2. run yarn build

This outputs the following:
```FirebaseError: Expected type 'Query', but it was: a custom DocumentReference object```

### Steps to reproduce
1. Install latest firebase a

[2022-07-04 08:45] robertn702 commented on #489
Hi @jhuleatt I am still running into this issue using the following. Webpack is properly tree-shaking other libraries but `reactfire` is still loading `firestore` and `storage`.

**Dependencies**
- `firebase@9.8.4`
- `reactfire@4.2.1`
- `react@17.0.2`
- `webpack@5.73.0`

The only firebase imports we are using are `"firebase/auth"` and `"firebase/app"`.

This is our treemap of the firebase bundle f

[2022-07-20 13:36] alexduhem commented on #489
Hey there, got the same issue, I just pulled all my hairs out my head to know what libraries was causing this.

finally I just did a little hack with the webpack config by using https://webpack.js.org/configuration/externals/

` config.externals = {
      'firebase/database': 'root Math',
    };`

this hack force remove the firebase/database dependency out of the bundle.
why putting Math ? because

[2022-07-20 14:04] alexduhem commented on #488
Hey there, got the same issue, I just pulled all my hairs out my head to know what libraries was causing this.

finally I just did a little hack with the webpack config by using https://webpack.js.org/configuration/externals/

config.externals = { 'firebase/database': 'root Math', };

this hack force remove the firebase/database dependency out of the bundle.
why putting Math ? because webpack will

[2022-07-22 18:04] ky28059 opened #530 "Firebase `getAnalytics()` throws `Error: Component analytics has not been registered yet`"
### Version info

**React:** 18.2.0

**Firebase:** 9.9.1

**ReactFire:** 4.2.1

**Node:** 16.14.2

### Steps to reproduce

I'm trying (again) to port a CRA firebase project to nextjs and https://github.com/firebase/firebase-js-sdk/issues/6019 still exists on the latest versions. To summarize, the same `FirebaseProviders` component that initializes and returns SDK providers in CRA break when using

[2022-07-22 18:18] ky28059 commented on #530
Also experiencing https://github.com/FirebaseExtended/reactfire/issues/490 and https://github.com/FirebaseExtended/reactfire/issues/491 with `esmExternals: false`, if that helps.

[2022-07-22 18:35] ky28059 commented on #530
Interestingly, setting `experimental.esmExternals` to false in `next.config.js` changes the error to

![image](https://user-images.githubusercontent.com/60120929/180502390-ee1f83a7-2252-4bdd-97cc-4c7d17934dbd.png)

[2022-07-28 12:06] muhammadnasr opened #531 "useDatabaseListData only fetch data once"
useDatabaseListData only fetches data once and does not listen to updates
I am using react 18 and firebase 9

after hours of debugging and when I switch to useDatabaseObjectData, data is updated properly.

[2022-07-29 20:31] Manokii opened #533 "Repo no longer maintained 💀"
It's been half a year since the latest publish.

[2022-08-03 19:22] kirilligum opened #535 "useStorageDownloadURL crashes when there is no file in firebase storage"
### Version info

**React:**
17.0.2
**Firebase:**
9.6.6
**ReactFire:**
4.2.1
**Other (e.g. Node, browser, operating system) (if applicable):**
nodejs v16.16.0

### Test case

### Steps to reproduce

in the code
[code]

### Expected behavior
if the file is not there, the status should reflect

### Actual behavior

the website is blank and in the browser's console:
Uncaught FirebaseError: Firebase S

[2022-08-03 21:17] Manokii commented on #533
There's activity now 🔥

[2022-08-03 21:17] #533 closed

[2022-08-17 17:46] jhuleatt commented on #523
Thanks @HughOMahony! I've fixed it.

[2022-08-17 17:46] #523 closed

[2022-08-17 17:58] mohitsud commented on #526
Thank you.

[2022-08-17 18:14] jhuleatt commented on #490
@usuarez's comment https://github.com/FirebaseExtended/reactfire/issues/490#issuecomment-1066208615 about mixing `firestore` and `firestore/lite` is one possible cause.

Another is by accidentally importing two different versions of the `firestore` library. This is called the [dual package hazard](https://nodejs.org/api/packages.html#dual-package-hazard) and happens when different dependencies use

[2022-08-17 18:14] #490 closed

[2022-08-17 18:16] jhuleatt commented on #477
Closing due to inactivity. If anyone else encounters this, please file a new issue and include a sample that reproduces this issue.

[2022-08-17 18:16] #477 closed

[2022-08-17 18:21] jhuleatt commented on #489
Thanks all for the additional information. We've just published ReactFire `4.2.2`, which is the first release with a new build process (https://github.com/FirebaseExtended/reactfire/pull/534) that includes a specific list of externals, and I believe solves this issue:

https://github.com/FirebaseExtended/reactfire/blob/f6d23515a2c40f6da54b86612130cd458bd19b59/vite.config.ts#L13-L34

@alexduhem or

[2022-08-17 18:26] jhuleatt commented on #445
This is fixed now that ReactFire uses RxFire `6.0.3`.

[2022-08-18 08:23] robertn702 commented on #489
Hi @jhuleatt, Thanks for the update. I upgraded from `v4.2.1` to `v4.2.2` and ran `webpack-bundle-analyzer`. It looks like the unused packages from `@firebase` have been removed, but now the `reactfire` bundle is massive.

**Dependencies**
- `firebase@9.9.1`
- `webpack@5.74.0`

---

### Before

**`reactfire`**
[code]

**`@firebase`**
[code]

---

### After

**`reactfire`**
[code]

**`@firebase`**

[2022-08-18 14:47] jhuleatt commented on #489
@robertn702 thanks for trying it out! That's a big surprise to me. According to bundlephobia, the bundle is smaller than `4.2.1`, not bigger: https://bundlephobia.com/package/reactfire@4.2.2. Any chance your `4.2.1` build reports `rxjs` or `rxfire` separately, where `4.2.2` might just report them all combined as `reactfire`?

I'll look into this a bit more. Thanks again!

[2022-08-20 20:00] perryd01 opened #540 "cannot handle error from useFirestoreCollectionData"
### Version info

**React:** 18.2.0

**Firebase:** 9.9.0

**ReactFire:** 4.2.2

**Other (e.g. Node, browser, operating system) (if applicable):**
**Next.js** 12.2.2

### Test case

use `useFirestoreCollectionData` and handle `FirebaseError: Missing or insufficient permissions.`

### Steps to reproduce

- Set permissions in firebase console and set a rule that doesn't allow the query for a user
- M

[2022-08-21 09:16] Zeta611 opened #541 "High CPU usage with constant GC with `useInitFirestore`"
### Version info

The most recent versions:

**React: 18.2.0**

**Firebase: 9.9.2**

**ReactFire: 4.2.2**

**Other (e.g. Node, browser, operating system) (if applicable): I reproduced this on my macOS Monterey using Firefox and Safari**

### Test case

This is basically the same as [the example provided in the tutorial](https://github.com/FirebaseExtended/reactfire/blob/main/docs/use.md#access-dat

[2022-08-21 09:53] Zeta611 commented on #541
Perhaps this is an issue with `enableIndexedDbPersistence` or a perfectly normal behavior?

[2022-08-22 15:05] #541 closed

[2022-09-05 19:16] bk973 opened #550 "How to set new doc in firestore"
I want to add data to cloud firestore but I can't find any guides in the documentation

[2022-09-06 10:01] aadito123 commented on #540
I have a similar issue with useFirestoreDocData and useFirestoreDocDataOnce.

The error actually originates from the `SuspenseSubject` class which throws an error when the `value` property is read while the Subject has an error i.e. Firebase Permission Error.

This error is also cannot be caught without a React Error Boundary. I think it would be better to pass in a flag like `throwErrorInObservab

[2022-09-07 06:53] aadito123 commented on #550
ReactFire is meant to help you consume data from Firestore in React, not provide it. Use the vanilla Firebase JS SDK to make any updates to your database.

[2022-09-08 06:18] bk973 commented on #550
Thank you so much @aadito123 This helped me

[2022-09-11 20:43] bookchris commented on #512
react-firebase-hooks, useSWR, etc handles this by accepting a null query, which is another option.

[2022-09-13 02:15] aadito123 commented on #540
tagging @jhuleatt to hopefully increase visibility

[2022-09-13 16:16] mig2793 opened #553 "How implement appcheck in reactfire v3?"
Hi

I have tried to get the current instance of firebase and doing the process from the firebase documentation, but appcheck always returns undefined.

`import React, { Suspense } from "react";
import { useFirebaseApp } from 'reactfire';

const APP_CHECK_TOKEN = 'xxxxxx';

export const AppCheckFirebase = () => {
const app = useFirebaseApp();
const appCheck = app.appCheck();
appCheck.activate(APP_C

[2022-09-16 10:00] Gbuomprisco commented on #489
Hi @jhuleatt, I am unsure if the issue is on Next.js on Reactifire's end, but when using both, **everything** from Firebase is pulled in the final bundle just by importing the main app provider in `_app.tsx`.

I have provided a repository to reproduce this issue:

[code]

When finished, the browser will open the output below:

<img width="915" alt="image" src="https://user-images.githubusercontent

[2022-09-16 10:03] Gbuomprisco commented on #488
When using Next.js, every module in Firebase appears to be bundles: https://github.com/FirebaseExtended/reactfire/issues/489#issuecomment-1249173518

[2022-09-19 07:08] sojumoscow commented on #531
Did you fix this useDatabaseListData ? I'm also getting this bug. I need to reload my browser in order to fetch the right data. Even the status is success, it doesn't show any data unless I reload the browser. Should mention it in the docs.

[2022-10-02 01:48] dmvvilela commented on #463
Any updates? I am almost changing the library cause this does not make sense to me.. I had a lot of places already that rules of hooks are being broken cause I need conditionals..

For example in Next.js I can't init performance cause I need to check if it's on the browser and everything is a hook and the rules are broken..

So, I have a few ideas on how to fix this:

1. Do not do stuff on hook ca

[2022-10-18 11:27] matheusbaumgart opened #557 "useSigninCheckResult.signedIn always false for email on iOS app but true on web"
### Version info

**React:** 18.1.0

**Firebase:** 9.11.0

**ReactFire:** 4.2.1

**Other:**
"@capacitor-firebase/authentication": "^1.1.0",
"@capacitor/core": "^4.0.0",

### Test case

### Steps to reproduce
1. signInWithEmail from a Capacitor app,
2. listen to useSigninCheckResult.signedIn

### Expected behavior
For useSigninCheckResult.signedIn to be true, as it happens when signing in from the

[2022-10-18 11:51] #557 closed

[2022-10-18 11:52] matheusbaumgart commented on #557
Closed as it was a misconfiguration on @capacitor-firebase/authentication from my part 😅

[2022-10-19 13:25] anrcry opened #558 "Typo in official Firebase Documentation"
Steps to reproduce:
- Go to [https://firebase.google.com/docs/hosting/nextjs](https://firebase.google.com/docs/hosting/nextjs)
- Scroll down to ⭐ `Tip: consider using ReactFire, which does this for you automatically.`
- Click the link to _ReactFire_
- Result: Redirects to GitHub, but lands on 404 page.

Fix:

Change link from [https://github.com/FirebaseExtended/reactfire/blob/main/README](https:/

[2022-10-31 08:48] europa-starfish opened #559 "Failed to import FirebaseAppProvider for reactfire@^4.2.2"
### Version info

**React:**
18.0.0

**Firebase:**
9.13.0

**ReactFire:**
4.2.2

**Other (e.g. Node, browser, operating system) (if applicable):**
expo: 46.0.16
react-native: 0.69.6

### Test case

### Steps to reproduce

1. Create an Expo App

2. Simply following the setup guide:

[code]

### Expected behavior

The App render without error

### Actual behavior

<img width="256" alt="Screenshot 20

[2022-11-10 19:30] bruceharrison1984 opened #560 "useFirestoreCollectionData infinite loop when using a Query withConvertor"
### Version info

**React:** 18.2.0

**Firebase:** 9.13.0

**ReactFire:** 4.2.2

### Test case
[code]

### Steps to reproduce
Using `useFirestoreCollectionData` with a query that has a convertor attached results in an infinite loop of undefined. Removing the `withConvertor` call from the query immediately fixes the issue. The bug seems to occur whether attaching the convertor to the query or the c

[2022-11-21 13:19] #512 closed

[2022-11-22 11:42] Laityned commented on #489
I am facing the same issue as @Gbuomprisco

[2022-11-22 12:36] stonesong commented on #443
I have the same exception too (on reactfire@4.2.2) and connecting to emulator before enabling persistence does not work

[2022-11-23 12:43] Gbuomprisco commented on #489
@Laityned if it can help, I worked it around by extending the webpack config in the next.js config file like below:

[code]

[code]

[2022-11-23 14:07] Laityned commented on #489
Thank you for the work around. I will definitely use it.
Furthermore, I think reactfire should still address the root cause of this problem.

I could help with a PR, if anyone has a clue why it is not tree shaking out firebase.

[2022-11-23 14:26] Gbuomprisco commented on #489
The library is basically unmaintaiened, which is sad.

[2022-11-25 06:54] stonesong commented on #443
Finally managed to find a workaround which is:

[code]

[2022-11-25 06:59] voidrot commented on #443
It looks like persistence is being enabled, it's just being called multiple times hence the error we are seeing.

with the below snippet (much excluded) persistence is enabled on load shown buy the log message however you will still see 2 messages as such

[code]

[code]

[2022-11-27 01:58] jbaldassari commented on #443
One of the causes of the double initialization is the use of `<React.StrictMode>` which causes components to be [mounted twice](https://github.com/facebook/react/issues/24502#issuecomment-1118754581) in dev mode, so if you are initializing firestore when a component mounts or inside a hook it will almost certainly happen twice (locally anyway).

I haven't found a good way to get `useInitFirestore`

[2022-11-29 03:41] gtrak commented on #560
I tried to use the library for the first time today and hit upon this issue.  I think the cause is due to the call to queryEqual here: https://github.com/FirebaseExtended/reactfire/blob/3cb446838d68e7ab9264c549fe7f1dccaf166881/src/firestore.tsx#L16

In my case, I am minting new converter objects on each render, which breaks the equality check, with something like:

[code]

If I instead save off th

[2022-11-29 15:02] gtrak commented on #560
Another approach to consider is to allow users to pass in a query key override, like react-query (the lib I was coming from), if it's too difficult to track whether equality will work out from reading subtle code changes.