[2014-05-05 17:15] jwngr opened #3 "Make available on npm"

[2014-05-05 17:16] jwngr opened #4 "Add tests"

[2014-05-24 04:55] #3 closed, assigned to jwngr

[2014-06-06 12:24] nelix opened #10 "this.firebaseRefs returns garbage when this.bindAsArray is passed a Firebase object with a limit clause"

[2014-06-17 05:44] jwngr opened #11 "Change repo/bower/npm name to reactfire"
For all Firebase projects/repos, we want to use lower case names by default.

[2014-06-27 23:04] #10 closed, assigned to nobody

[2014-06-29 22:24] #11 closed, assigned to jwngr

[2014-10-17 18:36] #4 closed, assigned to jwngr

[2014-10-19 07:35] insin opened #19 "API for responding to errors"
I occasionally see this sort of thing being `console.warn()`-ed when using the Hacker News API, which results in my app displaying a loading indicator until the content in question is deleted or becomes available.

[code]

I can see that it's the Firebase library itself doing it, but it doesn't seem to have an API for error handling - I'd expect to be able to do an `on('error', callback)` or simil

[2014-10-21 20:36] OlavHN opened #21 "Suggetion: Add bind methods with "foreign keys""
Specifics in: https://github.com/firebase/reactfire/pull/20

[2014-10-30 06:05] #21 closed, assigned to nobody

[2014-10-31 06:59] #19 closed, assigned to nobody

[2015-01-13 09:21] ProLoser opened #31 "Impossible to rebind on propsDidUpdate"
I want to use `react-router` which does not rebuild the components if you simply change a `:recordId` token in the url. This is making it difficult for me because I'm trying to use this mixin to handle a lot of the firebase heavy lifting but I'm binding to a URL based on the route token.

Do you suggestion I just bind to the base of my application (which makes me concerned that I will be subscribi

[2015-01-23 12:04] adamrneary opened #32 "Example featuring auth?"
This mixin is great, and the examples are very helpful, but I would love to see an example of how this works with authentication.

Where in the process would we `ref.authWithCustomToken()` and `ref.unauth()` ?

Bonus: Are there best practices for auith error handling in a React component using the Reactfire mixin? What if the user is trying to access data to which he doesn't have access rights?

A

[2015-01-30 06:29] jwngr commented on #32
Hey there, glad you found this mixin! The ReactFire mixing doesn't really concern itself with authentication. Anywhere in a React component, you can create a `Firebase` ref and call any of the `auth*()` methods off of it. That should just work without any extra mixins or code. Our [authentication documentation](https://www.firebase.com/docs/web/guide/user-auth.html#section-monitoring-authenticatio

[2015-01-30 06:29] #32 closed

[2015-01-30 06:33] jwngr commented on #31
Hey there, thanks for the question. I'm not sure I completely understand the problem you are running into. It's probably because I've never used `react-router`, so please bear with me. Every time you change the URL and have a new `:recordId`, do you want ReactFire to sync new data for that specific `recordId`? Is there a way to get a signal when the `recordId` changes and manually recreate your co

[2015-01-30 06:39] ProLoser commented on #31
I need to be able to rebind on props change. The props tell me what to watch, but this plugin seems to only work if you bind at the `componentWillMount` phase. How can I essentially change what URL it's bound to after the component has mounted?

[2015-01-30 06:50] jwngr commented on #31
I don't think this is strictly true. You should be able to call `this.bindAsArray()` or `this.bindAsObject()` from any method in your React component, not just `componentWillMount()`.

Once your props change, can you call `this.unbind(someVar)` to end the current binding and then `this.bindAs*(newRef, someVar)` to initiate a new binding? I don't know how efficient that will be, but that should wor

[2015-01-30 07:05] ProLoser commented on #31
Is there a more efficient alternative to binding in multiple components so I don't have to bind/unbind in every single one?

[2015-01-30 09:25] #31 closed

[2015-01-30 15:32] adamrneary commented on #32
Sounds good, and thanks! I think the cancelCallback piece was what I was missing. Keep up the good work…

[2015-01-30 18:19] jwngr commented on #31
Performance-wise, binding to the same Firebase reference in multiple components is not going to hurt you since Firebase will internally cache that data for you. It is a bit annoying code-wise, but you should feel comfortable doing that. If you can put together a live repro of what you are trying to do so I have a better understanding of your use case, I will take a look and try to offer some guida

[2015-02-21 03:53] sirkitree opened #33 "Remove items"
Thanks for these examples, they're super helpful to study.

Most todo apps have a method to remove items, and I'm having a hard time figuring out how to do this with reactfire. Is this something that could be added to the examples? Or could you point me in the right direction and I'll create a pull request?

Thanks for any time you can spare on this.

[2015-02-25 08:33] jwngr commented on #33
Hey there, thanks for the compliment and thanks for using the mixin!

The ReactFire mixin handles one way flow from Firebase to your component. In your case, you want to update Firebase directly by using the [`remove()` method](https://www.firebase.com/docs/web/api/firebase/remove.html). If you want to create a PR with a delete button, I would add a method to [`TodoApp3`](https://github.com/fireba

[2015-02-25 15:06] sirkitree commented on #33
Thanks @jwngr!

I ended up accomplishing this in my own app by utilizing `bindAsObject` instead of `bindAsArray` which retrieves the keys, and then pass the key around as an attribute where needed. This makes it slightly less convenient to work with the data since it's an object and not an array (for instance, you can't just get the `items.length`) but at least I had the key.

If that is an accept

[2015-02-25 21:03] mhuebert commented on #33
@jwngr I'm running into a similar issue in an app I'm working on. In the case of an array of objects, I wouldn't mind storing the key of each element as its ".key" property. So a converted array could look like:
[code]
Example code: https://github.com/mhuebert/reactfire/compare/firebase:master...patch-2

However, if elements of the array are not objects... I'm not sure what to do in the case of da

[2015-02-25 23:15] sirkitree commented on #33
Yeah I was thinking about doing that after I got the objects too, converting to an array in a different manner that retained the key as a value. It would be nice if reactfire just handled that for us though.

[2015-03-01 22:35] bs1180 commented on #33
Hi, I ran into this issue as well, and submitted a simple PR similar to that proposed by @mhuebert, although I called the property _ref instead of .key.

[2015-03-02 03:50] jwngr opened #36 "Array can return items in the wrong order"
Since `bindAsArray()` uses the `value` callback and then we loop through the keys of the object to add them to the array, there is no guarantee of the order of the elements in the array? This is not correct. We should either (1) make use of the [`DataSnapshot.forEach()` method](https://www.firebase.com/docs/web/api/datasnapshot/foreach.html) to properly iterate over the snapshot in order or (2) ma

[2015-03-02 03:50] jwngr commented on #33
@sirkitree - I'm glad you were able to work around the issue! Personally, I think the example should remain as an array, not an object. We really just need to make ReactFire powerful enough to actually handle that use case. @bs1180 is off to a good start with his PR. I made a few comments on his approach, but hopefully between all of us, we can get this together.

@mhuebert - Thanks for the sugges

[2015-03-02 03:52] jwngr opened #37 "Add the Firebase key to array items"
Currently, there is no way to get the Firebase key (aka push ID) for items bound via `bindAsArray()`. We should adopt a solution like [AngularFire's `$toJSON()` method](https://github.com/firebase/angularfire/blob/1d3260937fd5af0708d7a60795b83361dc943a29/src/utils.js#L403-L432) which handles both arrays of objects and arrays of primitives. In the case of objects, we do something very similar to wh

[2015-03-02 03:53] jwngr commented on #33
I also opened #37 to track the work for adding the Firebase keys to array items.

[2015-03-02 03:53] jwngr commented on #37
Initial attempt: #35

[2015-03-28 19:18] zoomclub opened #38 "What is the plan for moving to ES6?"
React is phasing out mixins with the change to ES6 classes. What is the plan for the reactfire mixin with this coming change? Could reactfire also tie in with react contexts? Below is a link to the context approach:

https://blog.jscrambler.com/react-js-communication-between-components-with-contexts

React relay with graphql is another approach coming to react. It would seem like reactfire updated

[2015-04-09 05:20] jwngr commented on #38
No plans at the moment, although I'd gladly comment on any PRs you send my way. [We've been discussing](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/firebase-talk/aoPNvQQsVUE/YP-B9eF0_TcJ) how to get Firebase working with React Native and I think this also ties into that a little bit. Do you have any concrete ideas here?

[2015-04-09 17:28] zoomclub commented on #38
Great to learn about the discussion on Firebase and RN integration! In terms of component development I'm just looking for the optimal way for Firebase to provide the data and then for editing that data on a component, in light of the rapid progress being made with ES6 and React.

There are a number of proposals out there (the ones I mentioned) and I'm considering them in the context of the app I'

[2015-04-13 14:23] jagandecapri commented on #38
+1

[2015-04-16 18:53] timlind opened #39 "ReactFire Auth with React Router"
Given the auth example on react-router, what's a recommended approach to obtain a reference to the firebase instance from the component's static willTransitionTo() function?

https://github.com/rackt/react-router/blob/master/examples/auth-flow/app.js#L46

[2015-04-16 20:25] jwngr commented on #39
As someone who has never used `react-router`, you're probably gonna have to give me some more context here. What are you trying to do with the `Firebase` ref? Do you want to get the ref's auth state?

In general, you can create a `Firebase` reference whenever you want simply by doing:

[code]

[2015-05-05 04:03] jwngr commented on #39
Any comments @timlind? If not, I'm going to close this issue.

[2015-05-06 12:40] timlind commented on #39
Hi @jwngr,

That's useful to know the ref can just be re-created several times.

You're right, the need is to check the auth state on the ref. Seen as the willTransitionTo function is a static on the component that will be rendered at that route url, I was looking for a pattern of accessing the original Firebase ref from the static function, but it's more a react-router specific solution. That sai

[2015-05-19 07:58] matiaslarsson commented on #37
Yes please! Any progress on this?

[2015-05-20 22:00] #39 closed

[2015-05-20 22:02] jwngr commented on #37
Haven't had time to code this up yet. There were some attempts from the community (#35 and #40) but neither fully solved the problem. Still on my todo list.

[2015-05-21 17:54] mrienstra commented on #37
Stating the obvious here, but since this didn't immediately occur to me, perhaps it will be helpful to others:

You can use the `bindAsObject` method in place of `bindAsArray`.

Related: the [limitations of treating Firebase objects as arrays](https://www.firebase.com/docs/web/guide/understanding-data.html#section-arrays-in-firebase).

PS: If you were using `Array.prototype.map` to turn your Fireb

[2015-06-06 20:45] olivierlesnicki commented on #38
+1

[2015-06-10 11:07] matiaslarsson commented on #36
The fix from @morgante worked for me when used together with bindAsObject. Nice work!

[2015-07-04 03:40] HighOnDrive commented on #38
Can't wait for a Firebase implementation of a GraphQL server, here are some relevant links:

http://facebook.github.io/graphql
https://github.com/RisingStack/graphql-server
https://www.react-europe.org/#graphQL-anchor
https://www.reindex.io/blog/category/graphql

[2015-07-05 05:28] HighOnDrive commented on #38
GraphQL can serve as a great way to structure queries to match React views. Mutation of the returned data can then work in the typical post fashion. Then for realtime collaboration a complete returned document or only specific values could be marked, so that edits on them are shared. This way there is the option to have private and public data within an app.

[2015-07-05 17:17] andyfenelon commented on #38
Hi, any development on how to use
  mixins: [ReactFireMixin],

in ES6?
for a react project not react native.
thanks.

[2015-07-05 21:53] jwngr commented on #38
There are still no active plans to update ReactFire for ES6 / React Native. You may want to check out re-base (https://github.com/tylermcginnis/re-base) which may fulfill your needs.

[2015-07-07 07:33] AndrewBestbier commented on #37
This was done in #40

[2015-07-07 07:37] jwngr commented on #37
Yup, this got merged in. I'll get a 0.2.0 release out with all the new goodies in the next day or two.

[2015-07-07 07:37] #37 closed

[2015-07-07 07:39] jwngr commented on #36
This is now fixed! I will get a 0.2.0 release out in the next day or two which includes this change.

[2015-07-07 07:39] #36 closed

[2015-07-07 22:28] HighOnDrive commented on #38
Its most interesting to hear that GraphQL is the new REST, these are exciting times! Articles like the following are arriving in anticipation of the release of GraphQL in August.

https://medium.com/chute-engineering/turbine-a1f55d4b7d91

Firebase and the React team might already be jamming on this? The future just keeps getting brighter :-)

[2015-07-16 18:57] jwngr commented on #33
Hey everybody - all of these issues are now resolved with today's 0.5.0 release! I even updated [the live Todo app demo](https://reactfiretodoapp.firebaseapp.com/) to include deleting items. You can find the source code in the `examples/` directory. Let me know what you think!

[2015-07-16 18:57] #33 closed

[2015-07-21 08:06] matiaslarsson opened #49 "Upgrading to 0.5.0 throws: this.state.newsItems is already bound to a Firebase reference"
So I'm probably doing something wrong? In 0.4.0 the code below worked fine when filtering a news list by year but now Reactfire is complaining that newsItems is already bound to a Firebase reference.

[code]

The two examples you have (Todo and Comments) never refresh/filter an existing array/object (only updating or deleting from it) so I'm wondering if you can point me in the right direction? Am

[2015-07-21 17:49] jwngr commented on #49
Interesting. I did make a change which disallowed binding to something which was already bound to (which kind of makes sense to me), but maybe that was the wrong decision. I see what you are saying and your use case makes sense. It'll be a bit tricky since I'll need to clear the existing listeners if they exists, but I'll go ahead and put together a 0.5.1 release which reverts that change and it s

[2015-07-21 18:37] jwngr commented on #49
Also, for what its worth, it probably makes sense to just use client-side filtering of the downloaded data stored in `this.state.newsItems` instead of constantly re-binding via ReactFire. Every time you re-bind, you re-download the data and you'll see the flash you mentioned. The only reason you didn't see that in 0.4.0 is because of a bug which never called `off()` on the previously bound listene

[2015-07-21 18:44] jwngr commented on #49
And after thinking about this more, I don't think I really want to change this behavior. Under the hood, I'm going to be unbinding the variable before re-binding, so I think it makes sense to require the caller to do that so they understand the performance implications of what they are about to do. I updated [the change log](https://github.com/firebase/reactfire/releases/tag/v0.5.0) with this brea

[2015-07-21 18:44] #49 closed

[2015-07-21 18:47] matiaslarsson commented on #49
OK, I really liked that bug in 0.4.0. ;)

Client side filtering will work for my particular use case but people wanting to query a very large Firebase structure (or very slow mobile clients or connections) will probably want to get the results filtered from Firebase so you might want to revisit this sometime.

[2015-07-21 18:51] jwngr commented on #49
Haha yeah it was a nice bug that was doing bad things under the hood :)

I definitely do see people wanting to change their query parameters, so I will keep this in mind and see how many others run into issues. It may make it's way back in before the 1.0.0 release. Thanks for opening this issue and thanks for the feedback!

[2015-07-21 18:53] matiaslarsson commented on #49
Awesome, keeping my fingers crossed for a solution in 1.0.0!

Have a nice vacation!

[2015-07-23 13:37] matiaslarsson opened #50 "[0.5.0] Firebase.update failed: First argument contains an invalid key (.key) in property"
I'm probably missing something obvious here but after upgrading to 0.5.0, when trying to update an existing record, I get `Uncaught Error: Firebase.update failed: First argument  contains an invalid key (.key) in property 'news.-XXXXXXXXXX'.  Keys must be non-empty strings and can't contain ".", "#", "$", "/", "[", or "]"` from firebase-web.js:129 (v2.2.7)

This used to work in 0.4.0.

I'm loading

[2015-07-25 07:09] jwngr commented on #50
The `.key` attribute is not a valid key name for the Firebase database. It is around merely for convenience but should be removed before writing back to the database. You should be able to safely do `delete item['.key']` to get rid of the attribute before you write to the database.

[2015-07-25 07:09] #50 closed

[2015-07-25 14:53] miguelc1221 opened #52 "this.bindAsArray() incorrectly concatenates data"
I started using Reactfire 0.5.0 and when i bindAsArray(). my data comes back concat like this.
My Firebase data -
       jakelingwall
                  He:  "guy"
                  Her: "girl"

My function -
 componentDidMount: function(){
        this.ref = new Firebase("https://githubnote-taker.firebaseio.com");
        var childRef = this.ref.child(this.getParams().username);
        this.bindA

[2015-07-26 11:55] cassus commented on #38
+1

[2015-07-27 16:18] jwngr commented on #52
Hey there, can you please throw together a live repro using JSFiddle or Plunker? If you can use a demo Firebase (e.g. https://foobar.firebaseio-demo.com) and put your data in there, that would awesome so that I can actually toy with the data myself.

[2015-07-28 13:51] pandaiolo commented on #38
+1

[2015-07-28 22:59] martellaj opened #53 "Removing records from Firebase not reflecting correctly in app"
Let me set the stage for you. Small todo list app. List of todo items are stored in a Firebase database, they have 2 properties (text and done). My todo list app has 2 ways to delete records from the database: delete individual items or delete all that are done.

I'm finding that if I have a list of 3 items, say A, B, and C, and I delete A, the list is rendered incorrectly and instead of being B,

[2015-07-28 23:12] jwngr commented on #53
Thanks for the bug report Joe. FYI that it'll probably be a couple days until I have time to look into this, but I'll get to it.

[2015-07-29 03:16] martellaj commented on #53
Sounds good. I'm going to dig into it more and provide more info I can.

[2015-07-29 04:29] martellaj commented on #53
Apparently explicitly setting unique keys on dynamic lists is important in React. Lesson learned. Y'all are good. Awesome library!

[2015-07-29 04:29] #53 closed

[2015-07-29 15:08] jwngr commented on #53
Glad you got it worked out and are enjoying the library. Good luck with your project!

[2015-08-02 20:07] rstormsf commented on #38
+1

[2015-08-04 20:00] juancarlosfarah commented on #38
+1

[2015-08-12 08:47] pilwon commented on #38
+10000 GraphQL + Relay are released now

[2015-08-22 01:57] timotius02 opened #55 "Why '.key' and '.value'?"
Just wanted to know why the use of '.key' and '.value' rather than just 'key' & 'value'. Also why does reactfire bind work like:

[code]
instead of just:
[code]

[2015-08-24 15:39] jwngr commented on #55
There are a couple reasons why I went we `.key` and `.value`. For one, `.value` is already a built-in thing to Firebase and you can actually do something like this:

[code]

which is equivalent to:

[code]

So using that built-in seemed to make a lot of sense. While `.key` is not a built-in, it follows the same naming convention.

Regarding your suggestion to use `key` and `value`: those are very

[2015-08-24 15:39] #55 closed

[2015-08-25 06:00] rstormsf commented on #52
Confirmed the issue.
Here is crafted jsfiddle, specially for you @jwngr
https://jsfiddle.net/yak1xxu3/1/

[2015-08-25 06:14] jwngr commented on #52
Thanks for the JSFiddle, @rstormsf. I see what is happening now. I still wouldn't call this a bug in ReactFire per se. It is simply React trying to render an array into HTML. It looks like they will just concatenate things in a weird way to make that happen. I see [other reports of it on Stack Overflow](http://stackoverflow.com/questions/25674704/react-render-array-in-mapped-return). The bound ite

[2015-08-25 06:14] #52 closed

[2015-08-25 06:19] rstormsf commented on #52
Is it possible to filter a childRef before bindAsArray?
like to remove .key from an Array of Objects and make it truly an array?

I wish I could if ref was a bit descriptive
<img width="310" alt="react_github_notetaker" src="https://cloud.githubusercontent.com/assets/9360827/9460001/8d304948-4ab6-11e5-8b0d-0deba2052e17.png">

[2015-08-25 06:36] jwngr commented on #52
There is no way to directly bind as a "regular" array, but converting to a "regular" array is fairly straightforward:

[code]

This becomes even easier if you are using something like lodash.

There is a trade-off here between having just a "regular" array and having the key available to you. Firebase does not have built-in support for arrays, so ReactFire tries to find a healthy balance with arra

[2015-08-25 07:18] rstormsf commented on #52
thank you @jwngr for explanation.

[2015-08-29 05:44] dlrice commented on #38
+1

[2015-08-29 20:17] jhabdas commented on #38
The React team chose not to allow the existing mix-in pattern when creating a React component the ES6 way, though `React.createClass` and mix-in usage isn't going away anytime soon. When `createClass` is retired, if ever, it'll likely require `react` to make a breaking change so, when they do, we'll all hear about it. The nice thing is you can mix both approaches in your apps and simply prefer one

[2015-08-29 20:40] HighOnDrive commented on #38
There are new frameworks like Cycle.js than need a Firebase driver too. The driver is their specific way of adding a service to Cycle.js.

IDEA! Instead of Firebase always making a specific package per given framework why not create a core dropin service and then a set of plugins for specific things like Relay, Falcor, etc. Actually, Relay and Falcor are less robust copycats of Firebase any ways a

[2015-09-10 02:10] collin opened #63 "Discussion List"
Is there a discussion list for reactfire? If there is it would be nice to have a link to it in the repo.

[2015-09-10 15:45] jwngr commented on #63
Nope, there is no discussion list for ReactFire specifically. However, feel free to post questions on our [Firebase Google Group](https://groups.google.com/forum/#!forum/firebase-talk) or open issues on this repo. If we hear enough people ask for a discussion list, we will create like we have for AngularFire and EmberFire. Thanks for the suggestion!

[2015-09-10 15:45] #63 closed

[2015-09-10 16:01] jwngr commented on #38
Not a bad idea @HighOnDrive. I know you'd really like to see a Cycle.js driver, but we just don't have the resources right now to investigate and develop one. We'd love to see something come out of the community though!

As for your idea about create an ES6 module with core features, I think that is compelling. For example, it certainly would be nice to not have to recreate the realtime array logi

[2015-09-11 09:03] rstormsf commented on #38
resources can be solved by hiring :-)

[2015-09-20 02:17] jyasskin opened #65 "Add support for authentication"
I'm fairly new at React, so this could be the wrong design entirely, but:

It looks like a good way to handle authentication is to write:

[code]

It would be nice if ReactFire would handle dropping the current authentication state into a component's state, instead of needing this custom code.

[2015-09-21 18:32] jwngr commented on #65
That definitely does seem like a good way to handle Firebase Authentication state. I don't think it's worth putting in ReactFire proper though. It already is only two lines of code and I don't think the addition of the other user management methods really adds much to the library. It makes sense in AngularFire since we promisify the API and handle the digest loop for you automatically. Those don't

[2015-09-21 18:50] jyasskin commented on #65
It's more than the 6 lines I showed. When you fill in the `offAuth(...)`, you wind up needing to pull the whole callback out into a separate function so that you can pass the same object to `offAuth` as you passed to `onAuth`. Then there's interaction with http://stackoverflow.com/q/32688547/943619 if you want to use the `uid` to bind any state. I wound up with the following mixin:

[code]

Compon

[2015-09-21 18:57] jwngr commented on #65
Fair enough. Let me think about it and talk with some others on the team. Re-opening this for now. Thanks for all the example code!

[2015-09-23 03:25] jyasskin opened #66 "Provide a way to bind to a props-dependent ref"
This has come up in a couple questions (#31, #49, http://stackoverflow.com/q/32688547/943619), so I'm going to attempt to propose an API change to fix it. I'd be totally happy with another solution, of course.

I want to bind a dynamic Firebase reference to `this.state.foo`. We want to recompute the reference whenever props change (*). If the reference hasn't changed, we don't want any extra netwo

[2015-10-21 18:27] mzorzella opened #71 "Plan to upgrade react to v0.14"
Hi,
What is your plan to upgrade reactfire to react v0.14?

Thanks,
Michele

[2015-10-21 18:37] jwngr commented on #71
We haven't gotten around to testing and upgrading the `bower.json` and `package.json` for React v0.14 yet. I'm hoping to spend some time going through the open issues in this repo within the next week or so and will get to this then.

Have you tried using this with React v0.14? Run across any issues I should know about?

[2015-10-21 20:41] mzorzella commented on #71
Jacob, I'm in the process of trying it and I'll report back in the next couple of days. Thanks a lot.

[2015-10-21 21:41] jwngr commented on #66
Thanks for the suggestion (and apologies on not responding earlier)! I think this is a good suggestion. I unfortunately just don't have a ton of time to look into it right now. I would happily code review a PR if you have time to put one together. Otherwise, I'll get to this once I have some more time to devote to the growing ReactFire issues list.

[2015-10-21 23:01] jyasskin commented on #66
Just to set expectations, it's unlikely I'll find time to do a PR.

[2015-10-21 23:15] jwngr commented on #66
Sounds like we have something in common :ghost:

[2015-10-23 21:34] yeso126 opened #72 "Add support for react-native-Android"
I get the following error:
    No transports available

[2015-10-23 21:44] jwngr commented on #72
I have no idea what this means... Can you please provide more details? What versions of everything are you using? I've never used `react-native-android` so you're gonna have to help walk me through this a bit.

[2015-10-23 23:20] puf commented on #72
Facebook is working (with the community) on getting WebSocket support for
Android into React Native. This should be available in React Native 0.13.

If it doesn't work yet in that version, you might want to file a bug report
on: https://github.com/facebook/react-native/pull/2839

On Fri, Oct 23, 2015 at 2:44 PM Jacob Wenger <notifications@github.com>
wrote:

[2015-10-23 23:28] jwngr commented on #72
Ahh I see, so Firebase doesn't work on ReactNative for Android. In that case, there is nothing that can be done on this repo, so I'm going to close this issue.

[2015-10-23 23:28] #72 closed

[2015-10-25 22:12] jhabdas commented on #38
Parse maintains a similar mixin for connecting to React, but also provides [a method for using ES6 classes](https://github.com/ParsePlatform/ParseReact/blob/master/docs/api/ES6.md) for use with observables a la RxJS. Is that not something Firebase is planning to do? Seems like they'll lose a bunch of users if they don't, as I don't know any serious developers who aren't using ES6 classes in their

[2015-11-01 04:37] mzorzella commented on #71
Hi Jacob, I've been using reactfire for the last few days with react 0.14 and I've haven'r run across any issues so far.

[2015-11-02 17:54] jwngr commented on #71
Great, thanks for letting me know. I just tried upgrading the `react` dependency to `0.13.x || 0.14.x` but there are some changes required to get the tests passing again. I was making progress until I hit [this open issue](https://github.com/facebook/react/issues/4461) which I'm not sure how to work around. I'll keep an eye on that issue and hopefully it gets fixed soon. Otherwise, I'll need to fi

[2015-11-07 12:11] nelix commented on #38
I had a little go at designing a fresh firebase API as a higher order component. This is what I came up with.

[code]

[2015-11-07 18:54] HighOnDrive commented on #38
We need a RxJS module for Firebase that is built for RxJS and not tied into any specific framework. The same module could then work with all the frameworks that have already moved to RxJS. When is Firebase going to quit sitting on their asses about this and get with the program!?

I mean it's a new day now with FRP in the picture, just check out what happened at the Reactive 2015 conference or the

[2015-11-16 20:22] jwngr opened #74 "Allow differentiation between no data and data not yet loaded in the array case"
First crack at fixing this was in #73.

[2015-11-17 06:39] joenoon commented on #74
@jwngr: I've put two options together to get your thoughts.

The first (https://github.com/firebase/reactfire/pull/75) is what you mentioned in https://github.com/firebase/reactfire/pull/73.  Unfortunately its still necessary to have the value handler, since if there is no data at the path, none of the child* events will fire, and we wouldn't be able to differentiate between no data and data not l

[2015-11-30 19:37] jwngr commented on #74
Joe, thanks for this. Sorry I haven't gotten around to it yet. I hope to do so at some point this week.

[2015-12-01 13:29] olivierlesnicki opened #77 "The connection is really slow on react-native (ios)"
For some reasons, it takes a long time for my react-native app to `connect` to `firebase` (i.e. receives the first event). Once the connection has been made, any subsequent events are triggered correctly with close to no latency.

Is there a reason why that would happen? (for example, Heroku sends dyno to sleep if no one uses them and spins them up when someone tries to access it. This means the f

[2015-12-01 13:49] katowulf commented on #77
Could you provide some evidence demonstrating what "a long time" means, and offer a minimal repro that we can use to test? Output from Firebase.enableLogging(true) would be very helpful.

[2015-12-01 13:52] katowulf commented on #77
It would also help to know if this is specific to heroku and, if so, why react native is involved in the equation.

[2015-12-01 14:12] olivierlesnicki commented on #77
@katowulf it has nothing to do with Heroku and all to do with react-native.

I was just trying to give an example of a service that can be very slow on the first connection and then very fast on subsequent ones.

[2015-12-01 17:48] jwngr commented on #77
What version of React Native are you using? With 0.15, the React team released a bunch of new websocket fixes which may improve the situation. Likewise, maybe something they implemented made the situation worse. The output from turning on `Firebase.enableLogging(true)` at the beginning of your app will be useful for us. Without that, there's not a ton we can do to help.

Also, note that I'm making

[2015-12-01 19:39] olivierlesnicki commented on #77
I was using React-Native post 0.15. Will check it again and raise the issue again against the right outlet if possible.

[2015-12-10 22:45] Downchuck commented on #71
Bug is fixed, checking status.

[2015-12-10 23:57] jwngr commented on #71
Yeah, I'm just waiting for them to cut a new release.

[2015-12-14 07:44] ferologics opened #78 "not working with react native"
I'm not sure what's wrong but basically it's not synching data, and doesn't say that anything is wrong.

The stackoverflow [question](http://stackoverflow.com/questions/34237797/how-to-use-reactfire-with-react-native)

the version is 0.5.1

my [code](https://github.com/ferologics/Pomodoro/blob/master/todayView.js)

if you want I can send you the link for firebase database as well

thanks

[2015-12-14 17:51] jwngr commented on #78
[Also posted on StackOverflow](http://stackoverflow.com/questions/34237797/how-to-use-reactfire-with-react-native). Please avoid duplicating posts across channels in the future. Ask one place and we will help you out as soon as we can.

It looks like Puf answered you on StackOverflow, so I'm going to close this issue out.

[2015-12-14 17:51] #78 closed

[2015-12-19 16:53] dbkaplun commented on #50
Here's a nice regex you can use to validate Firebase keys: `const VALID_FIREBASE_KEY_RE = /^[^.#$\/\[\]]+$/`

[2015-12-21 05:47] gragland opened #79 "shouldComponentUpdate nextState always equals this.state"
Been running into any issue where the shouldComponentUpdate function's nextState param is always equal to this.state making it impossible to see what data changed.

I managed to fix this issue by modifying reactfire to always clone this.data before calling setState:
[code]

To be honest, I'm not exactly sure why this worked.. maybe someone else can see what the issue is and propose a better soluti

[2015-12-22 19:17] aj0strow opened #80 "bindAsPrimitive"
When writing complex form components, it's practical to bind strings directly to state, instead of needing to check `".value"` each time. Alternatively if there was an option in `bindAsObject` to always map to `".value"`.

It makes the workflow more challenging as is, because you can't firebase bind and link state on the same component state key (three-way binding) without writing all the code.

[2015-12-28 21:49] jwngr commented on #79
Hmm, I'm not aware of anyone else reporting an issue like this and I have never come across it myself. But that is definitely annoying and may be a bug on our end. Can you please provide a minimal repro via JSFiddle or Plunker and I'll take a look?

[2015-12-28 21:53] jwngr commented on #80
Can you please go into more detail on what you mean by this? Showing some code would probably help clear things up.

FYI that the reason why we use `.value` is explained [here](https://github.com/firebase/reactfire/issues/55). I still think it provides more benefit than cost.

[2015-12-28 21:56] jwngr commented on #77
@olivierlesnicki - Did you have a chance to look into this again? I'm not sure if you opened the issue on a separate forum. If you did, please post a link to it here.

Ultimately, this is not a ReactFire issue, so I'm going to close it. There may in fact be an issue on our end, but that would be in the Firebase SDK itself. If you have more details to help us track this down, please reach out to [o

[2015-12-28 21:56] #77 closed

[2015-12-28 21:56] jwngr commented on #71
Status update: still waiting for React to cut a new release...

[2015-12-28 22:54] aj0strow commented on #80
It's just a little awkward.

[code]

It's not a huge thing, but why do i need the complexity of an extra `object[".value"]` when I could bind to `string | null` and avoid it?

[2015-12-28 23:09] jwngr commented on #80
Ahh I see. I agree it can be a bit awkward, but I still think it's our best option given my comments in #55. The `linkState()` call is particularly awkward, but I think two-way data binding is a bit of a React anti-pattern and is almost always not the best solution. So I'd rather not optimize for that use case.

[2015-12-28 23:09] #80 closed

[2015-12-28 23:32] aj0strow commented on #80
What's bad about it? It works fine for me ..

[2015-12-28 23:54] jwngr commented on #80
See the warning at the top of [their docs](https://facebook.github.io/react/docs/two-way-binding-helpers.html) for it:

If you're new to the framework, note that ReactLink is not needed for most applications and should be used cautiously.

One of the great parts of React is the one-way data flow and a move away from two-way data binding. A uni-directional data flow makes your apps easier to reason

[2015-12-29 16:23] aj0strow commented on #80
Yeah i hear that all the time but when i ask *why* nobody can tell me. Anyway, thanks for replying.

[2016-01-08 20:29] joenoon commented on #74
@jwngr Please feel free to close these.  We've since started to do what I was describing last above, where we just basically have a bindSnap mixin, and thats the extent of it.  That lets us check if its present, iterate it as an array, or use it as a value.  This is working out well for us so far.

[2016-01-10 18:04] alanpog commented on #71
Any news on this? There had been a few releases from React since that bug fix. Thanks.

[2016-01-11 18:25] jwngr commented on #71
I tried out the latest version of React, but I still hit the testing issue despite them saying it was fixed... Didn't spend a lot of time on it after that. The branch is [here](https://github.com/firebase/reactfire/tree/jw-react-0-14) in case anyone has any ideas of how to get the tests passing.

[2016-01-12 06:57] jwngr commented on #74
Thanks Joe. Glad you got something working! Sorry for never responding to all of these. None of them really fit into the Firebase model that well unfortunately without making some breaking changes which I don't really want to do right now. Closing for now, but will reconsider these in the future.

[2016-01-12 06:57] jwngr commented on #79
Ping. Please provide a repro or I am going to close this issue.

[2016-01-22 07:46] jehoshua02 commented on #80
@aj0strow

Forgive me for being direct, but he just did.

For deeper understanding [read docs](https://facebook.github.io/react/docs/why-react.html) and watch [conference](https://www.youtube.com/watch?v=x7cQ3mrcKaY) [presentations](https://www.youtube.com/watch?v=i__969noyAM).

[2016-01-22 18:59] jwngr commented on #79
Closing due to lack of repro.

[2016-01-22 18:59] #79 closed

[2016-01-22 19:00] jwngr commented on #71
Just an update here: this is still not fixed in the latest release of React. As comments in [this bug](https://github.com/facebook/react/pull/5561) suggest, it should go out with the next release. At that point, the tests should finally pass once again and we can upgrade to React 0.14.

[2016-01-29 19:08] #71 closed

[2016-01-29 19:10] jwngr commented on #71
React finally shipped a fix for the bug in ReactTestUtils! I just merged in a PR which updates ReactFire to use React 0.14.x. Thanks everyone for the patience.

I hope to cross of a couple more open issues over the weekend and get out a new release of ReactFire. Stay tuned!

[2016-02-03 14:59] tirsen opened #82 "react 0.13.x dependency causes multiple react versions to be installed"
Reactfire has a strict 0.13.x dependency. If you start using 0.14.x there is no error message, instead npm gladly installs two versions of react at the same time which causes an obscure and hard to debug error at runtime. The workaround is to use npm-shrinkwrap but that is very annoying. It would be much better if reactfire would just support anything above 0.13.

[2016-02-03 17:26] jwngr commented on #82
Related issue: https://github.com/firebase/reactfire/issues/71

I did the work required to upgrade to `0.14.x`, but I haven't published a new release yet. I was hoping to get a few other fixes in before releasing, but I don't know when that will happen. So I'm just going to cut a new release now. I've [upgraded the `react` dependency to `0.14.x`](https://github.com/firebase/reactfire/blob/3ce65f1a

[2016-02-03 18:10] jwngr commented on #82
Okay, after doing some more research and reading [this](https://blog.domenic.me/peer-dependencies/), I'm pretty convinced that I should update `react` and `firebase` to be `peerDependencies` instead of regular `dependencies`. My plan is to cut a new release with the following dependencies in the `package.json`:

[code]

[2016-02-04 00:13] jwngr commented on #82
Okay, `0.6.0` is out and should resolve this issue both now and in the future!

[2016-02-04 00:13] jwngr commented on #71
ReactFire `0.6.0` is out and supports React `0.14.x`. Thanks everyone for your patience!

[2016-02-04 00:13] #82 closed

[2016-02-04 05:49] tirsen commented on #82
Yes, I also think peer dependency is the right way to go. Thanks for the really quick turn around time for this. It made my morning!

[2016-02-15 15:18] remojansen commented on #38
:+1: GraphQL & RxJS would be awesome!

[2016-02-22 14:52] tirsen commented on #74
Any progress on this? In particular I would like two things: 1) differentiate between loaded/no data, 2) some way of knowing if all data has been loaded yet. The latter is to be used for e.g. server side rendering or automated tests.

[2016-02-22 14:54] tirsen commented on #74
I think the best way to work around the backwards compatibility issue is to just have an extra "bindAsDataSnapshot" method. That would address my first request, but not my second.

[2016-03-01 06:21] jwngr commented on #74
For posterity sake, here are my comments on the two PRs @joenoon put together since I never initially responded to them directly:

#75  - I think the code here is good although I'm not wild about the `var array = this.data[bindVar] || (this.data[bindVar] = []);` syntax. I also wonder if it will be confusing / unexpected that the array bound to `this.state` can be `undefined` (aka, not an array) be

[2016-03-06 19:00] kulakowka commented on #38
It can help to mixin into react es6 component https://github.com/brigand/react-mixin

[code]

[2016-03-11 08:20] tirsen commented on #74
I don't think you necessarily need to make breaking changes. You can add a new "bindAsDataSnapshot" method in addition to other two binding types.

That said, I've been building rather complex apps with this for a few months now and I do think you need to make some breaking changes. In particular I think the bind methods need to be idempotent: everything else in React is idempotent, when one of yo

[2016-03-13 04:50] rbarman commented on #38
+ 1

[2016-03-13 05:09] jhabdas commented on #38
ES6 is dead. Long live COBOL!

[2016-03-16 22:26] jwngr commented on #74
Thanks for the feedback. Here are some comments:

I don't like the API of that as I think it will lead to the bad practice of calling `val()` on the `DataSnapshot` multiple times which can be really bad for performance.

I'm not sure I understand what you are suggesting here. How does this relate to the issue at hand? Also, in 99% of cases you only need to call `bindAs*()` once. It's possible I'm

[2016-03-17 06:21] tirsen commented on #74
No idempotency is not related to the issue at hand. You just mentioned that you didn't want to make any API breaking changes and I think that in order for reactfire to be useful for complex apps you need to. In particular reactfire is not idempotent which causes all sorts of problem because the rest of React is (i.e. calling setState multiple times with the same value has the same effect as callin

[2016-04-07 22:12] jwngr opened #87 "Upgrade dependency to include React 15.0.0"
Change log for React 15.0.0 [here](https://facebook.github.io/react/blog/2016/04/07/react-v15.html).

I'll gladly take a PR from the community on this one if anyone sees this. We need to add `15.x.x` [here](https://github.com/firebase/reactfire/blob/df2e9998efa8e3fc0291c2387c8266ab61a3f409/package.json#L31) and [here](https://github.com/firebase/reactfire/blob/df2e9998efa8e3fc0291c2387c8266ab61a3f

[2016-04-16 16:52] ThariqS commented on #87
--> #89

[2016-04-17 15:45] jasan-s opened #90 "If using (React + Redux) and firebase as main backend database, how would i host the project?"
I want to use firebase as my main backend database storage, i also want to use Redux with React. I am just confused as to how i would host my project. I can't host on firebase i think since this will be a node app. I'm a Node newbie , so pardon me for being ignorant but if i use redux in client side only will npm compile to static js files where i can use firebase hosting?

[2016-04-18 00:10] jwngr commented on #90
You can build a static website using React and Redux which can be hosted on Firebase. You don't need Node to run it, you just need Node to build it. Once the code is built though, you can deploy it to Firebase Hosting and everything will work smoothly.

[2016-04-18 00:10] #90 closed

[2016-05-18 20:43] holgersindbaek opened #92 "Upgrade to support latest firebase version"
Details here: https://firebase.google.com/support/guides/firebase-web#import_your_project_to_the_firebase_console_numbered

[2016-05-18 22:32] jwngr commented on #92
We are upgrading ReactFire to the latest SDK in #91. Give us a few days to get all our libs upgraded.

[2016-05-18 22:32] #92 closed

[2016-05-18 22:32] jwngr commented on #87
Just to close the loop here, this was shipped in version `0.7.0` a few weeks ago.

[2016-05-18 22:32] #87 closed

[2016-05-19 16:28] rsflow opened #93 "React Firebase 3 Issue!"
Hi,

I keep getting this error with the new SDK whenever I call Firebase functions
![screen shot 2016-05-19 at 6 24 25 pm](https://cloud.githubusercontent.com/assets/6751025/15401323/4b74382c-1def-11e6-99cf-b6e614c89277.png)
Does the new SDK work on React?

Thank You!

[2016-05-19 18:31] yocmen opened #94 "Hi, please i need help with this. "_firebase2.default is not a constructor""
i got this error when i run my react App:

`create.js?84fe:13 Uncaught TypeError: _firebase2.default is not a constructor`

just in the line when a create a new Firebase:

`const ref = new Firebase('https://my-project.firebaseio.com/');`

Can any one help me please, i use the latest version of firebase, reactfire, react-mixin

[2016-05-20 04:16] chitopolo commented on #93
@rsflow
It works for me, i had the same issue what i think you should do is
`npm uninstall --save firebase and after that npm install --save fireabase`
That worked for me, now i'm trying to fix some other reactifre issues, I hope it helps!

[2016-05-20 04:17] jwngr commented on #94
What version of Firebase are you using? This library has not yet been upgraded to the just-released Firebase `3.x.x`. See #91 for details.

[2016-05-20 04:18] jwngr commented on #93
ReactFire has not yet been upgraded to the latest Firebase `3.x.x` SDK. Please be patient while we get #91 reviewed, tested, merged, and deployed.

[2016-05-20 16:18] wub commented on #94
You either need to:
- Downgrade to Firebase 2.X (force version in `package.json`) and continue as normal,
- Or [upgrade to the new Firebase](https://firebase.google.com/support/guides/firebase-web), and use `firebase.initializeApp()` instead of `new Firebase()` - but you'll probably have to wait for [ReactFire 1.0](https://github.com/firebase/reactfire/tree/1.0).

When you upgrade, also make sure

[2016-05-20 16:27] yocmen commented on #94
hoooo i see... i use Firebase 3, ok i will wait for the next release of the reactfire.... very thanksss to all!!!

[2016-05-20 16:27] #94 closed

[2016-05-20 20:08] rsflow commented on #93
@chitopolo I did a clean install of all the modules but still didn't help. :(
Did you get the same error? I checked the Firebase object from the `import Firebase from 'firebase'` and it's empty. Then I searched in the main repo for any `_firebase2.default` but no results.
@jwngr Great news thank you :)

[2016-05-20 21:19] chitopolo commented on #93
@rsflow have you followed all[ this](https://firebase.google.com/docs/database/server/start#authenticate-with-admin-privileges) steps? You should review it again, because I think you might missed something, maybe the error is on you firebase.initializeApp config.
@jwngr How long could it take?

[2016-05-20 21:32] moonman22 commented on #93
i was having this problem trying out the new SDK for a React & Webpack setup and the only solution that worked with me was to make sure to import the browser version of the SDK as webpack was attempting to import the node version , using ES6 imports use this and it should work
`import firebase from 'firebase/firebase-browser';`
that of course regarding the SDK itself , React Fire doesn't work with

[2016-05-21 12:33] rsflow commented on #93
@moonman22 Wow thank you very much ... finally it works. :)
@chitopolo The solution @moonman22 gave worked. This issue is happening only to the react and webpack users.

[2016-05-21 14:12] moonman22 commented on #93
@rsflow Your are welcome , glad i could help .

[2016-05-21 14:18] #93 closed

[2016-05-24 15:04] zahidirfan opened #95 "Instructions seem to refer to index.html while TODO is in app.js"
Setup Instructions

To run this example locally, either download the whole ReactFire repository or just this /commentsBox/ directory. Then replace the example Firebase URL with your own Firebase URL in the index.html file:

var firebaseApp = "https://my-firebase-app.firebaseio.com/"

[2016-05-24 15:07] zahidirfan commented on #95
// IMPORTANT: Replace below with your Firebase app URL
var firebaseUrl = "https://my-firebase-app.firebaseio.com/";

[2016-05-24 15:10] zahidirfan opened #96 "On running commentsBox example encounter error " code 404, message File not found""
Following the instructions in the README file. Running the commentsBox app results in the following error

 code 404, message File not found

[2016-05-24 16:12] jwngr commented on #95
Thanks for reporting! I'll get this and #96 fixed soon.

[2016-05-25 22:18] jwngr commented on #95
Should be fixed by #96.

[2016-05-25 22:18] #95 closed

[2016-05-25 22:19] jwngr commented on #96
Should be fixed by #96.

[2016-05-25 22:19] #96 closed

[2016-05-27 22:25] frehner commented on #38
I was kind of hoping that with the recent 1.0 release as of 2 days ago, that an ES6 solution would have been snuck in as well. Alas.

Any update on the status of ES6 + ReactFire?

[2016-05-27 22:29] katowulf commented on #38
![image](https://cloud.githubusercontent.com/assets/959972/15622669/dc292a90-241f-11e6-83ef-dc027581c959.png)

[2016-05-27 22:32] katowulf commented on #38
Jacob's answer continues to be the latest and greatest. Posts adding value on how devs can get up to speed on ES 6 or working toward a PR are welcome. Posts asking for release dates or discussing other features will be pruned. Please keep discussion on topic and productive.

[2016-06-04 06:56] fdidron commented on #38
So here is a first shot at it
https://gist.github.com/fdidron/bde084f08ce64025ffba4f57c4eb441a

There is an API breaking change, since it's using the HOC paradigm, everything gets passed in the props.
So you acces ReactFire methods via props : ```this.props.bindAsArray``` , etc
And the binded data can be found in the props of your component instead of the state.

[2016-06-06 16:13] davideast commented on #38
@fdidron I love the decorator idea. With many devs using Babel this could be a nice syntactic gain that still achieves the same idea as the mixin.

[2016-06-07 12:06] Haroenv opened #100 "move away from mixins"
As listed in [react/docs/reusable-components#no-mixins](https://facebook.github.io/react/docs/reusable-components.html#no-mixins) ES6 react doesn't support mixins anymore. I think it would be interesting to list in the documentation here how to handle this situation.

[2016-06-07 17:22] jwngr commented on #100
Duplicate of #38.

[2016-06-07 17:22] #100 closed

[2016-06-07 17:25] Haroenv commented on #100
Sorry, didn't see that issue. Thanks anyway :smile:

[2016-06-08 14:11] bigblind opened #102 "support the container component pattern"
A big part of the ReactJS community is moving from using mixins to using container components, and composing them together. I'd like to propose a `createFirebaseContainer` function (or possibly just `createContainer`, which would work as follows:

[code]
# arguments

  - **Component**:  The component you want to wrap
  - **refs**: a `FirebaseRefs` (see below) object or function that returns such a

[2016-06-08 14:23] bigblind commented on #102
I committed the mortal sin of not searching before opening an issue, and so completely missed the conversation in #38. Feel free to close this one.

[2016-06-08 14:33] bigblind commented on #38
I'd like to propose a `createFirebaseContainer` function (or possibly just `createContainer`, which would work as follows:

[code]
# arguments

  - **Component**:  The component you want to wrap
  - **refs**: a `FirebaseRefs` (see below) object or function that returns such anobject

If `refs` is a function, it should take in the props that were passed to the container when rendered, and returns a

[2016-06-09 17:11] onzag opened #103 "Blinking/Uncatching Behaviour"
I'm using this repository with a react application with react router, and what I've found is that it has a problem regarding blinking before things actually start loading; that makes sense because it's the time that it takes the request to be performed to the update the state.

Also if I have no connection during an operation it will just, never work; it will not even seek for old data in that was

[2016-06-09 17:35] jwngr commented on #103
Thanks for opening this issue! I'm a bit overwhelmed with other things at the moment, so give me a few days to process this and respond in full. I just wanted to let you know that I read it and am not ignoring it.

FYI, the original source code is just in a single file [here](https://github.com/firebase/reactfire/blob/master/src/reactfire.js). Local setup instructions are [here](https://github.com

[2016-06-10 05:32] jwngr commented on #38
Thanks @fdidron and @bigblind for the proposals. I like both of them! @fdidron's is nice since it keeps practically the same API but just allows you to use it via `props` instead of via methods on the component itself. @bigblind is a bigger breaking change as it rethinks how you specify what nodes you are binding to.

One question I have about @bigblind's proposal is how you handle unbinding and r

[2016-06-10 05:33] jwngr commented on #102
Thanks for copying this over to the other thread. I just responded on that thread, so let's keep the discussion there.

[2016-06-10 05:33] #102 closed

[2016-06-10 16:06] marcello3d commented on #38
A while ago I forked reactfire (pre-3.0) to allow for bind to be called multiple times on the same component:
https://github.com/marcello3d/reactfire/compare/master...marcello3d:rebind

This made it really easy to do the following:
[code]

It made my logic a lot more declarative and easier to reason about.

It's implemented by unbinding and rebinding when binding to a new ref.

(The fork also trea

[2016-06-10 20:14] bigblind commented on #38
@jwngr The container that is returned by createContainer has componentWillMount and componentWillUnmount methods to handle binding/unbinding. What we can do, is apart from the props specified by the caller, also pass in a `firebase` object, which has methods for unbinding.

With regards to how the specific refs can change, for things like changing the number of objects returned, or changing the so

[2016-06-11 13:23] antoligy commented on #103
I think that this is an excellent idea for app resiliency (especially given the promising feature-set of GunJS!), but that if it were to exist, it should probably exist within the Firebase binding and not in ReactFire as in theory it could work without any knowledge of an implementing client.

[2016-06-11 14:06] onzag commented on #103
@antoligy it could be a wrapper or a plugin, like firebaseResillent = new FirebaseResillent(firebase) or something the like; where you modify the main object.

[2016-06-11 19:24] antoligy commented on #103
I could see that working really well, and best of all would be framework agnostic.  This kind of client-side caching seems almost like an absolute necessity when pulling information to build the state of an app, when the network can be slow or unavailable.

[2016-06-13 08:54] onzag commented on #103
@antoligy maybe we should probably bring this to the actual firebase project; rather than reactfire since that, as you say, it doesn't have to be just about ReactFire.

I'd just be more complex that way, and I don't think I could develop that on my own (considering work).

Maybe a generic wrapper would be nice, where you can say which functions do what; and make it external from firebase so that i

[2016-06-15 19:13] jwngr commented on #103
Hey there, thanks for the discussion so far. I agree that this seems like more of a thing that belongs in the core Firebase SDK, not ReactFire. Unfortunately, the core Firebase SDK is not yet open sourced, so for now, you'd have to build a wrapper around the SDK which has this behavior. Note that we have longterm plans to bring true offline persistence to the JavaScript SDK like we have with the m

[2016-06-15 19:13] #103 closed

[2016-06-17 10:33] fdidron commented on #38
Here is another idea :)

I think it would be nice to have reactfire provide a JSX component allowing Firebase binding.
NOTE: I'm not saying this should be the only way to bind !

#### Props
[code]

#### On [[➤]](https://www.firebase.com/docs/web/api/query/on.html)

Listen for data changes at a particular location.

[code]
By default, FireAct listens to ```value``` events. You can use the evenType

[2016-06-20 15:30] bricef commented on #38
I like @fdidron's idea of using a react component for the FB values. Still some work to be done on more complex examples, but it seems like a reasonably direction.

[2016-06-20 16:43] bigblind commented on #38
There are 2 things that somewhat bother me about @fdidron's proposal.

First of all, you're adding properties for every single option and operation for Firebase refs. Why not pass in the ref as a single property? This decouples the library more from Firebase, allowing it to keep working, even when Firebase expands its functionality.

But what I find weird as well is the way data flows. Usually, a

[2016-06-21 02:52] fdidron commented on #38
@bigblind Concerning your first comment, I understand the tradeoff of coupling the Firebase lib to the component. However the idea is to provide a declarative JSX way of binding to Firebase, a bit like react router allows you to decalre routes.

For the second comment, I agree with you, come to thing of It, I could make the component a container (or Provider like redux) and pass down the binded va

[2016-06-23 10:12] oscar-b commented on #38
Saw this library, might be worth looking at as well: https://github.com/tiberiuc/redux-react-firebase

[2016-06-23 21:57] prescottprue commented on #38
Great discussion.

Its nice having decorators or connecting to state management of some kind (like redux) so your smart components can more easily specify their data dependencies.

[redux-react-firebase](https://github.com/tiberiuc/redux-react-firebase) uses decorators which is nice, but it isn't updated to Firebase v3+ yet.

[2016-06-26 18:09] luizkowalski opened #105 "Reactfire do not bind correctly"
Well, I don't know if the problem is with Reactfire or I am doing something wrong...
here is what I got:

I have this component

[code]

and I bind data from firebase with

[code]

at this point, nothing was rendered in the page, so I decide to take a look on what the `messages` state had inside, and got something weird, it was something like

`Object {.value: "{"createdAt":1466963340426,"room":{"

[2016-06-27 18:02] jwngr commented on #105
`bindAsArray()` returns an array. You might want to try `bindAsObject()` instead.

Also, closing this since this question does not follow the issue template and is better suited for a forum like Stack Overflow or the Firebase Google Group.

[2016-06-27 18:02] #105 closed

[2016-06-28 16:21] jwngr commented on #105
Conversation moved [here](https://groups.google.com/forum/#!msg/firebase-talk/9Cv-dqWs1V0/2h9O43abBAAJ).

[2016-06-29 10:28] zahidirfan opened #106 "API keys are exposed to clients when code is pushed to production"
### Test case

When we run the sample apps in the browser and the API keys are exposed.

### Steps to reproduce

Open the sample app in browser.
https://reactfiretodoapp.firebaseapp.com/
The click view source.

### Expected behavior
Should not show any api-keys

### Actual behavior
Its shows the following.

[code]

[2016-06-29 16:14] jwngr commented on #106
**Short answer:** This is not a problem and the `apiKey` is safe to have in public.

**Longer answer:** This is not a ReactFire issue and is better suited for a different channel like the [Firebase Google Group](https://groups.google.com/forum/#!forum/firebase-talk) or [Stack Overflow](https://stackoverflow.com/questions/tagged/firebase). In fact, [here](https://groups.google.com/d/msg/firebase-ta

[2016-06-29 16:14] #106 closed

[2016-06-30 00:09] mgarf commented on #38
@prescottprue they have started towards it yet. it looks like they are pretty close:

https://github.com/tylermcginnis/re-base/pull/104

[2016-07-17 19:49] 1j01 commented on #38
I think A component is way overcomplicating the API. It should just be a single call to attach methods to the class or instance, or just static methods on the `ReactFire` object that take a `this` property:

[code]

[2016-07-17 20:05] bigblind commented on #38
@1j01 That requires any object that wants to use Firebase to be a class, so you can't use it with function components. I still think a container is the most flexible option. Anything where you still need to manage binding/unbinding requires keeping state, which I think you should avoid as much as possible.

[2016-07-17 23:31] 1j01 commented on #38
@bigblind Okay, well I didn't consider function components (I've never used them)
Has ReactFire previously worked with function components? (And does it really need to?)

[2016-07-18 11:05] bigblind commented on #38
I just spent 3 hours writing an elaborate answer to this question only then to accidentally open another page in that tab... 😭

Here's the gist of it:

  - It's a good idea to divide your app into presentational/container components. There's a great article on this by Dan abramov.
  - Most of your app can be presentational components, which can be pure functions that take props and render html.

[2016-07-18 20:57] 1j01 commented on #38
@bigblind What browser are you using? Chrome seems pretty good about saving things, navigating forwards, backwards, closing and reopening tabs. Not that I haven't lost plenty of stuff to Chrome.

Anyways, those are some valid points.

[2016-07-26 06:05] Jerry-Lau commented on #94
thanks!

[2016-08-01 16:24] onzag opened #108 "componentDidUpdate not being called sometimes."
sometimes during `componentWillMount` (specially if the data has already been loading and you are moving across the history) a state is provided, this state contains no firebase references...

[code]

The state is `{}` , because no request is yet loaded.

Inmediatly after componentWillMount the render happens.

[code]

now my state is `{'request':...}` that means that somehow the request got a val

[2016-08-02 21:38] jwngr commented on #108
Closing as invalid.

This seems like a usage question and should instead be posted on Stack Overflow or the Google Group. Also, this does not follow our issue template nor does it include a minimal repro in JSFiddle or Plunkr.

[2016-08-02 21:38] #108 closed

[2016-08-10 18:22] birdwell commented on #38
Hey, what's the current status of this conversation?

[2016-08-10 18:54] jwngr commented on #38
I actually finally found some time this past weekend to test out a new HOC API myself. I am hoping to have a proposal in PR form soon. I'm leaning towards going with an API similar to [what @bigblind suggested](https://github.com/firebase/reactfire/issues/38#issuecomment-224608450), but there are still a few performance concerns that need to be figured out (mainly around re-binding Firebase listen

[2016-08-10 19:08] prescottprue commented on #38
@jwngr That is awesome to hear! Excited to check it out.

[2016-08-10 22:35] birdwell commented on #38
@jwngr Sweet, I will be eagerly waiting! @prescottprue love your v3 lib on firebase redux! That's what's keeping me a float currently.

[2016-08-10 23:03] prescottprue commented on #38
Thanks @birdwell, that is exactly what it is for!

For those who haven't seen it: [redux-firebasev3](https://github.com/prescottprue/redux-firebasev3) was made as a way to get v3 implemented in React/Redux. I figure that ReactFire will take its place eventually, but I needed a solution before then.

[2016-08-11 05:37] oscar-b commented on #38
Same with re-base, there's a PR awaiting merge which adds v3 support: https://github.com/tylermcginnis/re-base/pull/104

[2016-08-19 20:11] mkozhukharenko commented on #38
@oscar-b re-base is already up-to-date

[2016-09-12 00:39] marcello3d commented on #38
Here's a completely different approach I've been experimenting with:
https://gist.github.com/marcello3d/0e9a1e532954f67c1fbb67c7d18319a6

I'm bypassing ReactFire altogether, and instead made two APIs:

1. A [higher-order component](https://gist.github.com/marcello3d/0e9a1e532954f67c1fbb67c7d18319a6#file-connect-observer-js) inspired by [react-resolve](https://github.com/ericclemmons/react-resolver

[2016-09-15 02:55] jdkanani opened #114 "Compatibility with redux"
No sure if this is right way to go ahead but any support for redux + firebase would be great. Currently reactfire starts listening in component. Redux will change it.

After redux, every component will dispatch an action (to subscribe/unsubscribe) to firebase and get notified when store changes. That way many components may get cached data which store already has before subscribing (for further  c

[2016-09-15 04:43] quadsurf commented on #32
@jwngr ya but what about React Native... why is there no support for facebook or other social login? only email/password seems to work

[2016-09-19 20:12] hyperbrave commented on #38
Do the owners of the reactfire repo have a recommended approach, or stated plans for using reactfire w/out mixins?

[2016-09-19 20:33] jwngr commented on #38
@hyperbrave - https://github.com/firebase/reactfire/issues/38#issuecomment-238967140 is still the latest. I really want to get this out but I haven't found the time to finish my proposal yet.

[2016-09-19 21:48] prescottprue commented on #114
@jdkanani There are a few libraries that help with this, [redux-firebasev3](https://github.com/prescottprue/redux-firebasev3) is one that I created based on [redux-react-firebase](https://github.com/tiberiuc/redux-react-firebase). #38 is a pretty good discussion on this too since the a nice way to implement redux stuff is through Higher Order Components.

[2016-09-19 23:31] jwngr commented on #32
You'll need to use a third-party SDK to get an access token and then pass that access token to [`signInWithCredential()`](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInWithCredential). To get the Facebook access token, you can use [react-native-fbsdk](https://github.com/facebook/react-native-fbsdk).

[2016-09-20 04:38] jdkanani commented on #114
@prescottprue Thanks.

[2016-09-20 04:38] #114 closed

[2016-09-24 04:24] lifeinafolder opened #115 "Any plans to provide a redux adapter?"
Hi folks!

Does the team have any plans of providing an adapter that allows firebase to play nicely with redux?

State management in react apps is most popularly driven by redux but I was surprised to find no literature at all on the topic. Atleast it would be beneficial for the community to understand how the core team is thinking about redux-firebase integration?

[2016-09-26 03:45] jwngr commented on #115
This is sort of a duplicate of https://github.com/firebase/reactfire/issues/114. You should look there for some alternatives. This lib doesn't do anything explicitly to integrate with Redux.

[2016-09-26 03:45] #115 closed

[2016-09-29 02:23] antsofthesky opened #116 "Iterating over bindAsArray items for .key"
Using .map(), how would I be able to iterate over items to add the .key value within each object in the array, as an ID?

[code]

{item.key} doesn't render anything, it would seem that I'd need {item..key} but of course that throws a syntax error.

![screen shot 2016-09-28 at 9 24 58 pm](https://cloud.githubusercontent.com/assets/1593553/18938943/0f513df0-85c2-11e6-8628-c559916d8a4e.jpg)

[2016-09-29 03:36] jwngr commented on #116
Use the bracket syntax: `item['.key']`.

I realize this is a bit of an annoyance, but see [this comment](https://github.com/firebase/reactfire/issues/55#issuecomment-134255278) for some background on why I chose `.key` versus something like `key` or `#key`. In a future version, I will probably make this configurable for those who want to change the default behavior.

[2016-09-29 03:36] #116 closed

[2016-09-29 03:37] jwngr commented on #116
Also, in the future, please follow the issue template. It's there for a reason and honestly makes my life so much easier!

[2016-09-29 03:51] antsofthesky commented on #116
Thank you, this works! The reasoning makes sense.

[2016-09-29 05:37] vimtaai commented on #38
Hi!
I've been working on a library of my own for a while, and finally I managed to get it to a stage that it's ready for sharing. (altough there still may be bugs) I'm starting to use it for a project of my own.
The main idea is to implement the Flux architecture with Google Firebase as the store and using Rx for the unidirectional flow. Although it is completely independent of React it works quit

[2016-09-29 16:54] zoomclub commented on #38
Wow, time marches on and life improves! Just saw this issue popup again and wanted to say that I did find a awesome solution that is built on RxJS. You may of heard of it by now, it’s called RethinkDB Horizon, see link below for more:

https://horizon.io

[2016-10-25 23:19] sv opened #117 "Not supported anymore?"
Rhis implementation uses mixins which are not recommended by react anymore. There has been no updates for while as well.
Could you please outline if there areany plans to move this lib further and what alternatives could you recommend

### Version info

**React:**

**Firebase:**

**ReactFire:**

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduc

[2016-10-25 23:33] jwngr commented on #117
This is still supported, I just haven't found the time to finish my implementation with uses HOCs. Follow along at #38.

[2016-10-25 23:33] #117 closed

[2016-11-14 13:32] daslicht commented on #38
How about TypeScript ?

[2016-12-02 08:40] apieum commented on #38
In case it helps, this this simple HOC work, even if there is better solution.

[code]

[2016-12-02 19:21] jwngr opened #119 "Add TypeScript / Flow typings"
We should provide TypeScript and/or Flow typings for consumers of this repo. Does anyone have any preference for either? TypeScript seems more popular overall and is generally what we use with other Firebase repos, but Flow seems more popular in the React ecosystem due to the Facebook connection. Does anyone know how we can provide both in an easy way?

[2016-12-14 17:30] theobouwman commented on #38
I dont understand why there is no good solution for this?

[2017-01-27 23:21] EduardJS opened #120 "this.data not being cleaned up"
Hello! 🤙

I'm building this messenger-like application, on top of React and Firebase, obviously, and, I've been pulling my hair out for more than 2 hours trying to find out what was causing the weird behavior.

1. Upon login, I am listening to some rooms ( of users ), then upon room selection I start listening to messages belonging to that room.

2. The issue arose when a user logs out, and then l

[2017-02-23 15:46] iSaadSalman opened #125 "Question Regarding Joins"
Hi,

Nice plugin.

I have a question: I know that you are supposed to pass a reference of the tree in order to work. How can I pass a reference of the related tree? For example I have data like so:

`"orders": {
		"1": {
			"createdAt": 1459361875337,
			"updatedAt": 1459361875337,
			"status": 2
		}
	},
	"orderDetails": {
		"1": {
			"total": 42,
			"paymentMathod": "Cash On Delivery"
		},

[2017-02-23 18:16] jwngr commented on #125
Thanks for the kind words.

Not to be rude, but as a policy, this issue tracker is for actual code issues or feature requests. This is a usage question, which is better suited for [Stack Overflow](https://stackoverflow.com/questions/tagged/firebase) or the [Firebase Google Group](https://groups.google.com/forum/#!forum/firebase-talk). Can you please re-post on one of those forums and paste the lin

[2017-02-23 18:16] #125 closed

[2017-02-25 14:50] ShashankaNataraj commented on #65
+1 to this feature. react fire makes everything else so easy, auth should be a part of it too!

[2017-02-25 22:24] fongandrew commented on #119
FWIW, Typescript also became pretty popular in the React ecosystem once they added JSX support. Plus if the main Firebase library is typed in TS, we'd have to use that anyway.

In any event, my understanding is that it's not too hard to convert from TypeScript definitions to Flow (https://github.com/joarwilk/flowgen).

[2017-02-26 00:46] fongandrew commented on #38
With respect to the pending HOC API and performance issues when props change, I suspect the concern is that (a) refs are equivalent even though there's been a props change, and (b) we don't want to incur the overhead of unbinding and rebinding to an equivalent ref.

Basically, we just need some way to check Firebase refs for "equality", right? That is, is there some way to do the following?

[code

[2017-02-26 17:20] prescottprue commented on #38
For anyone that is still looking for a solution to this, you might want to checkout [`react-redux-firebase`](https://github.com/prescottprue/react-redux-firebase) (disclosure: I am one of the authors).

It provides a HOC similar to those proposed above.

[2017-02-27 18:35] jwngr commented on #65
Firebase Auth support is coming in ReactFire `2.0.0`. Check out https://github.com/firebase/reactfire/pull/123.

[2017-02-27 18:36] jwngr commented on #119
Yeah I think I will probably start with TS.

[2017-04-26 16:55] cosminstefanxp commented on #119
👍

[2017-05-17 20:46] pzmosquito opened #127 "reactfire 1.0.0 does not support firebase 4.0.0 with npm installation"
### Version info

**React:** 15.5.4

**Firebase:** 4.0.0

**ReactFire:** 1.0.0

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2017-07-03 04:31] BrodaNoel opened #129 "Upgrade node and dependencies version"
Guys,
If you want the community help, please, keep updated all npm dependecies and node versions.

Please, check all deprecation messages you get when running:
[code]

I recommend to add a `.nvmrc` file with the `v6.10` node version, then config travis to use it, and upgrade all dependencies in `package.json`.

After all those upgrades, ESLint will be in red, so you'll need to change 4 ESLint rule

[2017-07-03 04:33] BrodaNoel commented on #129
My idea is that after doing this upgrade, I'll add the `withFirebase` HOC to avoid using Mixins feature ([remember that Mixins are considered harmful](https://facebook.github.io/react/blog/2016/07/13/mixins-considered-harmful.html))

[2017-07-03 04:37] BrodaNoel commented on #129
What I'll do is add the `withFirebase` HOC so then the dev will be able to do:
[code]

[2017-07-15 17:20] TeMuNiDe commented on #127
+ no support for all firebase 4.x.x

[2017-08-05 17:31] anaibol commented on #38
React Fire seems dead, is it?

[2017-08-05 17:59] marcello3d commented on #38
I've switched to https://github.com/unfold/react-firebase

[2017-08-30 14:07] thevaleriemack commented on #127
+1

[2017-09-07 18:41] SorooshPardazCompany commented on #94
[اپلیکیشن خدمات منزل](http://doyo.ir) ,  [برنامه نویسی اندروید و آیفون](https://sorooshpardaz.com/mobile-app-android-ios-programming) , [برنامه نویسی موبایل](https://sorooshpardaz.com/mobile-app-android-ios-programming)

[2017-10-09 20:37] JCDJulian opened #130 "Does reactfire work with the new Firestore service?"
Not clear from the docs whether reactfire's bindings are only compatible with Real Time Database or whether the new Firestore service is supported.

[2017-10-19 22:39] mloureiro commented on #130
Actually, I'm also interested in knowing this.
By reading the doc's it doesn't look like it

[2017-11-02 00:47] theocodes commented on #119
howdy! Is this being worked on? help needed?

[2018-01-15 14:05] AndroidDoctorr opened #131 "Filtering Firebase items loaded into state"
In the examples, it looks like the entire table is loaded into the state from Firebase. Those can get huge... Can you do something like a scan/query for select specific items, like with a text filter, or only items saved after a particular date?

[2018-01-16 05:14] christiangenco opened #132 "This project is abandoned - use `react-redux-firebase` instead"
At the time of posting this comment, this project:

* hasn't been updated in 11 months
* is using the [old mixin style of passing down state](https://reactjs.org/blog/2016/07/13/mixins-considered-harmful.html), which fell out of favor in 2016
* doesn't support Firestore, which was [released in October of 2017](https://firebase.googleblog.com/2017/10/introducing-cloud-firestore.html)

[react-redux-

[2018-01-17 00:17] peterlau commented on #132
Another option is https://github.com/tylermcginnis/re-base

`redux` brings with it a significant commitment and learning curve, which is often the right path but not always. In the latter case, I've found `re-base` to be a clean solution, whether used stand-alone, or in conjunction with `redux`.

[2018-03-16 00:33] #132 closed

[2018-03-16 16:40] samtstern commented on #38
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:40] #38 closed

[2018-03-16 16:40] samtstern commented on #65
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:40] #65 closed

[2018-03-16 16:40] samtstern commented on #66
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:40] #66 closed

[2018-03-16 16:40] samtstern commented on #74
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:40] #74 closed

[2018-03-16 16:41] samtstern commented on #119
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:41] #119 closed

[2018-03-16 16:41] samtstern commented on #120
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:41] #120 closed

[2018-03-16 16:41] samtstern commented on #127
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:41] #127 closed

[2018-03-16 16:41] samtstern commented on #129
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:41] #129 closed

[2018-03-16 16:41] samtstern commented on #130
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:41] #130 closed

[2018-03-16 16:41] samtstern commented on #131
We have officially deprecated reactfire, as we no longer believe it is the best solution for Firebase developers looking to integrate with React.

Please see the `README` for information on how to migrate to a better solution. We are working on some new efforts to better serve the React community in the future.

[2018-03-16 16:41] #131 closed

[2019-07-10 17:52] jhuleatt opened #135 "The next generation of ReactFire"
See the code in [master](https://github.com/FirebaseExtended/reactfire)

## Summary

We're working on a new version of ReactFire that takes advantage of Hooks, Suspense, and Context, and we want to hear your feedback.

## Sample

See a working example [on StackBlitz](https://stackblitz.com/edit/reactfire-sample)

[code]

Samples of ReactFire interacting with more Firebase products can be found [he

[2019-07-16 23:04] jhuleatt opened #137 "Implement one-time `get` for Firestore and Realtime Database"
The Firebase JS SDK has a [`get`](https://firebase.google.com/docs/reference/js/firebase.firestore.Query#get) method for Firestore and Realtime Database that fetches a value once and doesn't stream updates.

We should probably implement something like a `useFirestoreDocOnce` to allow for this behavior in reactfire. Or, add a `once` flag to ReactFireOptions to accomplish the same thing.

- [x] `use

[2019-07-18 05:09] waixwong opened #138 "AuthCheck is defined as ReactNode rather than JSX.Element"
AuthCheck is defined as ReactNode rather than JSX.Element in index.d.ts

This produces the following TS error when adding AuthCheck:
TS2605: JSX element type 'ReactNode' is not a constructor function for JSX elements.

### Version info
**React:**
16.8.6

**Firebase:**
5.10.0

**ReactFire:**
2.0.0

**Other (e.g. Node, browser, operating system) (if applicable):**
10.16

### Test case
### Steps to r

[2019-07-18 21:35] jhuleatt commented on #138
I originally picked `ReactNode` because that is what the [core React typings use for components like Suspense](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/752847f11e21276a22ef5703294bc689a0f3445a/types/react/index.d.ts#L347).

It doesn't look like the typings for React use `JSX.Element` at all, so I'm a little worried about switching to that. I think this type error is more due to a [T

[2019-07-24 23:15] jhuleatt opened #139 "Brainstorm: More opportunities for automatic traces"
Right now, using the `initPerformance` flag in `FirebaseAppProvider` activates Performance Monitoring automatic traces. In addition, `SuspenseWithPerf` creates a custom trace. Are there other places in Reactfire where it would be useful to include Performance Monitoring traces? For example:

- `useFirestoreCollection` could log a custom trace with a custom attribute logging the number of documents

[2019-07-30 19:32] jhuleatt commented on #139
The Profiler API is going stable in React 16.9. That might be a good opportunity to add some react-specific custom traces: https://github.com/facebook/react/pull/15172

[2019-07-31 12:11] Raicuparta opened #140 "Incorrect type definitions in hooks?"
Seems like the type definitions for `useFirestoreDoc` and `useFirestoreCollection` are incorrect:

[code]

[In a union, `unknown` absorbs everything](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#example-3), so if we don't pass a generic type here the return type will always be `unknown`. I tried to find a way to fix this so I could do a PR myself, but I'm afraid m

[2019-07-31 23:36] jhuleatt commented on #140
@Raicuparta thanks for this issue!

@jamesdaniels do you know what we should do here? There are two (or maybe three) ways to call these functions:

1) Just a ref:
[code]

2) With [`ReactFireOptions`](https://github.com/FirebaseExtended/reactfire/blob/06ad68dd5ceebaab02416038242855dbb3ae3001/reactfire/index.ts#L1):
[code]

3) If `ReactFireOptions` gains other fields, this third option may be possib

[2019-08-20 18:32] jhuleatt opened #144 "FR: Implement a <StorageImage /> component"
A common Firebase pattern is to save a storage path in Firestore or the Realtime Database, and then use that to get a download URL from Cloud Storage. This is currently doable with useStorageDownloadURL like so:

[code]

It would probably be helpful to just provide a component that does this for us:

[code]

[2019-08-21 20:47] jhuleatt opened #145 "Docs: Show how to lazy load the Firebase SDKs"
Example of lazy loading with `React.lazy`: https://stackblitz.com/edit/reactfire-sample-ztyx8w

Let's update the docs to encourage this pattern

[2019-08-23 22:32] jhuleatt commented on #140
Another option is that the useFirestoreDoc hook can internally create a stubbed out DocumentSnapshot based off of the provided data. Then the typedef could look like:

[code]

[2019-08-25 19:23] whollacsek opened #146 "published package is missing commonjs code"
### Version info

**ReactFire:** 2.0.0

**Other (e.g. Node, browser, operating system) (if applicable):**
"next": "9.0.5",
"typescript": "^3.5.3"

### Test case

I just started a new project with next.js and stumbled on this new version of reactfire, I was excited to give it a try but was immediately disappointed by:
[code]

So I opened the reactfire package and found that it doesn't contain commo

[2019-08-26 17:21] samtstern commented on #144
Nice!  This will be a parallel to what FirebaseUI does for Android and
iOS.  Example:
https://firebaseopensource.com/projects/firebase/firebaseui-android/storage/readme.md/

On Tue, Aug 20, 2019 at 11:32 AM Jeff <notifications@github.com> wrote:

[2019-09-03 14:10] ducret201 opened #147 "useObservable swallows errors"
Hello.

I am using reactfire v2.
I would expect the useObservable to propagate errors which is not the case.
Below is a snippet which demonstrates the issue .

[code]

looking at the code, `request.error` is never set.
Let me know if more detail is needed to adresse this issue.

Thanks!

[2019-10-01 15:45] ryanwarsaw opened #148 "The simple-sample project does not work"
I was getting errors when I was developing locally about traces, so I figured I'd pull down the demo and take a look and I'm getting a similar result:

This happens right after you go through the authentication scheme.

[2019-10-11 18:18] pearlyplan commented on #138
Hi - is there any update on this?  Happy to do a PR with the new typing.

[2019-10-11 18:18] seanemmer commented on #138
Hi, is there any update on this?  Happy to do a PR with the new typing.

[2019-10-11 22:31] jhuleatt opened #153 "Document Firestore *Data hooks"
Reminder that we need to document `useFirestoreDocData` and `useFirestoreCollectionData` (implemented in #151).

We should at least add them to the [API Reference](https://github.com/FirebaseExtended/reactfire/blob/master/docs/reference.md), and maybe add them to [Common Use Cases](https://github.com/FirebaseExtended/reactfire/blob/master/docs/use.md) too.

[2019-10-12 00:10] #148 closed

[2019-10-12 00:17] jhuleatt commented on #148
Thanks for calling this out @ryanwarsaw! I've submitted a fix.

[2019-10-12 00:20] jhuleatt commented on #139
Good blog post on profiler API: https://kentcdodds.com/blog/profile-a-react-app-for-performance

[2019-10-12 01:37] ryanwarsaw commented on #148
Thanks for the quick fix, I’ve really enjoyed using this library - do you guys have a todo list somewhere for those interested in contributing?

[2019-10-12 19:33] pmithunish commented on #138
Adding the following snippet helped me get rid of the `ts(2605)` error when using `AuthCheck`.
[code]
Hope it helps! 😃

[2019-10-13 21:56] cdock1029 opened #155 "useUser initial value null within AuthCheck children"
### Version info

**React:** 16.10.2

**Firebase:** 7.2.9

**ReactFire:** 2.0.0-alpha.2

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

https://codesandbox.io/s/competent-mendeleev-svfjb

### Steps to reproduce

Use `AuthCheck` with fallback login page.
Login in.
In "authorized" child component, call `useUser`
Access properties of `user` without checking for null

[2019-10-16 00:56] codediodeio commented on #140
Here's another option.

It does not make much sense to use a generic because `<Collection|Document>Snapshot` does not take a generic to begin with TBH, I'd rather not have a union type and just manually cast the type to the data.

OR

The hook could return an object with the `QuerySnapshot` in addition to the data cast to the generic type, for example:

[code]
Benefits:

1. Eliminates the need for

[2019-10-16 19:05] cdock1029 commented on #155
Great! Sounds like we're on the same page. Just to complete my thought for clarity.. again not sure what startWithValue is useful for, but certainly can keep it / make simple fix with something like this probably?

[code]

[2019-10-17 08:34] MuratDoner opened #157 "Attempted import error: 'useFirestoreCollectionData' is not exported from 'reactfire'"
Hello.
 I tried sample-simple (reactfire) on my local. I get this error: `"Attempted import error: 'useFirestoreCollectionData' is not exported from 'reactfire'."`
I am sure, it is something about the version of reactfire.
What is the best way to get over it?

[2019-10-17 17:37] jhuleatt commented on #157
Hi @MuratDoner, sounds like yarn is pulling in the published version of ReactFire (which doesn't include `useFirestoreCollectionData` yet) instead of getting it from your local machine. Did you remember to run the build (`yarn watch` in the [instructions here](https://github.com/FirebaseExtended/reactfire#for-development)) before doing an install in the `sample-simple` directory?

If you want to a

[2019-10-17 17:42] jhuleatt opened #158 "Proposed change: useUser never throws a Promise"
As @cdock1029 suggested in [this comment](https://github.com/FirebaseExtended/reactfire/issues/155#issuecomment-542846892), if `useUser` set [`auth.currentUser`](https://firebase.google.com/docs/reference/js/firebase.auth.Auth.html#currentuser) as its `startWithValue`, it would never have to throw a Promise. This seems like an awesome change.

This issue is to track the work, and invite any commen

[2019-10-17 17:43] jhuleatt commented on #155
It turns out this was caused by a bug deeper in the plumbing of ReactFire. When a hook makes the same request as one before it (in this case, the `useUser` in `AuthCheck` and then the `useUser` in your component), the hook was receiving the first value the hook before it received, instead of its most recent value. So I've fixed that, and all of reactfire will benefit!

Always using `auth.currentUs

[2019-10-17 20:26] MuratDoner commented on #157
Hi Jeff,
 Now, it is working like a charm! Thanks :)
 It was my fault; I did not pay enough attention to the documentation.
 Best Regards.

[2019-10-17 21:23] jhuleatt commented on #157
Glad it is working 😃

[2019-10-17 21:23] #157 closed

[2019-10-17 21:29] jhuleatt commented on #153
Heads up that @codediodeio [suggested an API change](https://github.com/FirebaseExtended/reactfire/issues/140#issuecomment-542464356) that would let us combine `useFirestore*` with `useFirestore*Data`

[2019-10-18 00:40] #155 closed

[2019-10-18 00:47] jhuleatt opened #159 "[TESTS] Realtime Database"
Need to write tests for the Realtime Database hooks.

The [Firestore tests](https://github.com/FirebaseExtended/reactfire/blob/master/reactfire/firestore/firestore.test.tsx) can be used as a guide. Right now, the [`yarn test` command](https://github.com/FirebaseExtended/reactfire/blob/master/reactfire/package.json#L12) has the `--only firestore` flag set, so we'll need to change that. I think it w

[2019-10-18 00:56] jhuleatt opened #160 "💻⚛️🔥 Cool ReactFire Samples"
Have an example usage of ReactFire that you'd like to share with the world? Post a link to your repository/Stackblitz/Codesandbox here!

It can serve as a learning resource for other ReactFire developers!

[2019-10-18 00:59] jhuleatt commented on #148
Glad to hear you like it, and I'm excited to hear that you're interested in contributing! I just went through some issues and added 'Help Wanted' tags to things that I think would be good candidates for PRs. Feel free to claim any of those!

Outside of that, if there is anything you'd like to see added to the library (or changed), please open a feature request and we'll discuss it! Or, if you'd ju

[2019-10-18 01:26] jhuleatt commented on #138
Sounds like the consensus is that `JSX.Element` is the way to go! @seanemmer if you have the time, a PR would be a big help! I think `<SuspenseWithPerf>` will need the same type updates.

[2019-10-18 12:52] catrawalkar opened #161 "requiredClaims for <AuthCheck> is not working."
### Version info

**React:** 16.9.0

**Firebase:** 7.2.0

**ReactFire:** 2.0.0-canary.803159c

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

      <AuthCheck fallback={<Login />} requiredClaims={{ismoderator: true}}>
             <span>hello</span>
      </AuthCheck>

Am I doing anything wrong here?? Please suggest..!

### Steps to reproduce

### Expected behavi

[2019-10-18 12:56] catrawalkar commented on #161
@jhuleatt  in the code, I can see a comment:

// TODO(jeff) see if this actually works

Can you check please? Is there anything I can do to help here (I am noob). I can try to solve the bug, I dont know TS :(

[2019-10-18 13:52] catrawalkar commented on #161
https://github.com/FirebaseExtended/reactfire/blob/803159c62ad2f29d1bcddbc76e85f32093889e41/reactfire/auth/index.tsx#L63

You might be able to resolve just by looking here..

I did this:

`//Check if user is available`
`if (requiredClaims && user) {`
`        //removed *throw* from below line..`
`        user.getIdTokenResult().then(function(idTokenResult) {`

And this works fine for me now.

[2019-10-18 17:21] jhuleatt commented on #161
Hey @catrawalkar, you aren't doing anything wrong, you just caught an old todo that I forgot about 😬. Can you please edit your original post with the actual error message you got? It would help me look into this.

[2019-10-18 17:26] jhuleatt commented on #146
@jamesdaniels our current tsconfig outputs `esnext`: https://github.com/FirebaseExtended/reactfire/blob/803159c62ad2f29d1bcddbc76e85f32093889e41/reactfire/tsconfig.json#L4

Is fixing this as simple as changing the config to `UMD`?

[2019-10-18 18:21] jamesdaniels commented on #146
@jhuleatt we'll want to build for more than one target before publish. I'll build that into the pipeline.

[2019-10-18 21:40] MuratDoner opened #163 "[Question] SyntaxError: Unexpected token export"
Hello,
 (As I do not know if you use Stackoverflow actively, I ask the question here. But we can migrate the question anywhere else, if needed.)

 I used the same steps for sample-simple to run sample-context and I got this error:

[code]

As far as I understand, it is something about Babel and Node; but as I am not well-informed about these technologies currently.

[2019-10-18 22:03] jhuleatt commented on #163
Hello again @MuratDoner, this is the right spot for these kinds of questions 👍

I'd suggest sticking to sample-simple for now. I wrote sample-complex a while ago to explore what server rendering might look like for ReactFire, but this is likely to change a lot once [Suspense for server rendering](https://reactjs.org/blog/2018/11/27/react-16-roadmap.html#suspense-for-server-rendering) becomes avail

[2019-10-18 22:03] #163 closed

[2019-10-18 23:11] jhuleatt commented on #161
I've figured out the problem and created a PR that solves it. If you want to try it out before it gets merged, pull the branch [jh-auth-claims](https://github.com/FirebaseExtended/reactfire/tree/jh-auth-claims) and follow the ["for development" steps](https://github.com/FirebaseExtended/reactfire/tree/jh-auth-claims#for-development)

[2019-10-18 23:45] dannytatom commented on #163
I'm getting this problem just using the simple-example.

[code]

Unrelated, but does that mean reactfire/suspense doesn't work with SSR/Next.js?

[2019-10-19 05:54] dannytatom commented on #163
I'm also getting this error with next.js & typescript. All I've got is:

[code]

It could be my tsconfig, but I can't really change any of that cause Next.js just overwrites it next time it runs.

[code]

`.nvmrc` is set to `8.16.2` since running this in a firebase function. Not sure if that matters, just tryna give all the info I can think of lol.

[2019-10-19 08:32] catrawalkar commented on #161
Hello, I followed  "for development" steps,

Following things happened, I am getting following issues:

1. In simple-sample, Firestore.js says it cannot find useFirestoreCollectionData and useFirestoreDocData both the modules.
2. I only had to test Auth module so I commented 1st issue. Now when I write console.log in reactfire source code, I cannot see those console.log in browser. Am I doing anyt

[2019-10-19 09:18] catrawalkar commented on #161
Thank you for quick response. This works as expected.

[2019-10-19 09:42] catrawalkar commented on #161
@jhuleatt  Can you merge this asap please?

[2019-10-19 16:30] dannytatom commented on #163
Ok, yeah, issue is that reactfire's tsconfig uses `module: esnext`. I don't really know if that's something I can fix on my end or if reactfire needs to have it set to `commonjs`. Node 8 doesn't support imports like that, and 8 is required for Firebase Functions. Given this is a firebase library, seems like it should use `commonjs` so that people can use SSR or w/e else via functions while also us

[2019-10-19 16:36] dannytatom commented on #163
Turns out this is already being talked about in #146, derp.

[2019-10-20 18:30] cdock1029 opened #166 "limited ability to reactively update Firestore references/data"
### Version info

**React:** `16.10.2`

**Firebase:** `7.2.0`

**ReactFire:** `2.0.0-canary.803159c`

### Feature request

One of the beauties of hooks is provides concise way to "declaratively" specify how a value is calculated and when to run the recalculation given a list of dependencies.

I think the Firestore hooks could use this built in ability to recalculate their references based on provi

[2019-10-21 16:58] jhuleatt commented on #161
Hi @catrawalkar, I should be able to get a review from another maintainer of this repo today, so I'm hoping to merge this by the end of the day.

[2019-10-21 17:50] jhuleatt commented on #166
cc @davideast

@cdock1029 good point about the current implementation failing to re-query if the query changes without the path changing, and nice find with `ref._query.canonicalId()`! Unfortunately, it doesn't look like there is an equivalent for Realtime Database. I tried [`toJSON`](https://firebase.google.com/docs/reference/js/firebase.database.Query#tojson) but it didn't return any info about

[2019-10-21 18:20] cdock1029 commented on #166
Great idea with passing the firebase instance to the function. Nice to have all the setup code and dependencies located within the callback.

There was some [discussion about this here](https://github.com/CSFrequency/react-firebase-hooks/pull/10), and [also here along with other discussion](https://github.com/CSFrequency/react-firebase-hooks/issues/5#issuecomment-493470899), in another library tha

[2019-10-21 21:36] jhuleatt commented on #161
this might take another day to get a review.

[2019-10-23 14:54] MuratDoner opened #168 "[QUESTION] Is there a way to alter limitToLast value?"
Hello,
   I try to create a simple pagination based on scrolling. When scroll touches the top, **contentCount** increases.
  So, we alter limit actually but it does not effect the result.

[code]

What is the best way to change this limit?

Best regards

[2019-10-23 18:45] jhuleatt commented on #168
Hey @MuratDoner , this is caused by a bug in ReactFire where it failed to requery if `limitToLast` or other query modifiers were changed. It will be fixed by #167

[2019-10-23 19:42] MuratDoner commented on #168
Thank you @jhuleatt.
Then we can just close this issue and follow on the related issue.

[2019-10-24 20:45] jhuleatt opened #169 "Concurrent Mode"
[**Concurrent Mode**](https://reactjs.org/docs/concurrent-mode-intro.html) (with [**Suspense for Data Fetching**](https://reactjs.org/docs/concurrent-mode-suspense.html)) is now available in `react@experimental`. Creating this issue to track the work to update ReactFire to work with the latest and greatest.

[2019-10-25 19:58] jhuleatt commented on #169
Relay's [`preloadQuery`](https://github.com/facebook/relay/blob/master/packages/relay-experimental/preloadQuery.js) and [`usePreloadedQuery`](https://github.com/facebook/relay/blob/master/packages/relay-experimental/usePreloadedQuery.js) can serve as a guide.

According to the new concurrentMode docs, parents should kick off a fetch ("preload") at the same time they call render. Then, the child ca

[2019-10-25 23:14] jhuleatt commented on #147
Thanks @ducret201! I think this is indeed a quick fix. Can you please give my PR #171 a review?

[2019-10-27 04:23] shawnmmatthews commented on #146
Is this issue specific to projects using Typescript or any SSR setup? I'm running a very standard JS based NextJS site and just attempted to add FirebaseAppProvider, and I immediately receive the token error. I see that @jamesdaniels is working on solution in the pipeline. Is there a current work around in the meantime? Thanks again for the awesome project.

[2019-10-29 15:02] MuratDoner commented on #168
@jhuleatt Hello.
 Even when I use `firebaseApp.firestore().collection(collectionName)` from different hooks, components changing **collectionName** for each; result does not change sometimes.
 Is it also related to that issue?

[2019-10-31 05:57] catrawalkar commented on #161
@jhuleatt  Is there anything I can do to help you here?

[2019-10-31 15:03] peterdeepsix commented on #146
I would be willing to put in sometime for PR regarding this issue. @jamesdaniels Let me know if you need any help

[2019-10-31 21:52] #159 closed

[2019-10-31 21:56] jhuleatt commented on #168
Hey @MuratDoner can you please give the latest build of ReactFire a try and see if you can reproduce the issue? I think #167 should fix that too.

If that doesn't fix it and you have the time, can you please send a CodeSandbox/StackBlitz link that reproduces it?

[2019-10-31 22:28] #147 closed

[2019-11-01 09:40] MuratDoner commented on #168
Hey @jhuleatt,

I add the latest version, but got an error like this:

Attempted import error: '**useFirestoreCollectionData**' is not exported from '**reactfire**'.

Should I do something else?

[2019-11-01 19:06] jhuleatt opened #174 "useObservable Suspends if startWithValue is null"
If the `startWithValue` provided to `useObservable` is `null`, it causes `useObservable` to Suspend. This is caused by this line:

https://github.com/FirebaseExtended/reactfire/blob/fa4e20e68943f8f92d7a742314e91dbe668ac7d2/reactfire/useObservable/index.ts#L40-L43

We should update the code in `useObservable` to look like this:

[code]

[2019-11-01 19:55] jhuleatt commented on #168
Sounds like an old version is being pulled in. Can you please try `yarn add reactfire@canary` or `npm install reactfire@canary` in your project?

[2019-11-01 22:49] jhuleatt opened #175 "[Feature Request] Google Analytics for Firebase"
Google Analytics for Firebase [now supports web](https://firebase.google.com/docs/analytics/get-started?platform=web)! Let's include this in ReactFire

[2019-11-01 22:50] jhuleatt opened #176 "[Feature Request] Remote Config"
Remote Config [now supports web](https://firebase.google.com/docs/remote-config/use-config-web)! Let's include it in ReactFire.

[2019-11-02 15:21] MuratDoner commented on #168
Hey @jhuleatt,
It works like a charm now :)
Sample:
https://codesandbox.io/embed/elated-dijkstra-7u6i7?fontsize=14

[2019-11-04 20:54] jhuleatt commented on #168
Great!

[2019-11-04 20:54] #168 closed

[2019-11-04 21:38] #161 closed

[2019-11-05 09:50] forrest-keller commented on #137
I think we should use `getFirestoreDoc`, as used in the official Firebase APK

[2019-11-05 20:21] shawnmmatthews commented on #146
Just as a heads up for anyone that comes across this prior to the update being available. I've been able to get this working by building reactfire using "module": "commonjs" in the tsconfig.json file, and then running the context provider from within a module with ssr: false enabled in Next.

[2019-11-05 22:41] #174 closed

[2019-11-05 23:06] #138 closed

[2019-11-06 05:15] mlipscombe opened #178 "Can't call useFirestoreDoc or useFirestoreCollection with null query"
The PR merged in FirebaseExtended/reactfire#167 broke the ability to call `useFirestoreDoc` and `useFirestoreCollection` with a null query.  This is useful to accommodate where dependencies hadn't been calculated yet.

For example:

[code]

[2019-11-06 11:08] catrawalkar opened #179 "ClaimsCheck's return statement should be wrapped around React.Fragment (<> </>)"
### Version info

**React:** 16.9.0

**Firebase:** 7.2.0

**ReactFire:** 2.0.0-canary.d96bda4

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

If we use ClaimsCheck like this (without using fallback) or even AuthCheck which uses ClaimsCheck:
`
    <ClaimsCheck user={user} requiredClaims={{ isModerator: true }}>
        <span>
            We

[2019-11-06 11:18] catrawalkar commented on #179
@jhuleatt  I tried to resolve this in #180

Please check and comment your opinion

[2019-11-06 17:54] #158 closed

[2019-11-06 19:54] jhuleatt commented on #178
@mlipscombe thanks for the issue!

Can you please clarify what you mean by dependencies that haven't been calculated yet?

We [recommend](https://github.com/FirebaseExtended/reactfire/blob/master/docs/use.md#decide-what-to-render-based-on-a-users-auth-state) gating authentication-related things with the `AuthCheck` component. With that, you can be confident that a user will exist if it renders its

[2019-11-06 21:15] mlipscombe commented on #178
Sorry, I think I explained it rather poorly.  Up until this change, it was possible to have a hook that conditionally performed a query.   It allowed, for example:

[code]

Given that you can't change hook order, this is pretty useful.  For comparison, [CSFrequency/react-firebase-hooks](https://github.com/CSFrequency/react-firebase-hooks) supports this.

[2019-11-07 21:53] jhuleatt commented on #178
Sorry for the pushback on this. For most cases, it feels like calling `useFirestoreDoc(null)` is a mistake, and I want to treat it as such. If we don't, people's apps might fail in ways they don't expect. For example, doing the check `if (doc.exists === true)` after `useFirestoreDoc` is always safe to do right now. But if we allow `useFirestoreDoc` to take an `undefined` reference, and presumably

[2019-11-07 22:28] jhuleatt commented on #179
Huh, today I learned that Suspense still works even if a fallback isn't given. I guess we should support that in our `*Check` components too. Thanks for the PR!

For your `useUser` question, can you please open another issue and provide an example?

[2019-11-07 22:29] #179 closed

[2019-11-08 03:29] #146 closed

[2019-11-08 06:11] catrawalkar commented on #179
I didn't get what you mean by our `*Check` components. May be I can help in that and send a PR @jhuleatt

[2019-11-08 17:34] jhuleatt commented on #179
Sorry for not being clear. By `*Check`, I mean `AuthCheck` and `ClaimsCheck`. Your PR #180 already fixed that.

[2019-11-08 22:05] jhuleatt commented on #145
I'm working on this as part of #170

[2019-11-08 22:25] jhuleatt commented on #176
Since Remote Config requires some top-level configuration, maybe we make a Provider component like `FirebaseAppProvider`:

[code]

[2019-11-08 22:35] jhuleatt commented on #175
A minimal implementation could just be a `useAnalytics` hook that lazy loads the Analytics SDK:

[code]

I've implemented this pattern for other SDKS in #170. The draft docs are [here](https://github.com/FirebaseExtended/reactfire/blob/concurrent-mode/docs/use.md#lazy-load-the-Firebase-SDKs).

[2019-11-09 00:03] jhuleatt commented on #166
@cdock1029 Let's keep the `undefined` conversation going in #178. I'm going to close this issue since we've addressed the ID bug

[2019-11-09 00:03] #166 closed

[2019-11-09 06:40] catrawalkar opened #183 "Query: Join in Firestore"
### Version info

**React:** 16.9.0

**Firebase:** 7.2.0

**ReactFire:** 2.0.0-canary.d96bda4

### Query

Consider following database structure:

 - Orders Collection
	 - Order Document (Order1)
		 - `price: $100`
		 - `quantity: 10`
		 - `item: Item1` (This is  of type Reference)
		 - `user: User1` (This is  of type Reference)
 -  Items Collection
	 - Item Document (Item1)
		 - `item name: pencil

[2019-11-09 16:04] mbleigh commented on #183
Cloud Firestore is a non-relational database, there are no JOINs. Typically
you would want to model your data to match how you query it, and
denormalize as necessary.

On Fri, Nov 8, 2019, 10:40 PM Chinmay Atrawalkar <notifications@github.com>
wrote:

[2019-11-11 02:24] jhuleatt commented on #183
+1 to @mbleigh's answer. There are a number of similar questions about Firestore data modeling on StackOverflow, so taking a look there may help. Here's a [relevant answer](https://stackoverflow.com/a/56666799/4816918), and [here is the full list of `join` questions](https://stackoverflow.com/search?tab=votes&q=%5bgoogle-cloud-firestore%5d%20join). If after that you're still looking for Firestore

[2019-11-11 02:24] #183 closed

[2019-11-11 22:24] #144 closed

[2019-11-12 00:31] jhuleatt commented on #176
FYI #170 introduces `useRemoteConfig` to lazy load the Remote Config SDK

[2019-11-12 00:32] #169 closed

[2019-11-12 00:35] jhuleatt commented on #175
I added `useAnalytics` as part of #170. However, I haven't tested it, so we should probably add it to sample-simple to dogfood it.

[2019-11-12 01:01] #145 closed

[2019-11-12 01:02] jhuleatt commented on #145
Closed this since #170 has been merged

[2019-11-13 07:41] mlipscombe commented on #178
@jhuleatt after reflecting, I think you are right.  I would close this, but if the discussion from #166 will overflow to here, I'll leave it to you to close.

[2019-11-13 22:52] jhuleatt commented on #178
Thanks for understanding, @mlipscombe. I'm going to close this for now, but willing to reopen if others comment here with some use cases we haven't thought of yet.

[2019-11-13 22:58] jhuleatt commented on #176
Chatted with @jamesdaniels and a couple more ideas came up:

* If a dev only wants to get one value from Remote Config (to stop UI flickering), add a `noFlicker` flag. Probably to the `useRemoteConfigValue` hook. This would only return the first value from Remote Config, and no updates.
* Similarly, if the developer wants to guarantee the value came from the server and not the local cache, have an

[2019-11-21 11:08] catrawalkar opened #188 "OnSnapshot(useFirestoreDoc) is returning result twice. 1. fromCache: false 2. fromCache: true"
### Version info

**React:** 16.9.0

**Firebase:** 7.2.0

**ReactFire:** 2.0.0-canary.1fce6b9

**Other (e.g. Node, browser, operating system) (if applicable):**

### Issue

When I use **useFirestoreDoc**, it has useState hook somewhere inside (I am guessing somewhere inside **useObservable**) and **useFirestoreDoc** is using onSnapshot method of firebase and returns **snapshot** result of queried

[2019-11-21 11:19] catrawalkar commented on #188
![image](https://user-images.githubusercontent.com/15074162/69333502-bcbae900-0c7e-11ea-806e-16b4bb58e0d4.png)

for eg, in here the console.log shows data was returned 4 times. 2 times for `fromCache: false` then 2 times for `fromCache: true`.

[2019-11-21 13:45] catrawalkar commented on #188
Sorry, If I was not clear..

Tldr:

OnSnapshot gets called twice..! So returns 2 values..and thus component renders twice

[2019-11-25 18:46] jhuleatt commented on #188
Thanks for the issue @catrawalkar. I'll take a look!

[2019-12-02 21:19] hsubox76 opened #189 "Missing some packages in import switch statement?"
Seems to be missing some of the more recently added packages in this switch statement (functions, etc.) - they seem to be in the enum just not in the switch.

https://github.com/FirebaseExtended/reactfire/blob/1fce6b94acf25f0fdc9c7dd647db8d417742e06f/reactfire/firebaseApp/sdk.tsx#L25

[2019-12-03 02:47] jhuleatt commented on #189
Oops, I missed a few. The missing packages are:

- analytics
- functions
- messaging
- remote config

The workaround for now is to directly import the needed library (`import 'firebase/analytics'`) instead of lazy loading it.

[2019-12-07 12:35] maxmayerhofer93 opened #190 "Reactfire in a Expo React Native App"
Hi Guys,
i have seen the function on ReactDay.Berlin, and it was amazing how easy its looks.

So I want to integrate ReactFire on my Expo app, but after include SuspenseWithPerf he says,

Ans when I import it, he says:

What can I do to fix it ?:)

Thanks

[2019-12-07 12:49] #190 closed

[2019-12-07 12:50] maxmayerhofer93 commented on #190
okay, i find out,
you can replace SuspenseWithPerf with the react default Suspense,
and so you don't need to add  _import 'firebase/performance'_

[2019-12-09 20:14] RodyGL opened #192 "useFirestoreDocData & useFirestoreDoc won't throw a promise on permission denied"
### Version info

**React:** 16.12.0

**Firebase:** 7.5.2

**ReactFire:** 2.0.0-canary.1fce6b9

### Test case

I want to use role based authentication on documents, so when a document is successfully read in the app and then I change the access of that user, the listener throws an error instead of a Promise.

[code]

### Steps to reproduce

Use a correct example of read operation with role access,

[2019-12-10 00:00] #189 closed

[2019-12-10 00:29] jhuleatt commented on #192
👋  Hi @RodyGL! You can already catch the `permission denied` error with an error boundary: [CodeSandbox example](https://codesandbox.io/s/wonderful-raman-ps12d?fontsize=14&hidenavigation=1&theme=dark).

To clarify ReactFire's promise-throwing behavior, it does this to integrate with Suspense so that React knows to render a fallback until the read is ready. It's not related to permissions, only loa

[2019-12-10 00:31] jhuleatt commented on #188
I haven't had much time to look at this. Hopefully will have more this week. My assumption that this is caused by `useObservable` piping an initial value into the Observable: https://github.com/FirebaseExtended/reactfire/blob/e1daab435f10c629267ff8c2966da878327c941d/reactfire/useObservable/index.ts#L68

[2019-12-10 00:35] catrawalkar commented on #188
I am unable to understand what piping means or what .pipe function is doing.. can you please refer me to some link where i can read more about this and may be send a pull request.

[2019-12-10 00:47] jhuleatt commented on #188
ReactFire uses [RxFire](https://firebase.googleblog.com/2018/09/introducing-rxfire-easy-async-firebase.html) under the hood, which is based on [RxJS](https://rxjs.dev/) Observables. Piping lets you apply operators to observables: https://rxjs-dev.firebaseapp.com/guide/operators#piping

[2019-12-10 00:52] RodyGL commented on #192
Hi @jhuleatt! Thanks for your reply. You're almost there with the issue, the example you provided works because the first render works as expected. To replicate the issue, first you need to read successfully the document, once the data is loaded then you remove the user access to that document (firestore.rules). So, what I would expect after that is to see the fallback render once the listener rea

[2019-12-10 19:17] jhuleatt commented on #192
Throwing a Promise is only for loading state management, not rules evaluation/error handling. Throwing an error on a read error (in this case, failing a rules check) is intended behavior and should be handled by an error boundary, not Suspense.

Read more about Suspense vs Error Boundaries [in the React docs](https://reactjs.org/docs/concurrent-mode-suspense.html#handling-errors).

[2019-12-10 19:21] RodyGL commented on #192
That's what I meant. After changing the access an error is triggered due to permission denied but the Error Boundary is not catching any error and because of that the fallback is not showing.

[2019-12-10 20:48] jhuleatt commented on #192
Thanks for clarifying. I managed to repro:

1. Enabled read permissions
1. Reloaded the page, and got a successful read.
1. Set the rules back to denying the read, waited a minute to let the new rules propagate
1. Waited a minute or so (for the Firebase library to poll the backend?). <-- **this is the part I didn't do before**
1. The page gets into a weird state. An error is logged, but the UI sti

[2019-12-10 20:52] RodyGL commented on #192
Thanks a lot for your reply and effort @jhuleatt. I apologize if I wasn't clear enough with the issue.

[2019-12-17 10:21] iwikal opened #193 "Firestore API encourages waterfalls"
I have a use case where I want to subscribe to two queries simultaneously.
[code]
This will result in an unnecessary waterfall where we wait for the first query to unsuspend before sending off the next. I resolved this by writing this helper function:
[code]

But it would be nice if the API nudged us in this direction by default.

[2019-12-17 18:47] jhuleatt commented on #193
Hi @iwikal, great observation, and cool solution!

We actually have an experimental function for this, though it currently isn't documented:

https://github.com/FirebaseExtended/reactfire/blob/e1daab435f10c629267ff8c2966da878327c941d/reactfire/firestore/index.tsx#L17

The `preloadFirestoreDoc` function allows you to kick off a non-blocking request that can later be subscribed to via `useFirestoreD

[2019-12-17 18:50] jhuleatt commented on #193
I've started documenting this [here](https://github.com/FirebaseExtended/reactfire/blob/master/docs/use.md#preload-data). Maybe I should rename the section to "Preventing Waterfalls"

[2019-12-19 17:15] iwikal commented on #193
I didn't find a preload function for collection queries, is that in the works?

Also, I don't really understand how this preloading works. Does it register a listener? If so, when does that get unsubscribed? If not, wouldn't that result in twice the reads? (Once to preload, once to register the actual listener)

[2019-12-19 23:20] iwikal commented on #193
I think the resource as return type pattern would work pretty well for the whole api too. If you do want to suspend immediately, you can always call `read` right away.
[code]

You can also enforce preloading on the type level, if you say that a component wants a resource as a prop. That tells the parent component that they need to start fetching the resource before rendering the child.

Maybe ther

[2019-12-23 13:03] catrawalkar commented on #188
@jhuleatt

[2019-12-23 13:03] catrawalkar commented on #188
Am unable to understand this :( sorry @jhuleatt

[2019-12-23 13:31] calendee commented on #190
@maxmayerhofer93 Do you have a sample of this working?  I'm still struggling with this.

[2019-12-23 14:29] calendee commented on #190
Nvm.  I got it working.

[2020-01-02 00:05] wortkotze commented on #161
Hi, I still have the issue in "reactfire": "^2.0.0-alpha.2"
install via @next

when i do an auth check against a claim that is not present at the user its crashing.

`index.js:24 Uncaught C {a: 0, i: undefined, c: C, b: null, f: null, …}
(anonymous) @ index.js:24
commitHookEffectList @ react-dom.development.js:17283
commitLifeCycles @ react-dom.development.js:17316
commitAllLifeCycles @ react-dom.

[2020-01-02 00:06] wortkotze opened #194 "requiredClaims for <AuthCheck> is not working: 2.0.0-alpha.2"
Hi, I still have the issue in "reactfire": "^2.0.0-alpha.2"
[https://github.com/FirebaseExtended/reactfire/issues/161]
install via @next

when i do an auth check against a claim that is not present at the user its crashing.

`index.js:24 Uncaught C {a: 0, i: undefined, c: C, b: null, f: null, …}
(anonymous) @ index.js:24
commitHookEffectList @ react-dom.development.js:17283
commitLifeCycles @ reac

[2020-01-02 10:22] catrawalkar commented on #194
This was fixed in #164 .

You need to use canary version. Alpha version was updated 6 months ago.. try this: `npm i reactfire@canary` or `yarn add reactfire@canary`

[2020-01-02 15:03] wortkotze commented on #194
ok thx - do you have any timing when reactfire is supported by the "normal"react version ? thx Stephan

[2020-01-03 17:46] #194 closed

[2020-01-08 14:10] iwikal opened #195 "I want to ignore the initial cached result from useFirestoreCollection"
This little example demonstrates an, in my opinion, unfortunate behavior.

[code]

Story time: I had a component that was supposed to show a list of documents, and progressively load more documents as the user scrolls. I did the obvious thing and made a limited query, and had the limit in a state. But when I changed this state, the component didn't suspend until the results arrived like I expected

[2020-01-13 18:28] jhuleatt commented on #195
I *think* this is the behavior of the underlying Firestore SDK, and not ReactFire-specific. If it is, since you're using `useFirestoreCollection`, you can check `snap.metadata.fromCache` ([documentation](https://firebase.google.com/docs/reference/js/firebase.firestore.SnapshotMetadata.html#from-cache)) to check if Firestore is serving from cache.

But let's leave this open in case it is a ReactFir

[2020-01-14 09:13] iwikal commented on #195
I don't think it's a bug per se. But I don't think I could get the behavior I want with a simple wrapper function, since I want it to remain suspended until a non-cached snapshot appears. I hope I'm wrong?

My thinking was that there could be an option you could pass to `useFirestoreCollection` that put a `skipWhile(snap => snap.metadata.fromCache)` on the observable, or perhaps a separate functio

[2020-01-14 09:18] dannybarinshtein opened #196 "useFirestoreDocData doubles the read count"
Hello,

I came across an **/issue/** where I am getting charged for double the reads when using useFirestoreDocData to subscribe to data.

I created a custom hook to pass a user object like the below:

[code]

The way I am testing is only having one trigger to useFirestoreDocData throughout the whole app with the expectation to trigger only 1 read on app init, refreshing 4 extra times to generate

[2020-01-15 07:38] dannybarinshtein opened #197 "useFunctions TypeError"
Ran into an issue where the useFunctions hook returns the following error:

**TypeError: Cannot read property 'then' of undefined**

The issue is located in **sdk.js** line 23 switch statement where it is missing the functions condition.

[code]

**EDIT**

Found related tickets claiming its fixed:

https://github.com/FirebaseExtended/reactfire/pull/191
https://github.com/FirebaseExtended/reactfire

[2020-01-16 00:28] jhuleatt commented on #197
Huh, looks like our CI build hasn't released the latest code to canary. Thanks for reporting, @dannybarinshtein !

FYI @jamesdaniels

[2020-01-16 21:56] #153 closed

[2020-01-16 22:01] jhuleatt commented on #197
Sorry for the delay - functions and the other packages should be included in today's build: `2.0.0-canary.f3e731d`

[2020-01-17 05:31] dannybarinshtein commented on #197
Awesome thanks Jeff - appreciate the update. I actually tried to contribute the fix but when I forked the repo it seemed to be the old one aha

Cheers

[2020-01-17 05:31] #197 closed

[2020-01-17 19:20] jhuleatt commented on #193
Thanks for the thoughts and suggestions, @iwikal, and sorry for the winter holiday delay!

I've had some time to think on this some more, and I think this is solvable without increasing ReactFire's API surface. Example:

*somewhere up the component tree when we're pretty sure we'll need some data later*
[code]

*in the component that actually needs the data*
[code]

This is similar to [Relay's `pr

[2020-01-17 19:51] iwikal commented on #193
I can totally see that this "opt-in to preloading" approach would be desirable.
I still think that mechanism of sending off a request, awaiting it, and then subscribing after it has been resolved, even when it's just used behind the scenes like [here](https://github.com/FirebaseExtended/reactfire/blob/6fff36284e1395099ce32d5c0e611bdb76a62621/reactfire/useObservable/index.ts#L27) is what's causing

[2020-01-17 22:58] jhuleatt commented on #196
Hi @dannybarinshtein!

Regarding when unsubscribes happen: Reactfire subscriptions are cleaned up when the component using them unmounts.

Regarding double reads: This might be a Reactfire bug. I'll try to reproduce it

[2020-01-18 00:34] jhuleatt commented on #195
I've confirmed that this is the behavior of the Firestore SDK itself.

I wonder if we update [`ReactFireOptions`](https://github.com/FirebaseExtended/reactfire/blob/master/docs/reference.md#ReactFireOptions) to add a custom observable operator like `skipWhile` to allow customization like this.

`useFirestoreCollection(query, {customOperator: skipWhile(snap => snap.metadata.fromCache)})`

If you wa

[2020-01-18 10:55] iwikal commented on #195
That's an interesting idea! It would probably have to be serialised, somehow, so that different operators create different `observableId`s.

[2020-01-19 16:58] preconception opened #201 "Attempted import error: 'preloadAuth' is not exported from 'reactfire'."
"firebase": "^7.7.0",

     "react": "0.0.0-experimental-f42431abe",

    "reactfire": "^2.0.0-alpha.2"

Node v12.13.1

### Test case

https://github.com/seanaguinaga/sample

### Steps to reproduce

Clone

npm install

npm run start

### Expected behavior

App should compile

### Actual behavior

![image](https://user-images.githubusercontent.com/49764795/72684945-c2278a80-3a99-11ea-98e3-8f16502d2

[2020-01-20 06:17] dannybarinshtein commented on #201
I believe you need to use the reactfire@canary installation to access the newer hooks

[2020-01-20 06:24] dannybarinshtein commented on #196
Thanks Jeff,

Let me know if you need any help reproducing this.

As for the unsubscribes, I understand that Reactfire unsubscribes on Component unmounts, but those unmounts do not happen on window close or refresh as they can not access the browser context anymore.

To elaborate what would happen is a user would have subscriptions and then either close or reload the window where the unmount unsub

[2020-01-20 08:19] davepwsmith commented on #140
Hi @jhuleatt - I'm looking for easy ways to help out with this (because I'm no expert!), and thought this might be one. Some of the typing looks complicated, but is there a reason that the SDK calls return "any" rather than Promise<firestore.storage.Storage> for example?

I would also be happy to go ahead and try to get your suggestion above working ("Maybe we provide multiple definitions") - assu

[2020-01-21 18:04] jhuleatt commented on #201
correct, please `npm install reactfire@canary`

Sorry for the confusion @preconception! I'll make a note to update the `@next` release with a new alpha cut

[2020-01-21 21:36] davepwsmith opened #202 "Handle undefined gracefully in hooks?"
I'm not sure if this is a deliberate choice to force me to think harder about breaking my app down into teeny-tiny pieces, but for discussion anyway:

The nature of hooks is that they can't be called conditionally. But if I am using a field from another document which should contain a document reference to feed into `useFirebaseDocData` or some-such, then by the nature of a schemaless database tha

[2020-01-22 00:38] jhuleatt commented on #202
Hi @davepwsmith!

It looks like you caught a bug in ReactFire. It turns out that the library that underpins ReactFire, RxFire, doesn't handle the `undefined` case correctly. I've filed an issue with more detail [here](https://github.com/firebase/firebase-js-sdk/issues/2561). In cases where it should return `null` or `undefined`, it's actually returning `{}`.

[2020-01-22 00:46] jhuleatt commented on #196
Unfortunately, Firestore doesn't have the same support for presence that the Realtime Database has. Can you please file a feature request against the core Firestore product with [this form](https://firebase.google.com/support/troubleshooter/report/features/)?

We have a documented workaround [here](https://firebase.google.com/docs/firestore/solutions/presence), although it has some [limitations](h

[2020-01-27 18:14] preconception opened #203 "Passing in FireStore settings possible?"
This is not an "issue" per se.

possible Feature Request if not possible.

`firebase.firestore().settings({ experimentalForceLongPolling: true });`

How do I pass in settings?

```const firestore = useFirestore();```

[2020-01-27 21:50] jhuleatt commented on #203
Thanks for filing, @preconception!

This "function that needs to be called before anything else" pattern is definitely something we need to solve for a bunch of products (Firestore, Remote Config, Performance Monitoring, Analytics, maybe more).

If you're not lazy loading the Firestore SDK, this isn't too hard to do on your own if you initialize Firebase on your own and pass it in to `FirebaseAppP

[2020-01-27 22:10] jhuleatt commented on #201
I've released a new alpha on `@next`

[2020-01-27 22:10] #201 closed

[2020-01-27 22:20] preconception commented on #203
Jeff thanks for the reply!

You’re right on the money with:

preloadFirestore(firestore => {
  firestore().settings({ experimentalForceLongPolling: true });
});

In my opinion.

It’s the closest to the base firestore.settings() mentioned in the docs.

Will try that alpha.

On Mon, Jan 27, 2020 at 13:50 Jeff <notifications@github.com> wrote:

--
Thank You
Sean Aguiñaga

[2020-01-30 09:38] dannybarinshtein commented on #196
Thanks @jhuleatt

The workaround would defeat the purpose, was more seeing how does a window close handle subscriptions, and if a snapshot update would trigger a read on a closed client.

Any luck reproducing the double read?

[2020-01-30 18:27] #176 closed

[2020-01-30 21:07] jhuleatt commented on #203
Thanks for the feedback @preconception! @davideast is working on a PR for this as we speak :)

[2020-01-30 21:09] jhuleatt commented on #196
Yes, I'm working on a PR to clean up ReactFire's subscription handling, and double reads should be solved as part of that.

[2020-01-31 19:01] jhuleatt opened #207 "Remove `initPerformance` from `FirebaseAppProvider`"
Since #205 introduces a way to initialize the different Firebase SDKs, we probably don't need to include `initPerformance` in `FirebaseAppProvider` any more

[2020-01-31 19:02] #203 closed

[2020-02-02 15:24] wizawuza opened #209 "error: request "firebase-sdk-auth" is already in use."
### Version info
**React:**
    "react": "0.0.0-experimental-241c4467e",

**Firebase:**
    "firebase": "7.8.0",

**ReactFire:**
    "reactfire": "2.0.0-canary.e2f1b1f", <- this one is broken
    "reactfire": "2.0.0-canary.33f1e6a", <- this slightly older one works

In my custom hooks I use stuff like
`const user = useUser();`

When upgrading to the newest canary build, I get the error:

It's weir

[2020-02-04 23:05] jhuleatt commented on #209
Hi @wizawuza thanks for reporting this!

Do you have time to provide a reproducing example in StackBlitz? This might be a good starting point: https://stackblitz.com/fork/reactfire-sample

[2020-02-07 22:01] wizawuza commented on #209
@jhuleatt
Alas, I cannot reproduce it on stackblitz but it's still an error on my end while downgrading (and only downgrading).. sorry =\
closing for now

[2020-02-07 22:01] #209 closed

[2020-02-07 22:40] jhuleatt commented on #209
Thanks for trying!

On the bright side, #210 is a significant rework of the internals of reactfire and will likely get rid of this issue

[2020-02-09 19:42] davepwsmith commented on #202
So - that definitely looks like a bug in rxfire... _but_ I'm not sure still that hooks shouldn't handle this a little differently?

When you use the firebase JS SDK without hooks (or even in your own custom hooks) because you aren't using hooks, you can always wrap things in conditionals. So for example if I want to get a document based on the users UID I can make that fetch conditional on the use

[2020-02-10 14:57] jhuleatt commented on #202
This is definitely a tricky problem that can show up all over an app, like when a field in a document points to a storage link that we then want to call `useStorageDownloadURL` on, etc.

The null passing solution gets around React's warnings, but in practice it seems like any case where you'd pass `null` to a hook might be better solved by the hook throwing an error (potentially to be caught by an

[2020-02-10 18:47] davepwsmith commented on #202
Standing aside from the Auth issue (and yes, AuthCheck is useful, but typescript still complains that user can be unknown, as I think you alluded to - I wonder if there is some way to fix that? I also think that getting a user and a corresponding firebase document is probably such a common use-case as to warrant a hook of its own!):

I guess for me, the issue is that in a schemaless database like

[2020-02-12 20:05] davepwsmith opened #212 "Uncaught exception: [object Promise]"
I have started getting this a lot:
[code]

Is this an indication that there is something I should be catching with an error boundary or with Suspense?

[2020-02-13 00:33] jamesdaniels commented on #135
`2.0.0-rc.0` has been cut to NPM `@latest`

[2020-02-13 01:44] jamesdaniels commented on #212
Can you give `reactfire@2.0.0-rc.0` a spin, we just significantly reworked the core. Otherwise yeah, you want to capture it in a boundary & report back the problem.

[2020-02-13 19:59] davepwsmith commented on #212
I took rc.0 for a spin and.... it broke everything :rofl:

In particular, AuthCheck now has some sort of type-error:

[code]

[code]

This is on my existing whole codebase, so going to try to pull out a simple example and see if I can work out what the issue is.

[2020-02-13 20:43] davepwsmith commented on #212
Update:

AuthCheck works if you pass in the auth parameter manually - looks like maybe this is to blame: https://github.com/FirebaseExtended/reactfire/blob/121f5e15f97dd1b66495e1487e8a097f92aeb8a3/reactfire/auth/index.tsx#L34

?

[2020-02-14 00:46] RodyGL commented on #135
I get a **TypeError: Cannot read property '_getService' of undefined** on the AuthCheck component with the new release. I'm using react@experimental with concurrent mode enabled. Any suggestion?

[2020-02-14 01:12] RodyGL opened #213 "Can't use AuthCheck component or useUser hook"
### Version info

**React:** 0.0.0-experimental-241c4467e

**Firebase:** 7.8.2

**ReactFire:** 2.0.0-rc.0

### Test case

_You may need to download the project because stackblitz won't run the new version of reactfire._
https://stackblitz.com/edit/react-d3ik8r?file=index.js

### Steps to reproduce

Use the AuthCheck component or useUser hook (haven't use the other components/hooks)

### Expected b

[2020-02-14 10:09] ralcar commented on #213
Same here, this is my <App/>

[code]

[code]

And this is my index.js wrapping <App/>

[code]

[2020-02-16 20:25] davepwsmith commented on #213
Closing my off-topic issue in favour of this one - notes copy and pasted:

In particular, AuthCheck now has some sort of type-error:
[code]
Update:

AuthCheck works if you pass in the auth parameter manually - looks like maybe this is to blame: https://github.com/FirebaseExtended/reactfire/blob/121f5e15f97dd1b66495e1487e8a097f92aeb8a3/reactfire/auth/index.tsx#L34

?

[2020-02-16 20:25] davepwsmith commented on #212
Closing in favour of #213

[2020-02-16 20:25] #212 closed

[2020-02-16 22:00] josermorales opened #214 "Unable to resolve "./index.esm-e07042b9.js" from "node_modules/reactfire/cjs/index.js""
### Version info

**React:16.9.0

**Firebase:7.8.5

**ReactFire:2.0.0-rc.0

**Other (e.g. Node, browser, operating system) (if applicable):**

OS: Mac OS 10.15.3

### Steps to reproduce

1. New react project (react native expo in my case)
2. yarn add reactfire
3. yarn add firebase
4. Wrap app in FB provider with config
5. Start server
6. Unable to resolve "./index.esm-e07042b9.js" from "node_modul

[2020-02-17 09:54] jamesdaniels commented on #214
I have a good handle on what this might be, will get it fixed in rc.1. Thanks for filing the issue!

[2020-02-17 09:54] jamesdaniels commented on #213
Thanks for the report, I'll look into this for rc.1

[2020-02-18 20:33] jhuleatt commented on #196
#210 was a refactor that significantly improved our reuse of subscriptions and should prevent double reads. Closing this out

[2020-02-18 20:33] #196 closed

[2020-02-18 20:34] jhuleatt commented on #175
Adding how-tos as part of #208

[2020-02-18 20:34] #175 closed

[2020-02-20 21:32] #207 closed

[2020-02-20 21:32] #213 closed

[2020-02-20 21:32] #214 closed

[2020-02-20 21:48] jamesdaniels commented on #214
Should be addressed in `2.0.0-rc.1` which we just cut to NPM, if you have any other problems just open another issue.

[2020-02-20 21:48] jamesdaniels commented on #213
Addressed in `2.0.0-rc.1` thanks again for your help testing.

[2020-02-21 12:40] ralcar opened #216 "useFirestoreCollection crash straight away on usage"
### Version info

**React:**
0.0.0-experimental-ea6ed3dbb

**Firebase:**
7.9

**ReactFire:**
v2.0.0-rc.1

**Other (e.g. Node, browser, operating system) (if applicable):**
Node 10.15.1

### Test case

I want to load and then listen to changes to a collection in Firestore.

[code]

### Steps to reproduce

Add code above to any project

### Expected behavior

Expect to get a list from my selected co

[2020-02-21 19:10] jhuleatt commented on #216
@jamesdaniels my guess is that this is due to the new proxy stuff?

[2020-02-21 20:22] jamesdaniels commented on #216
Hmmm, interesting. Maybe this is a change to the internal API... or webpack mangling something. I’ll do some testing early next week.

Could you try with Firebase 7.8?

[2020-02-21 20:24] jamesdaniels commented on #216
Ah, yes just looked up the changelog. 7.9 ships with the minified Firestore, so we can’t count on that API... @jhuleatt could you look into a work around if you have time? Otherwise I’ll find time early next week.

7.8 should be fine.

[2020-02-21 20:59] jhuleatt commented on #216
Ohh, makes sense. I guess it isn't safe to call undocumented fields any more. I'll look into alternatives

[2020-02-21 21:36] ToMissTheMarc commented on #216
Please let me know if you find any alternatives. I'm currently facing the same issue with firestoreCollection now.

[2020-02-21 21:54] jhuleatt commented on #216
I'm having a tough time reproducing this - if anyone has time to create a StackBlitz/CodeSandbox demo that reproduces this, can you please comment a link in here?

[2020-02-24 17:24] jhuleatt commented on #216
Looks like this was fixed in [7.9.1](https://firebase.google.com/support/release-notes/js#version_791_-_february_21_2020)

StackBlitz that shows it working now: https://stackblitz.com/fork/reactfire-issue-216

[2020-02-24 17:36] #160 closed

[2020-02-24 17:42] jhuleatt opened #217 "Potential API Change: SDK preloads"
Worth changing the call signature so that firebaseApp can be left out more easily?

[2020-02-24 22:40] ToMissTheMarc commented on #216
You're right... looks like firebase corrected this issue.

However, are you now seeing any issues with using useFirestoreCollection with a where clause when a variable has been updated in useState? For example, say I have an ownerId variable being used in a where clause and it's being set somewhere down in my code in a useEffect (setOwnerId). When the ownerId is finally set, the useFirestoreCollec

[2020-02-25 20:45] jhuleatt commented on #140
@jamesdaniels has redone ReactFire's type handling in a way that should address this. James, think we're ready to close this issue?

[2020-02-25 20:48] jhuleatt commented on #195
I think this use case is a good example to add to the [advanced usage docs](https://github.com/FirebaseExtended/reactfire/blob/master/docs/use.md#advanced-using-rxjs-observables-to-combine-multiple-data-sources)

[2020-02-25 21:31] davepwsmith commented on #140
Works well now for me.

[2020-02-26 01:00] jamesdaniels commented on #140
Yeah, I’m calling this one good. Open a new issue for any type problems you experience as of the latest RCs.

[2020-02-26 01:00] #140 closed

[2020-02-26 07:20] #217 closed

[2020-03-02 20:48] markmals commented on #216
Any guidance as to how to fix this issue? I'm still getting the `TypeError: Cannot read property 'canonicalId' of undefined` error from the `getHashFromFirestoreQuery` function. This is the code being called inside of a function component when ReactFire crashes:

[code]

I tried also using the

[code]
configuration used in the StackBlitz, but I get a `firebaseApp.firestore is not a function` error

[2020-03-07 08:42] banyan commented on #216
[7.9.1]( https://github.com/FirebaseExtended/reactfire/issues/216#issuecomment-590449622) works but 7.9.2, 7.9.3 and 7.10.0 don't work. Just change the version of reactfire on stackblits and it will be reproduced immediately.

[2020-03-08 22:23] jylin opened #221 "Error evaluating 'query._query.canonicalId' when using useFirestoreCollectionData"
### Version info

**React:** 16.13.0

**Firebase:** 7.10.0

**ReactFire:** 2.0.1

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

The sample in the reactfire codebase seems to throw this exception without any changes.

### Steps to reproduce

Run the sample app included in this codebase.

### Expected behavior

No crash

### Actual behavior

[code]

[2020-03-08 22:40] jylin commented on #221
I reverted to firebase version 7.5.0, and that seems to fix it, so it's probably due to a change to firebase rather than in reactfire. Didn't try bisecting to see which exact version/change causes the issue though.

[2020-03-09 15:20] seanaguinaga opened #222 "Not a code issue but had no idea where to post"
Hey guys!

Thank you SO much for working on reactifre and congrats on 2.0!!

I've been on canary for a while and I had no idea it was released until I ran ncu -u on my project!

is there a website or mailing list or anything of that ilk for reactfire news, updates, feature showcases, etc? Medium posts? etc?

it's such a cool library!

Thanks
Sean

[2020-03-09 15:57] seanaguinaga opened #223 "Property 'GoogleAuthProvider' does not exist on type 'Auth'"
Recently updated packages and this happened when trying to combine https://github.com/firebase/firebaseui-web-react with reactfire

<img width="485" alt="Annotation 2020-03-09 085614" src="https://user-images.githubusercontent.com/15254340/76232392-dd825c80-61e3-11ea-9345-b5e7575c9895.png">

Was there a change on how this works? According to the firebase docs GoogleAuthProvider should still be a p

[2020-03-09 17:15] jhuleatt commented on #223
@seanaguinaga good question! This is a recent change we're still working on documenting. Changing the line

[code]

to this (don't call `useAuth` as a function):

[code]

Should fix things. You can see an example in the sample code:

https://github.com/FirebaseExtended/reactfire/blob/5487096955aa411fb2cac6b17513d09143aadb90/sample/src/Auth.js#L28-L39

This change was implemented in #215 . We switc

[2020-03-09 17:22] jhuleatt commented on #222
Hey Sean, awesome to hear you're excited about the library 😃

We're still early days so don't have much besides my [initial talk](https://youtu.be/Mi9aKDcpRYA?t=527), but we're working on more developer content. James, David, and I will tweet about any new content that comes out, so that's probably the most reliable place to look for now (Twitter handles: [jhuleatt](https://twitter.com/jhuleatt),

[2020-03-09 20:26] 16oh4 commented on #221
I'm having the same issue with Firebase 7.10.0 and the rest of these deps `"@material-ui/core": "^4.9.5",
    "@testing-library/jest-dom": "^4.2.4",
    "@testing-library/react": "^9.3.2",
    "@testing-library/user-event": "^7.1.2",
    "firebase": "^7.10.0",
    "react": "^0.0.0-experimental-235a6c4af",
    "react-dom": "^0.0.0-experimental-235a6c4af",
    "react-scripts": "3.4.0",
    "reactfir

[2020-03-09 22:44] pablogravielseo commented on #221
Same problem here, I was using version "7.9.3", now I've installed the version "v7.8.2" and is working.

[2020-03-09 22:53] seanaguinaga commented on #223
Got it got it! Thank you!

[2020-03-09 22:53] #223 closed

[2020-03-09 22:56] seanaguinaga commented on #222
I will follow you guys!

in case you were thinking of spectrum for a community page - tanner linsley from react static pointed out their pages don't come up in google search results. Might be something to keep in mind!

I know it doesn't look it but I'm a decent writer if you need any contributions.

[2020-03-09 23:07] seanaguinaga commented on #222
Also, unrelated, would you ever mix reactfire with mobx?

[2020-03-09 23:30] jhuleatt commented on #222
Great! We're always open to PRs with new use cases for the [guide docs](https://github.com/FirebaseExtended/reactfire/blob/master/docs/use.md#using-reactfire). A couple of opportunities off the top of my head:

- Listen to a firestore query and render the results (`useFirestoreCollectionData`)
- Listen to a Remote Config value

If there are any common use cases you'd like to document but you can't

[2020-03-10 23:02] jamesdaniels commented on #221
I believe this is due to Firebase 7.9 mangling the private API that we rely on in CJS builds... thoughts @schmidt-sebastian?

[2020-03-10 23:13] schmidt-sebastian commented on #221
Talked to @jamesdaniels, who will add an externs file for the private APIs that are used here and add it here: https://github.com/firebase/firebase-js-sdk/blob/master9/packages/firestore/externs.json

[2020-03-11 00:13] jamesdaniels commented on #221
After further discussions we found a solution that does not rely on a private API. We'll have a work around out shortly.

[2020-03-11 06:34] dannybarinshtein opened #225 "AuthCheck behaviour & sever timestamps"
Hey guys,

I have a few questions / comments / requests

1.  For the AuthCheck component is there any way to have (or request a future implementation) a check for emailVerified - I believe it would be quite beneficial to not render the logged-in routes if an email verification is required.

2. What is the recommended approach to handle UI updated after email verification? the AuthCheck (nor the us

[2020-03-11 22:16] jamesdaniels commented on #221
Fixed in `2.0.2`

[2020-03-11 22:16] #221 closed

[2020-03-11 23:31] ToMissTheMarc commented on #216
I am on 7.9.1 of firebase and I am facing the issue again.

[2020-03-12 15:10] alxhotel opened #226 "Undefined is not an object app[componentName].bind"
### Version info

**React:** 16.9.0

**Firebase:** 7.10.0

**ReactFire:** 2.0.2

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

I'm building an app with Expo and React Native. I'm trying to add analytics to the app but I'm having trouble just using the examples of the docs.

When my code gets to:

[code]
An error appears:

[code]

This is at this line: https://gi

[2020-03-12 17:33] jhuleatt commented on #226
@alxhotel to help us narrow down the issue, can you please try to create a very minimal app with Expo and see if it still has the same problem (and if it does, share the code with us)? Something simple like this: https://stackblitz.com/edit/react-st5s4o

[2020-03-12 17:50] jhuleatt opened #227 "Can't use firebase.firestore.FieldValue.serverTimestamp() in a separate function"
repro (click the button to see the error): https://stackblitz.com/fork/react-cmc6zd

calling `firebase.firestore.FieldValue....` in a function that isn't a function component causes a "you broke the rules of hooks" error.

[2020-03-12 17:52] jhuleatt commented on #225
Hi @dannybarinshtein! Thanks for reaching out.

1. Yes, that sounds like a valid feature request! Can you please file that as a separate issue so that we can have a more focused discussion about what the API might look like?
1. I believe you can do this in a useEffect hook, and it would look something like this:
[code]
    If that doesn't work, can you please create a separate issue to discuss?
1.

[2020-03-12 17:56] jhuleatt commented on #216
reactfire 2.0.2 changed how we cache Firestore collection queries, and should fix this. I'll reopen this issue and keep it open until we confirm

[2020-03-12 18:06] alxhotel commented on #226
Here is an example of what I'm doing: https://codesandbox.io/s/reactfire-bug-dlmjo

If you use that code in an Expo app, it triggers the error mentioned.

[2020-03-12 19:43] 16oh4 opened #228 "useFirestoreDocData creates 'Uncaught FirebaseError: Missing or insufficient permissions' vs useFirestoreDocDataOnce"
### Version info

**React:**
    "react": "^0.0.0-experimental-235a6c4af",
    "react-dom": "^0.0.0-experimental-235a6c4af",

**Firebase:** 7.8.2

**ReactFire:** ^2.01

**Other (e.g. Node, browser, operating system) (if applicable):**

Browser:
Google Chrome | 80.0.3987.132 (Official Build) (64-bit) (cohort: 80_Win_132)
Revision | fcea73228632975e052eb90fcf6cd1752d3b42b4-refs/branch-heads/3987@{#9

[2020-03-12 20:26] jhuleatt commented on #226
Thanks @alxhotel! Will look into this. It may be a [problem with the Firebase JS SDK](https://github.com/firebase/firebase-js-sdk/issues/2244), in which case there may not be much we can do, but we'll give it a shot.

FYI @jamesdaniels

[2020-03-12 20:30] jhuleatt commented on #228
@16oh4 this will be a tough one to diagnose without a more complete sample. Any chance you can create a minimal version of your app in StackBlitz or CodeSandbox so that we can see the full app code needed to reproduce the problem?

[2020-03-13 00:30] 16oh4 opened #229 "StorageImage component creates Uncaught TypeError: Object(...)(...).storage is not a function"
### Version info

**React:**
"react": "^0.0.0-experimental-235a6c4af",
    "react-dom": "^0.0.0-experimental-235a6c4af",

**Firebase:**
"firebase": "^7.10.0",

**ReactFire:**
"reactfire": "2.0.2",

**Other (e.g. Node, browser, operating system) (if applicable):**
Windows 10. Chrome 80

### Test case

Rendering a

`<StorageImage
        storagePath='image.png'
      />`

by itself

### Steps to rep

[2020-03-13 01:13] dannybarinshtein opened #230 "AuthCheck emailVerified check - Feature Request"
Would be great to have the ability to add a check for User email verification to the AuthCheckout wrapper (and potentially custom checks if use cases arise?).

**Goal:**

Avoid rendering App Routes and force the Auth Routes to remain if email verification is required.

**Proposed Solution:**

A simple prop would suffice I believe

[code]

If use cases arise could be neat adding a callback for addi

[2020-03-13 01:13] 16oh4 commented on #229
After I tried to instantiate useFirebaseApp().storage

`Uncaught TypeError: Object(...)(...).storage is not a function
    at push../src/pages/Profile.js.__webpack_exports__.default (Profile.js:57)
    at renderWithHooks (react-dom.development.js:15128)
    at mountIndeterminateComponent (react-dom.development.js:17905)
    at beginWork (react-dom.development.js:19257)
    at HTMLUnknownElement.ca

[2020-03-13 01:17] dannybarinshtein commented on #225
Thanks Jeff - Opened up #230 that builds up more on #1 and #2 as I believe both are closely related

[2020-03-13 01:17] #225 closed

[2020-03-13 17:32] jhuleatt commented on #229
Thanks for the detailed report @16oh4. It looks like `<StorageImage/>` isn't automatically lazy loading the Storage SDK like it should be. I believe this is an easy fix, so I'll get started on a PR

[2020-03-13 19:37] 16oh4 commented on #229
Thank you jhuleatt. The pleasure is mine. Certainly, I fixed the error by adding this line to my index.js  (after reading the documentation more) `import 'firebase/storage'.

[2020-03-13 22:44] 16oh4 commented on #229
Also wanted to request a feature where the <StorageTask> can be suspended with a component such as a <CircularProgress/> from @material-ui/core to prevent the page completely erroring out and preventing the user to see it.

![image](https://user-images.githubusercontent.com/37783822/76664404-45bd9f00-6552-11ea-9a8a-ac86884a488f.png)

[2020-03-15 04:57] dannybarinshtein commented on #178
@jhuleatt - I'm actually in a similar boat right now with this.

I am using the same component for both creating new, and updating existing documents. If i'm creating new documents I would want to avoid fetching the document. On top of that in my build I already foresee many situations like this.

You mentioned to add a check {if (doc.exists === true)} - but there are two major concerns here:

1.

[2020-03-16 14:26] wizawuza commented on #227
It's like this for any hook, this isn't specific to reactfire.

You'd have to do one of two things.
`const firestore = useFirestore();` <= notice the ()
That won't work because you want FieldValue.. the above works for stuff like firestore.collection('collectionName')....
You can also try:
`const fieldValue = useFirestore.FieldValue;`
and later in your code do `time: fieldValue.serverTimestamp()`

[2020-03-16 16:30] ToMissTheMarc commented on #216
Appears to be working so far.

[2020-03-16 20:42] jhuleatt commented on #216
Cool, thanks for confirming. I'm going to close this - if someone else runs into a similar error on 2.0.2+, please open a new issue.

[2020-03-16 20:42] #216 closed

[2020-03-17 16:26] #229 closed

[2020-03-21 17:30] matepapp opened #234 "[Question] Usage example with NextJS?"
Hey! 👋

Thanks for the project! Unfortunately, I couldn't find any examples with NextJS. Is it possible to use, or integrate it into a NextJS project?

[2020-03-22 04:05] prescottprue opened #235 "Usage with Database Emulators"
### Version info

**React:** ^16.3.0

**Firebase:** ^7.12.0

**ReactFire:** ^2.0.2

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

[code]

This can currently be done on the lower component levels, but needs to be repeated in all of your components that are using Firestore if you want to keep the benefit of lazy loading the SDK when needed.

[2020-03-23 16:03] jhuleatt commented on #235
@prescottprue thanks for trying out ReactFire with the emulators! Luckily, ReactFire already supports a couple of ways to do this:

The `preloadFirestore` function allows you to do setup work before the Firestore SDK is made available to any component that consumes it. In the sample, we use it to enable persistence:

https://github.com/FirebaseExtended/reactfire/blob/848eaa3c6993221c52d81c86c68700

[2020-03-23 16:15] jhuleatt commented on #234
Hi @matepapp, I don't know of any NextJS + ReactFire samples yet. It looks like [Suspense with SSR is available in Concurrent Mode now](https://reactjs.org/docs/concurrent-mode-adoption.html#feature-comparison), so _I think_ it should be possible to use all of ReactFire's features with Next. If you know of any docs that show how to work with NextJS + Suspense/Concurrent Mode, please send them our

[2020-03-23 17:01] matepapp commented on #234
Thanks, @jhuleatt! 🙌

Actually, first I tried with `<FirebaseAppProvider>` + initial values in the hooks, but NextJS threw a cryptic error message. That's when I thought there's might be an example repository somewhere. Although, I didn't know that SSR is available in experimental Concurrent Mode and it looks [NextJS even supports it](https://github.com/zeit/next.js/discussions/10645#discussioncom

[2020-03-23 21:09] 16oh4 commented on #228
I apologize but I am working on an enterprise application.

This error is caused in every file I try to use it in. I've noticed the error only happens with listener functions like useFirestoreDocData and useFirestoreCollectionData, but using useFirestoreDocDataOnce and useFirestoreCollectionDataOnce both work under the same conditions.

The error only occurs when navigating to the page using histo

[2020-03-24 01:23] prescottprue commented on #235
Thanks for all the info and the quick response! Being able to pass the initialized app will definitely help for testing.

It would still be nice to have a way of doing this without actually starting the loading the SDK since using `preloadFirestore` would still need to be placed into any route needing firestore. I was thinking about working into a parent route, but it would be nice not to have to

[2020-03-25 17:53] seanaguinaga opened #236 "Type 'App' has no properties in common with type 'PreloadOptions<() => Firestore>'"
[code]

![image](https://user-images.githubusercontent.com/15254340/77569008-c059b900-6e86-11ea-97a2-aa4793589b48.png)

I'm assuming I'm just not initializing something right?

[2020-03-25 17:58] seanaguinaga commented on #236
![image](https://user-images.githubusercontent.com/15254340/77569396-63aace00-6e87-11ea-9a7c-fb89fd653f66.png)
I see now you changed how this is written in the sample.

How the heck should I/would I type this?

Should I just use ```any``` for now?

[2020-03-25 19:50] jhuleatt commented on #236
Hey @seanaguinaga our sample is out of date here. Apologies.

This is the signature for `PreloadOptions`: https://github.com/FirebaseExtended/reactfire/blob/848eaa3c6993221c52d81c86c68700130a2d27f2/reactfire/firebaseApp/sdk.tsx#L98-L101

so to call `preloadFirestore`, you'd do:

[code]

The `setup` field lets you do things with the Firestore library (or other Firebase libraries) before they're exp

[2020-03-25 19:51] jhuleatt commented on #236
Here's an example from a test: https://github.com/FirebaseExtended/reactfire/blob/8a54d42d9e07cc767edf24b9189e570a1eeaeb47/reactfire/firestore/firestore.test.tsx#L59-L62

[2020-03-25 19:52] jhuleatt opened #237 "Update docs & sample for preloadSDK functions"
Now that the preload functions take a `PreloadOptions` argument, the docs and sample are out of date

[2020-03-25 19:52] jhuleatt commented on #236
I've created #237 to remind us to update the docs

[2020-03-25 20:04] jhuleatt opened #238 "FR: Allow use of Firestore dataConverter in useFirestore* hooks"
This will enable better typing and serialization

https://firebase.google.com/docs/reference/js/firebase.firestore.FirestoreDataConverter

[2020-03-27 13:54] searchableguy commented on #234
@matepapp could you show me that cryptic error. I am trying it with nextjs too. It worked until today and now it is giving me an invariant violation.

[2020-03-27 16:37] dannybarinshtein commented on #178
Hey @jhuleatt - wondering what your thoughts on the above are?

[2020-03-27 17:57] matepapp commented on #234
To be honest, I just put the `<FirebaseAppProvider>` into the top-level `_app.tsx`, and sometimes I got something like `React Suspense is not supported in SSR`. How did you solve this @searchableguy? Did you create a `withFirebase` higher-order component with `<FirebaseAppProvider>` nested in and wrap your pages with it?

[2020-03-27 18:49] jhuleatt commented on #178
Hey @dannybarinshtein, sorry for the delay. Any chance you can provide a pared-down code sample to demonstrate? I think I understand you use case, and I'm pretty sure that the better solution is still to break things out into different components instead of passing a null query to `useFirestoreDoc`, but having a concrete example would make it easier to discuss.

[2020-03-28 09:50] RodyGL commented on #237
Hi! I was trying to use the updated preloadFirestore to setup emulators and use this config --> [https://firebase.google.com/docs/emulator-suite/connect_and_prototype?database=Firestore#instrument_your_app_to_talk_to_the_emulators](url) but it's not working. Any idea why? I tried without reactfire and works fine.

**Using reactfire v2.0.3**

[2020-03-28 18:07] dannybarinshtein commented on #178
Mid writing up an example here I started to agree with you that it might be best to separate into smaller components.

Lets disregard this :) thanks for the feedback!

[2020-03-30 14:42] raghav0622 commented on #234
It is Possible to use React concurrent mode in next.js with all the experimental stuff. Here's the Snippet:

install react@experimental react-dom@experimental as deps and then in config:

in next.config.js
[code]

[2020-03-31 17:56] jhuleatt opened #241 "Recognizing All Contributors"
The ReactFire repo now uses the [All Contributors spec](https://allcontributors.org/docs/en/overview) to recognize the contributions of everyone that has helped out with ReactFire v2.

[2020-03-31 17:59] jhuleatt commented on #241
To add yourself to the contributors list, invoke the bot:

@all-contributors, please add @jhuleatt for code, doc, example, ideas, tutorial, talk

[2020-03-31 18:21] jhuleatt commented on #241
Testing the bot:

@all-contributors, please add @jhuleatt for code

[2020-03-31 18:52] jhuleatt commented on #241
@all-contributors please add @jhuleatt for code

[2020-03-31 20:47] jhuleatt opened #243 "Quickstart missing SuspenseWithPerf import"
[Step 6](https://github.com/FirebaseExtended/reactfire/blob/master/docs/quickstart.md#6-modify-srcappjs) is missing an import for `SuspenseWithPerf`.

Currently, it says:

[code]

But it should say:

[code]

The text in that step that explains the imports should be updated too.

[2020-04-02 18:00] jhuleatt commented on #241
Working through some permissions issues with the bot's PR https://github.com/FirebaseExtended/reactfire/pull/242

[2020-04-02 18:21] #243 closed

[2020-04-05 00:03] searchableguy opened #245 "TypeError: Cannot read property 'Zb' of undefined"
I am using nextjs with SSR on. I have enabled all the configuration for react experimental support and below is the code to reproduce it. I am not sure if it is my fault (sorry if it is but other hooks tend to work with same exact code)

## Code
[code]
## Dependencies
[code]
## Expected
To work without any problems.

## tsconfig
[code]

## Error
https://paste.gg/p/anonymous/c270f8f85aab4378828f682

[2020-04-06 01:11] w3bdesign commented on #241
@all-contributors, please add @w3bdesign for code

[2020-04-06 01:12] w3bdesign commented on #241
@all-contributors please add @w3bdesign for code

[2020-04-06 03:45] howitzer-industries commented on #228
@jhuleatt I am having a similar issue, there seems to be an issue making a firestore request that requires authentication immediately after signing in. Seems like the token isn't getting sent the first time. If you reload the page after signing in, it works fine.

I made a sample that exhibits it. The repo is here: https://github.com/howitzer-industries/reactfire-auth . Here's a link to a code san

[2020-04-07 19:28] prescottprue commented on #241
@all-contributors please add @prescottprue for code

[2020-04-08 01:38] seanaguinaga opened #248 "Question/How-to"
![image](https://user-images.githubusercontent.com/15254340/78734690-c7101380-78fd-11ea-9ccb-897cb8ac0da6.png)

I know I'm asking you to basically do my job for me, but I'm curious how you'd add in your own type definition for the shape of the data into the existing declaration?

<img width="363" alt="2020-04-07 (2)" src="https://user-images.githubusercontent.com/15254340/78734775-f9ba0c00-78fd-11

[2020-04-08 02:22] #248 closed

[2020-04-09 13:32] howitzer-industries commented on #228
Digging into it further, seems like the `react-firebaseui` callbacks aren't firing either. Maybe it's getting unloaded by `AuthCheck` before firing or it doesn't play nice with async rendering? Going to switch back to plain firebase, but would be curious to hear if anyone figures out what the issue is.

[2020-04-10 23:10] akiarostami commented on #245
It seems that the team has made a change in the useAuth, and since then, I have not been able to figure out how to use any AuthProvider.

Some help and direction would be highly appreciated.

[2020-04-13 19:44] andrei-yanovich opened #249 "useUser returns value null within AuthCheck children after signing out"
Reopening issue #155 , since AuthCheck is not entirely working.

# Version info

**React:** 16.12

**Firebase:** 7.14

**ReactFire:** 2.0.3

### Test case

https://codesandbox.io/s/pensive-fire-2v5qn?file=/src/config.js

### Steps to reproduce

- Use a private component (App) as a child of AuthCheck and Login as a fallback
- Login using the form, App component with the user email should be rendere

[2020-04-18 18:32] mironovich commented on #227
got here because after
`const firestore = useFirestore()`

`firestore.FieldValue` was undefined

This helped, thanks
`const fieldValue = useFirestore.FieldValue;`

[2020-04-21 10:54] cereallarceny commented on #135
@jhuleatt @jamesdaniels What's the best way to track your progress on this issue? Likewise, I'd love to know any plans for documentation that you have outlined. I want to start using ReactFire v2, but I feel it's not easy to apply to my specific use-case without reading source code. Is there some Github project or issue board we can follow?

[2020-04-29 21:30] seanemmer opened #251 "ReferenceError: 'globalThis' is not defined"
Browser: Edge 18

The docs state to polyfill globalThis but I have had no success with the following in my application root:

require('globalthis')()
globalThis = require('globalthis')()
window.globalThis = require('globalthis')()
global.globalThis = require('globalthis')()

[2020-04-29 22:05] jhuleatt commented on #251
@jamesdaniels are you able to help out with this?

[2020-05-03 14:59] nirtamir2 commented on #251
I had the same issue, but I fixed it
I'm not the maintainer of this library or `globalThis` polyfill library so my answer may not be what you really need (I created a react app from CRA):

I added in my `index.ts` file (the first file your app load)
[code]
`loadApp` is loading your app after the `shim` function that does the "polyfilling".
So if your app uses `reactfire` you will have the polyfill

[2020-05-15 23:19] nirtamir2 commented on #251
I had the same issue.

I'm using CRA.
I installed `globalthis` (because its bundle size is smaller than `core-js/features/global-this`)

I created a file `./polifills.ts` with
[code]

And import it as the first import in `index.tsx`.
[code]

**NOTE:** if you try to debug your code in CRA for old browsers compatibility, make sure you `browserslist` entry in `package.json` for development match the

[2020-05-16 14:16] italodeandra opened #256 "useObservable deps being negated by preloadObservable"
I was trying to use the `useObservable` with the **deps** property. Inside the `useObservable` code, the useEffect works fine when the *deps* is changed. But as we filled with an **observableId**, the `preloadObservable` negates the changes on the `useObservable` **deps** because it is using a cached observable that matches the **observableId** filled.

I need help with that because I want the `us

[2020-05-17 05:10] catrawalkar opened #257 "How can I get uid of all documents if I use useFirestoreCollectionData hook ?"
### Version info

**React:**

**Firebase:**

**ReactFire:**

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

After fetching all the documents from a collection, if i want to update one document, how can I do it? I think it will require document uid for this. There is no way to get document ids of all documents.

Is is possible to pass a flag to useFirestoreCollect

[2020-05-17 06:40] madilraza opened #258 "react app with firebase not authenticating"
### Version info

**React:**

**Firebase:**

**ReactFire:**

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

### Expected behavior

### Actual behavior

[2020-05-17 18:18] mrmckeb commented on #228
I can confirm this happens on the second sign-in of any account - but doesn't happen if you sign in with a different account.

Sign-in User A > Sign Out > Sign-in User B > Sign Out > Sign-in User A > Error

[2020-05-17 20:04] mrmckeb commented on #228
I actually think this may be related to #256.

Locally, I added `preloadedObservables.delete(observableId)` in the cleanup function of `useObservable` and this stopped the error form r

[2020-05-18 17:12] jhuleatt commented on #257
Hi @catrawalkar , `useFirestoreCollectionData` accepts a config object that allows you to add an id field to each object in the array it returns. The sample shows how this is done:

https://github.com/FirebaseExtended/reactfire/blob/68cfc7957caa317322fc745ad0880b34a4df1065/sample/src/Firestore.js#L74

This will add an `id` key to every result. The returned objects will look like this:

[code]

It

[2020-05-18 17:13] jhuleatt commented on #258
Hi @madilraza, we can't help if you don't fill out the issue template. Please open a new issue with the information requested in the issue template.

[2020-05-18 17:13] #258 closed

[2020-05-18 17:30] catrawalkar commented on #257
@jhuleatt  Sure, I will try to create a PR for this. What other things can be configured using config object?

Also, before opening an issue, i tried a lot to figure out if this is possible by digging out in the code. I was not able to figure out due to lack of RxJS, TS know how..! Can you help me with good resources to learn these things so I can contribute here?

[2020-05-18 19:35] jhuleatt commented on #257
Great!

Re: learning: It might help if I explain the source of `useFirestoreCollectionData` a bit:

https://github.com/FirebaseExtended/reactfire/blob/68cfc7957caa317322fc745ad0880b34a4df1065/reactfire/firestore/index.tsx#L111-L116

The `options` argument's type is `ReactFireOptions`:

https://github.com/FirebaseExtended/reactfire/blob/68cfc7957caa317322fc745ad0880b34a4df1065/reactfire/index.ts#L1

[2020-05-19 08:26] mrmckeb commented on #256
I've been playing with this a little and I feel that this may be causing #228.

Internally, the observable is created with a document ID (as an example) and when a user logs in, then logs out, then logs in - the old observable is used again and throws an error.

Perhaps there needs to be cleanup on `preloadedObservables`?

[2020-05-19 08:38] italodeandra commented on #256
I'll take a look in your case after work. But I think what they do with "caching" the observable is maybe a good thing.
In my case I fixed by changing the ID when I change the variable inside the observable. And I think it's good because if the user changes the variable back to a observable that already has an ID, it will reuse the cached observable (so the fetch goes way faster the second time).

[2020-05-19 09:36] mrmckeb commented on #256
I definitely agree that caching makes sense - the issue is more that cached observable fails if the user logs out and then back in. Right now I'm manually cleaning up the cached observables to try to solve that.

[2020-05-21 16:03] banyan opened #259 "Is there a way to invalidate useFirestoreDocDataOnce when history.push happened"
Transition to a page with `history.push` to get the required document using `useFirestoreDocDataOnce`. In the meantime, no realtime updates are required. There was an update in the first document when I went to a different page. Go back to the original page again, here I want to run `useFirestoreDocDataOnce` again, is there a way to do that?

subscribe and unsubscribe in `useEffect` might be worke

[2020-05-22 11:23] nelreina commented on #228
I have similar issue with sign-out as @mrmckeb the difference is I get this error with the same user. To prevent this error users needs to refresh their browser. The other thing is I am not using the useObservable hook neither. Just useFirestoreCollectionData and the Authcheck component.

Our app was build without using reactfire by creating our own hooks to handle firebase and firestore. By imple

[2020-05-22 12:17] mrmckeb commented on #228
@nelreina the useObservable`hook is also used inside of `useFirestoreCollectionData` which is why you hit this.

I found a very temporary workaround, which might help you. I run it after logout.
[code]

It may cause more problems for you though, depending on how your app is built - but for me, it works as logged out users don't see anything from the database.

[2020-05-22 16:18] arnoutaertgeerts opened #260 "Reactfire with the current production version of React"
Hey,

Is it possible to use Reactfire with the current production version of react? From the documentation, it is clear the _intended use of Reactfire is Concurrent mode_. However, it feels like the main feature that is used from Concurrent mode is the `<Suspense>` component for data fetching.

When going through the React documentation for Concurrent mode, I found a feature comparison of the diff

[2020-05-23 04:47] nelreina commented on #228
@mrmckeb Thank you I will try it

[2020-05-26 21:04] jhuleatt commented on #260
Thanks for the question @arnoutaertgeerts!

Current production versions of React (16.13, for example) only officially support a narrow use case of Suspense: lazy loading components. From the current [React docs](https://reactjs.org/docs/code-splitting.html#reactlazy) (May 2020):

**ReactFire is currently mainly aimed at (and tested with) Concurrent mode, and using Reactfire in its default mode whe

[2020-05-27 06:11] jhuleatt commented on #228
Thanks for the repros and additional information!

`AuthCheck` only renders children when a `user` object is returned from `useUser`, so I thought `useUser` might be the culprit, but after taking a look it seems to be working correctly. I'm wondering if a Firestore query (cached in the `_reactFirePreloadedObservables` cache) initiated by one user can't be continued by another user. Maybe ReactFire

[2020-05-27 18:12] #260 closed

[2020-05-27 20:52] jhuleatt commented on #228
Thoughts from @jamesdaniels : maybe we handle permission denied errors as a special case, if we encounter, clear the current value out of the cache and retry once

Or we can look into subscribing to Auth state on a deeper level

[2020-05-28 04:33] seanemmer commented on #251
Resurfacing this as there has been no official commentary - the CRA approach above works but I am having issues with Gatsby.

Is it possible to add the polyfill back to the package?

[2020-05-28 08:02] mrmckeb commented on #228
Interesting @jhuleatt - I guess the other case that would need to be handled there is when you you might expect permission denied? However, I think most applications would be developed in a way where that shouldn't be an issue.

[2020-05-28 12:59] arnoutaertgeerts commented on #260
Thanks for the clear answer! From your documentation, it was quite clear that this was the case but the React docs did confuse me. The proposed solution in PR https://github.com/FirebaseExtended/reactfire/pull/255 looks great.

[2020-05-28 17:15] jhuleatt commented on #249
Thanks for reporting, @andrei-yanovich! We have a test to specifically guard against this, so I will revisit this test and see why it isn't catching this case: https://github.com/FirebaseExtended/reactfire/blob/21b6702f36ac6e06a29e74585278d0e3a10d36cc/reactfire/auth/auth.test.tsx#L128

[2020-05-28 17:55] jhuleatt commented on #228
Agreed, we still need to surface permission denied when it is accurate.

I'm also wondering if this issue might be related to #249

[2020-05-28 18:31] jhuleatt commented on #249
And this test specifically tests the "loaded with an active session" case:

https://github.com/FirebaseExtended/reactfire/blob/21b6702f36ac6e06a29e74585278d0e3a10d36cc/reactfire/auth/auth.test.tsx#L103

[2020-05-28 18:33] jhuleatt commented on #249
Probably has to do with our mocking. The [Auth Emulator](https://github.com/firebase/firebase-tools/issues/1677#issuecomment-632685377) can't come soon enough!

Still investigating.

[2020-06-02 15:53] #245 closed

[2020-06-04 15:47] jhuleatt commented on #249
@jamesdaniels has been looking into similar Auth issues in AngularFire

[2020-06-08 18:46] seanaguinaga opened #262 "useFunctionsEmulator() Supported?"
Hello

Is useFunctionsEmulator Supported?

It does not seem to function at all when used.

[code]

Am I simply calling it wrong?

[2020-06-09 01:08] seanaguinaga commented on #262
Ah. I was getting an error because it wasn’t preloaded.

I occasionally get an error if things don’t load in the right order or if functions are not fully loaded in time. Is there a way to force the “availability “ of certain parts of reactfire?

[2020-06-13 01:15] kafein commented on #238
Hi @jhuleatt

Is there any progress for dataConverter support?

[2020-06-19 20:34] mateja176 opened #263 "FR: useFirestoreCollectionChanges"
Support for `useFirestoreCollectionChanges` hook inspired by rxfire's [collectionChanges](https://github.com/firebase/firebase-js-sdk/blob/master/packages/rxfire/docs/firestore.md#collectionchanges)

[2020-06-20 03:37] catrawalkar opened #264 "What is the cleanest way to query All reference documents inside a of document while querying a collection of documents?"
### Steps to reproduce

I have 2 different collections: animals (1) and types (2).

Animals Collection looks like this:
[code]
Types Collection looks like this:
[code]
I want to query animals collection so that all the reference document information will also be available to me. Result I am looking for is like this:
[code]
What is the cleanest way to do this?

Right now I am doing something like:

[2020-06-20 04:38] catrawalkar commented on #264
[Sandbox Link](https://codesandbox.io/s/sweet-panini-zj0n4?file=/src/App.js:287-526)

[2020-06-29 20:39] petermiles opened #265 "firebaseConfig when passing firebaseApp into FirebaseAppProvider"
### Version info

**React:**
react@16.13.1

**Firebase:**
@firebase/testing@0.20.4

**ReactFire:**
reactfire@2.0.3

**Other (e.g. Node, browser, operating system) (if applicable):**
Using react-scripts@3.4.1

### Test case

https://jsfiddle.net/j1pmo8Lu/6/

### Steps to reproduce

I have created a TestProvider that I use to render all of my jest tests with the appropriate contexts like firebase, r

[2020-07-02 11:14] shamoons commented on #234
Will try today. But can a page be wrapped in Suspense?

[2020-07-06 11:39] iamsanjaykrishnan opened #266 "reactfirestore usage with Source.CACHE"
Request for example to use Source.CACHE with useFirestoreCollectionData.

Is there a reactfire option to query only from cache when network is available

[2020-07-06 18:11] iamsanjaykrishnan commented on #266
useFirestore().collection("path")..orderBy("a").get({
      source: "cache"
    })

 works fine for my application.

[2020-07-06 18:11] #266 closed

[2020-07-07 13:15] jeff-kroot opened #267 "Unable to set a region with useFunctions()"
Currently, we have to do the following to specify the region with `useFunctions()`:

[code]

This does not seem like the way it should work (also seeing it's undocumented).

Maybe something like the following:

[code]

[2020-07-12 13:48] ChrisBrownie55 commented on #228
Is this going to be fixed soon? I'm planning on trying @mrmckeb's workaround for now.

[2020-07-16 02:40] SwiftWinds opened #268 "can't access property "increment", firestore.FieldValue is undefined"
### Version info

**React:** 16.13.1

**Firebase:** 7.15.5

**ReactFire:** 2.0.3

**Node:** v12.18.1

### Test case

https://stackblitz.com/edit/react-nctwiy

### Steps to reproduce

Wrap your `<App />` in `FirebaseAppProvider`, set `const firestore = useFirestore()`, set `const increment = firestore.FieldValue.increment(1)`, and watch everything implode ;P

### Expected behavior

There not to be

[2020-07-17 01:58] harshittrehan opened #269 "[Feature Request] Push Notification trigger scheduling using Admin SDK and FCM."
There doesn't seem to exist a FCM API to schedule a push notification for a later date/time using the Admin SDK.

This only seems possible via Notification Composer in the Firebase Console.

I need to set a schedule/trigger time programmatically based on some calculations done by getting the data of the user from Cloud Firestore.

Hence, I am using Cloud Functions + Admin SDK to do my time calcula

[2020-07-17 02:12] #269 closed

[2020-07-17 02:12] harshittrehan commented on #269
Opened the issue in the wrong project. My apologies.

[2020-07-17 09:02] danilowanner commented on #178
Splitting into multiple components is generally doable. However going with this approach will not allow to compose the hooks together, to encapsulate more complex behaviour. Something like:

[code]

In this example the desired document reference is only available once `useAuthState` returns the user.

Other than passing a `null | undefined` document reference while resolving the dependency, or spl

[2020-07-18 09:01] zhigang1992 commented on #260
I not sure if that is correct, we are using suspense in our app for data loading, api request and text resource loading.

And we are using prod version of React. Everything seems to be working just fine.

[2020-07-21 22:14] prescottprue commented on #268
You are attempting to use the statics (i.e. `firebase.firestore` instead of `firebase.firestore()`). Try doing the following instead:

[code]

or you can destructure:

[code]

[2020-07-21 23:09] SwiftWinds commented on #268
Yup! That seems to have done the trick; thanks! :)

[2020-07-21 23:09] #268 closed

[2020-07-22 00:13] SwiftWinds commented on #268
Yeah, I would tend to agree. It's just that one of the resources that I found on ReactFire (and how I found out about it in the first place) was from [this talk](https://youtu.be/Mi9aKDcpRYA?t=1103), where he does:
[code]
and it somehow works! 🤨 I guess this talk was some time ago, though, so perhaps the API changed.

Anyways, although the [Firebase API Reference](https://firebase.google.com/docs/

[2020-07-27 07:22] RaptorShiny opened #270 "Loading chunk 13 failed."
Good afternoon, I do not know if it is a problem but the application freezes when I refresh the page many times, about 26 attempts in a row, send me this message:
"loading chunk 13 failed."
My doubt is how to solve this, will this be a FireStore security method, since the SDK crashes, and the application stops with the error. How could I solve this?

[2020-08-04 00:51] camilovegag commented on #213
Hey! did you manage to solve this issue? Im having the same one right now

[2020-08-04 00:56] aaronksaunders commented on #213
I believe fallback property is a component not a string

On Mon, Aug 3, 2020 at 8:51 PM Camilo Vega <notifications@github.com> wrote:

--

--

Aaron K. Saunders
CEO Clearly Innovative Inc - Luma Lab - In3
aaron@clearlyinnovative.com
www.clearlyinnovative.com
www.In3DC.com

This email message and any attachment(s) are for the sole use of the
intended recipient(s) and may contain proprietary and/or

[2020-08-04 04:12] camilovegag commented on #213
You can uses both, I managed to solve this by putting a ternary operator which determine if a user has been logged. That seems odd cause I think <AuthCheck> already does it but now my log in with user from useUser(); works!

[2020-08-08 12:39] Carduelis opened #273 "Reactfire and FirebaseUI when Firebase is hosted by CDN"
Hello!

I'm struggling with reactfire v2 and using FirebaseUI with Firebase loded by CDN.

Unfortunately, reactfire requires firebase to be installed and added to `package.json`, therefore it will increase the bundle size of app.

Unfortunately, reactfire **doesn't work without** `npm i firebase`. I think, usage firebase hosted on `/__/` folder and loading it using `defer` key -- is the best way t

[2020-08-12 22:15] SilverBirchh opened #275 "firebase[componentName] is always undefined using CRA"
Apologies, this might just be me being really stupid. I have an issue using `Suspense` and `AuthCheck` in a CRA app but works perfectly in a stackblitz.

### Version info

**React:** 0.0.0-experimental-94c0244ba

**Firebase:** ^0.6.9

**ReactFire:** ^2.0.0-rc.1

**Other (e.g. Node, browser, operating system) (if applicable):**  Node - v12.16.1, Mac, Firefox

### Test case

Sorry, it works on stack

[2020-08-13 14:13] #275 closed

[2020-08-15 07:53] zhigang1992 opened #276 "issue with sharing useObservable hooks"
For example:

we have a

[code]

And this hooks is shared across the app in multiple component that get mounted on the screen at the same time.

Now if one of these component unmount, it will trigger unsubscribe and `_reset` function in `SuspenseSubject`.

Which will then corrupt all the other mounted components's state.

Is there something wrong with that usage?

Should we maybe just keep the Sus

[2020-08-23 14:55] mateja176 opened #277 "useUser throws even when auth sdk is not loaded despite having provided startWithValue"
### Version info

**React:** latest

**Firebase:** latest

**ReactFire:** latest

**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

### Steps to reproduce

Instantiate `useUser` in a component.

[code]

### Expected behavior

Taken from the API docs:

### Actual behavior

Component is supended

[2020-08-27 21:23] marianrick commented on #235
Thanks for the hint to use `preloadFirestore()`. But I am confused how to use it to setup my local emulator settings.

Currently I am using the preloading like suggested in your example App with the exact same code like you have quoted @jhuleatt . How can I add a `.settings({host: 'localhost:8080', ssl: false})` to it?

I have tried the following, but it does not work with enablePersistence (which

[2020-08-28 07:51] marianrick commented on #235
Thanks in advance for any thought in this, but I have solved it myself:

[code]

I just missed some basic knowledge about this syntax. Thanks for the good example App 🙌

[2020-09-01 19:25] matigumma commented on #245
<button onClick={() => auth.signInWithPopup(provider)}>

[2020-09-03 13:15] izakfilmalter opened #279 "`switchMap` with `useObservable` comes back as empty every time."
### Version info

**React:**
```0.0.0-experimental-94c0244ba```
**Firebase:**
```7.19.1```
**ReactFire:**
```2.0.3```
**Other (e.g. Node, browser, operating system) (if applicable):**

### Test case

I am trying to do a nested lookup and then pass it into `useObservable`. I can get it working if I subscribe directly and save to local state, but it seems like there is an issue with using `switchMap

[2020-09-29 10:23] nicoladj77 opened #282 "documentation for AuthCheck and ClaimsCheck"
Hi, I've been trying to find documentations for `AuthCheck` `requiredClaims` property. My understanding is that this should solve my use case of checking if the user has the correct role ( which is stored in Firestore, not in the Authentication module ) but I can't find it, could you point out where it is and if it's is possible to validate a custom Claim?

[2020-10-02 20:41] hubgit commented on #228
Is there an issue open for this? It was a bit surprising to get an Uncaught FirebaseError when accessing a document without permission.

[2020-10-06 05:27] windsterx opened #283 ".where() "!=" ?"
.where() doesnt support "!=" as its second argument??
it gives me error FirebaseError: Invalid value "!=" provided to function Query.where() for its second argument. Acceptable values: <, <=, ==, >=, >, array-contains, in, array-contains-any
.where("captial","!=","")

[2020-10-16 18:54] hubgit opened #284 "Publish v2.0.4"
Would it be possible to publish [v2.0.4](https://github.com/FirebaseExtended/reactfire/releases/tag/v2.0.4) to the npm registry? Currently the latest published version is v2.0.3, from 7 months ago.

[2020-10-19 19:52] hubgit commented on #262
This works for me:

[code]

[2020-10-19 21:46] elliotcw commented on #267
I've recently moved to `"firebase": "^7.24.0",`  and have had to change this a bit. Now you need to drop the dangling underscore on region.

So
[code]

[2020-10-22 13:47] seanaguinaga commented on #262
Thank you @hubgit !

[2020-10-22 13:47] #262 closed

[2020-10-23 19:32] fredy31 opened #285 "snapshot.data is not a function"
Getting this error while trying to modify the tutorial for my needs.

Here is my code
[code]

I've bee trying to debug this for a while but I don't even know what pushes this error. Anybody got that one before?

[2020-10-26 14:45] marvinderksen opened #286 "Is useFirestoreDocData supposed to be used multiple times with different docRefs?"
### Version info
**React:** ^16.13.1
**Firebase:** ^7.24.0
**ReactFire:** ^2.0.3

This might be a silly question and I'm a newbie to React tbh (my problem might therefore arise from some misuse of React), but here is the thing:
The following component takes an argument which changes according to the user's navigation. It is an identifier towards a single document of a collection.
GIVEN the compone

[2020-10-28 20:44] hubgit opened #287 "Support firebase v8.0.0"
https://firebase.google.com/support/release-notes/js#version_800_-_october_26_2020

v8.0.0 of `firebase` contains a breaking change:

[code]

should now be

[code]

Adding `firebase` ~8 as a peerDependency would probably be a good idea.

[2020-11-15 00:29] Tibo46 commented on #226
Hi,

I'm getting the same error and i just have a new react project created with CRA and copied / pasted the code example from the readme of reactfire.
My package.json dependencies looks like that:
`"dependencies": {
    "@firebase/app": "^0.5.4",
    "@firebase/util": "0.2.40",
    "@testing-library/jest-dom": "^5.11.5",
    "@testing-library/react": "^11.1.2",
    "@testing-library/user-event":

[2020-11-16 00:22] fronbasal commented on #287
I tried fixing this, unfortunately most of the tests break and require fixing beyond my knowledge of TypeScript (or JavaScript, for that matter).

[2020-11-16 09:03] DenisGorbachev commented on #287
This is a blocker for using `reactfire`.

@jhuleatt Would highly appreciate if you could take a look - maybe it's just a quick fix :)

[2020-11-16 10:59] fronbasal commented on #287
Absolutely! I manually downgraded firebase to 7, but that excludes a couple of neat features :(

[2020-11-19 12:08] Diveafall commented on #287
Following the quick-start guide faces you with the error described above. Would be great if there was a note written somewhere that would make you aware of the problem before it arrives.

[2020-11-20 20:13] #287 closed

[2020-11-20 23:03] jhuleatt commented on #283
Hey @windsterx, sorry for the slow response. That feature was added in [`7.21.0`](https://firebase.google.com/support/release-notes/js#version_7210_-_september_17_2020) of the Firebase SDK, so it's likely you were referencing an older version in your package.json file.

[2020-11-20 23:10] jhuleatt commented on #282
Hi @nicoladj77, `requiredClaims` checks [Auth custom claims](https://firebase.google.com/docs/auth/admin/custom-claims). This isn't well-documented at the moment, but I have a TODO to add tests that better show how this works.

[2020-11-20 23:13] jhuleatt commented on #273
Hey @Carduelis, the [sample](https://github.com/FirebaseExtended/reactfire/blob/0cdfc7d2e2179532d5caeae5d5ae705274c073bc/example/withoutSuspense/Auth.tsx#L45-L62) shows how to use ReactFire and FirebaseUI together.

Supporting the CDN builds of Firebase isn't something we target right now, but I think @jamesdaniels may be looking in to this?

[2020-11-21 01:03] jamesdaniels commented on #273
While we do expect that the SDKs are coming in from a bundler we are dynamically importing them, so they won't affect your main bundle size. Webpack, et al. should code-split for you. When combined with SSR / pretense ring this will give your users a much better experience than simply a deferred script.

Allowing CDN loading isn't a priority for us at the moment, due to bundlers giving you more fl

[2020-11-21 01:03] #273 closed

[2020-11-21 01:07] #283 closed

[2020-11-21 16:13] soydulceangelina commented on #284
Hello,what I did was installing directly from GitHub on the master branch, like this:

[code]

[2020-11-21 16:55] DavideVito opened #292 "Error while importing FirebaseAppProvider"
### Version info

**React: 16.3.1**

**Firebase: 8.1.1**

**ReactFire: 2.0.3**

### Steps to reproduce

1) yarn add reactfire firebase
2) import the library using: `import { FirebaseAppProvider } from 'reactfire'`

### Expected behavior

That it works

### Actual behavior

Error: `Attempted import error: 'apps' is not exported from 'firebase/app' (imported as 'firebase').`

[2020-11-21 19:58] NSarg7 commented on #292
Hi everyone.
The problem is here "reactfire/firebaseApp/index.js" line: 19;

import * as firebase from 'firebase/app';

must be change to

import firebase from 'firebase/app';

The problem was described [here](https://stackoverflow.com/questions/64545862/upgrade-to-firebase-js-8-0-0-attempted-import-error-app-is-not-exported-from).

[2020-11-21 20:59] hubgit commented on #284
How does that work when there's no `dist` directory in the source code, and package.json contains `"main": "dist/index.js"`?

[2020-11-21 21:37] jamesdaniels commented on #292
We're working on new release that supports Firebase v8, in the meantime please stay on Firebase v7.

[2020-11-25 04:21] prescottprue commented on #292
Great to know @jamesdaniels

What are thoughts on adding firebase as a peer dependency moving forward. I believe that if we had `"firebase": "^7"` as a peer dependency then it would be clear when installing that you can't use v8 of the firebase sdk with the current version of reactfire

[2020-11-25 04:47] coderinblack08 commented on #292
This is similar to https://github.com/firebase/firebaseui-web/issues/771. I tired manually editing the node_modules to change the imports. No luck. Any quick fixes?

[2020-11-25 04:50] coderinblack08 commented on #292
I ran `yarn add firebase@^7.0.0`, but I'm still getting the error...

[2020-12-02 21:20] jhuleatt opened #295 "Remove NO_ID_FIELD key from data hooks"
Remove `NO_ID_FIELD` key from `useFirestoreDocData`,`useFirestoreCollectionData`, `useDatabaseListData`, `useDatabaseObjectData`.

This key is inserted when no `idField` option is passed to these functions. However, it ends up being pretty confusing. Instead, if `idField` is not provided, we can just omit the document id.

[2020-12-02 21:24] jhuleatt opened #297 "Alias startWithValue to initialData"
#255 changed the `startWithValue` option to `initialData`. Let's alias `startWithValue` and mark it deprecated in our types so that it's easier to migrate.

[2020-12-04 00:42] jhuleatt commented on #260
#255 has been merged and release candidate `3.0.0-rc.0` has been released. Run `npm install reactfire@latest` to try it out! This new version can be used more easily with stable builds of React.

[2020-12-05 00:50] germanfr opened #304 "Access has been blocked by CORS policy"
Hi! I'm getting a **CORS** error when trying to sign in with a user from Chrome. It works when I use Firefox.

### Version info

**React:** 16.13.0
**Firebase:** 8.1.1
**ReactFire:** 3.0.0-rc.0
**Chrome:** 87

### Test case

This is my view code. `<Form/>` is the form component and returns the correct email and password.

[code]

### Steps to reproduce

I followed a simplified version of [this exa

[2020-12-05 07:11] jamesdaniels commented on #304
So what strikes me about this error message is `https://localhost:3000` vs `http://localhost:3000`, http**sssssss**, did you maybe put `localhost:3000` into your allowed auth domains in either the console or your firebase config? I don't think you need to do this as localhost is generally special-cased w/re to sandboxing.

[2020-12-05 07:16] jamesdaniels commented on #284
Closing as outdated as we've moved onto the next release. Sorry about the CI/CD issues gumming things up.

[2020-12-05 07:16] #284 closed

[2020-12-05 09:00] germanfr commented on #304
Thank you! That was it! I'm sorry I didn't catch that up.

For the record, to run react on `localhost` with https I had to add `HTTPS=true` to the `.env` file. Otherwise it wouldn't work.

PS: I didn't add localhost in the Firebase console. It was already there just as "localhost" without the port and protocol.

[2020-12-05 09:00] #304 closed

[2020-12-10 00:18] jamesdaniels commented on #135
Closing as outdated & moving future conversations like this to discussions. See https://github.com/FirebaseExtended/reactfire/discussions/309

[2020-12-10 00:19] jamesdaniels commented on #260
Please provide any feedback here https://github.com/FirebaseExtended/reactfire/discussions/309

[2020-12-10 00:19] #135 closed

[2020-12-10 00:21] jamesdaniels commented on #292
Closing as we support v8 with 3.0.0-rc.0 and master & have started including a peerDep in the package.json

[2020-12-10 00:21] #292 closed

[2020-12-10 00:30] jamesdaniels commented on #251
We don't plan to polyfill in the package, polyfilling is up to the user.

[2020-12-10 00:30] #251 closed

[2020-12-10 00:31] #235 closed

[2020-12-10 00:34] #234 closed

[2020-12-10 00:34] #256 closed

[2020-12-10 00:34] #257 closed

[2020-12-10 00:34] #259 closed

[2020-12-10 00:35] #264 closed

[2020-12-10 00:35] #270 closed

[2020-12-10 00:35] #276 closed

[2020-12-10 00:35] #279 closed

[2020-12-10 00:35] #285 closed

[2020-12-10 00:35] #286 closed

[2020-12-10 00:35] #230 closed

[2020-12-10 00:35] #238 closed

[2020-12-10 00:35] #263 closed

[2020-12-10 00:40] #236 closed

[2020-12-10 00:44] #193 closed

[2020-12-10 00:44] #137 closed

[2020-12-10 00:44] #139 closed

[2020-12-10 00:44] #195 closed

[2020-12-10 00:44] #267 closed

[2020-12-10 00:47] #227 closed

[2020-12-10 01:00] jamesdaniels commented on #188
This is the expected behavior of the Firebase JS SDK, which we use. Feature request is #195

[2020-12-10 01:00] #188 closed

[2020-12-10 01:01] #178 closed

[2020-12-10 01:02] #222 closed

[2020-12-10 01:02] #228 closed

[2020-12-10 01:02] #241 closed

[2020-12-10 01:15] #202 closed

[2020-12-12 13:58] stevenkaspar opened #312 "preloadFirestore param"
https://github.com/FirebaseExtended/reactfire/blob/848eaa3c6993221c52d81c86c68700130a2d27f2/sample/src/App.js#L41

I think this should be `preloadFirestore({ firebaseApp }, (firestore) => {`

I get undefined `name` when following docs example